$checkbox-background: #ffffff;
$checkbox-border: #E0E3E5;
$checkbox-border-radius: 4px;
$checkbox-checked: #3AB86F;
$checkbox-border-checked: #334657;

@mixin vh() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__title {
    margin-left: 32px;
  }

  &__checkmark {
    &:hover {
      cursor: pointer;
    }
  }

  label {
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: #929699;
  }
}


input[type="checkbox"] {
  @include vh();

  + label {
    position: relative;
    user-select: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;

      box-sizing: border-box;
      border: 1px solid $checkbox-border;
      border-radius: $checkbox-border-radius;

      background: $checkbox-background;
      text-align: center;
      transition: background 200ms ease-out;
    }

    &:after {
      content: "";
      position: absolute;
      transform: scale(0);
      transition: transform 200ms ease-out;
    }
  }
}

input[type="checkbox"] {
  + label {
    &:after {
      display: none;
      background-color: transparent;
      content: "";
      position: absolute;
      left: 10px;
      top: -5px;
      width: 7px;
      height: 18px;
      opacity: 0.2;

      border: solid $checkbox-checked;
      border-width: 0 1px 1px 0;
      transform: rotate( 45deg);
      transition: border-color 0.3s ease;
    }
  }
  &:checked {
    + label {
      color: $checkbox-border-checked;

      &:before {
        content: "";
        border: 1px solid $checkbox-border-checked;
      }

      &:after {
        display: block;
        content: "";
        opacity: 1;
      }
    }
  }
}