$yellow: #EBBA16;
$green: #3AB86F;
$green-1: #3DCC79;
$red: #ff4e50;
$white: #FFFFFF;
$gray: #7D7E8E;
$gray-1: #54545E;;
$bittersweet: #FF695B;

$bittersweet: #FF695B;

$black: #000000;
$main: #304456;

$nav-link: #54545E;
$nav-link-hover: #3AE682;


$offerChanceLabel: #3AB86F;
$offerChanceValue: #74828E;
