@import "mixins";
@import "colors";
@import "datepicker";
@import "select";

* {
  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF url("~@/assets/img/background.svg") no-repeat top;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Inter, sans-serif;
  font-style: normal;
  color: $main;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

ul {
  display: flex;
}

li {
  list-style: none;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #304456;
  border-radius: 0.5px;
  display: block;
}

.arrow-reverse {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #304456;
  border-radius: 0.5px;
  display: block;
}

hr {
  border: none;
  color: #3AB86F;
  background-color: #3AB86F;
  height: 1px;
}

.logo-label {
  font-family: Montserrat-Bold, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: $main;

  margin-right: 44px;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  &__main {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    background-color: $green;
    border: 1px solid #FFFFFF;
    border-radius: 64px;

    &-reverse {
      color: $green;
      background-color: #FFFFFF;
      border: 1px solid $green;
      border-radius: 64px;

      &:hover {
        cursor: pointer;
        background: $green;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
      }
    }

    &:hover {
      cursor: pointer;
      background: #FFFFFF;
      color: $green;
      border: 1px solid $green;
    }
  }

  &__password-show {
    background-image: url("~@/assets/img/icon-login_password-show.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 15px;
    display: flex;

    &:hover {
      cursor: help;
    }
  }

  &__next {
    background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    &:hover {
      cursor: pointer;
    }
  }

  &__confirm-email {
    background: #3DCC79;
    border-radius: 6px;
    font-size: 14px;
    line-height: 52px;
    width: 100%;
    max-width: 130px;
    max-height: 52px;

    @include max_1239 {
      max-width: 100%;
    }
  }

  &__change-email {
    font-size: 14px;
    line-height: 20px;
  }
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;

  color: #304456;
}

.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #304456;

  margin-top: 16px;
}

.information {
  &__collapsed {
    margin-top: 133px;
  }

  margin-top: 65px;
  margin-bottom: 95px;

  align-items: flex-start;
  text-align: left;

  @include max_1239 {
    .title {
      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      padding-left: 24px;
    }
  }

  &__content {
    margin: 15px 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
  }
}

.input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E6E6EB;
  box-sizing: border-box;
  border-radius: 12px;

  font-size: 14px;
  line-height: 20px;

  padding: 17px;

  color: #54545E;

  &__datepicker {
    &:hover {
      cursor: pointer;
    }
  }

  &::placeholder {
    color: #8D8D94;
  }

  &.invalid {
    border-color: $red;
  }

}

.invalid {
  border-color: $red !important;
}

.require {
  color: red;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}


.questions {
  &__content {
    margin-top: 72px;

    @include max_1239 {
      margin-top: 20px;
    }
  }
}

.important-information {
  &__content {
    margin-top: 45px;

    @include max_1239 {
      margin-top: 25px;
    }
  }
}

.consumer-information {
  .title {
    font-size: 24px;
    line-height: 29px;
    font-family: Inter-SemiBold, sans-serif;

    @include max_1239 {
        font-size: 18px;
        line-height: 22px;;
    }
  }

  &__content {
    margin: 15px 0 0 25px;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;

    @include max_1239 {
      margin: 15px 0 0 0;
    }
  }
}

// Button
.btn-main {
    background: $green;
    border-radius: 64px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;

    border: none;

    &:hover {
        cursor: pointer;
    }
}

// Accordion
.info-accord {
    margin-top: 55px;

    .open {
        span {
            color: $green;
        }

        .plus {
            display: none;
        }

        .minus {
            display: flex;
            align-items: center;
        }

        .text {
            display: block;
            padding-right: 10px;
        }
    }

    &__item {
        margin-bottom: 25px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(159, 169, 188, 0.56);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;

        color: $main;

        padding: 2px 0 3px 25px;

        .label {
            display: flex;
            justify-content: space-between;

            padding-top: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .text {
            display: none;
            margin-top: 25px;
        }

        @include s_1240 {
            line-height: 24px;
        }

        .plus, .minus {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;
            color: $green;
            margin-right: 25px;
            display: flex;
            align-items: center;

            @include s_1240 {
                font-size: 20px;
                margin-right: 20px;
            }
        }

        .minus {
            display: none;
            margin-right: 23px;
        }
    }
}

// Text
.text-yellow {
    color: $yellow;
}

.text-green {
    color: $green;
}

.text-bold {
    font-weight: bold;
}

.text-dark, .text-gray {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    opacity: 1;
}

.text-gray {
    opacity: 0.67;
    font-weight: normal;
}

// Rate
.rate-value-star {
    background: linear-gradient(220.24deg, #FBFF23 18.51%, #FFA800 83.97%), #C4C4C4;
    border-radius: 0.5px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 19px;
    width: 18px;

    &:not(:last-child) {
        margin-right: 4px;
    }
}

// Todo: Check
.sum {
    display: flex;
    flex-direction: row;


    .old-value {
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 17px;

        /* identical to box height */
        text-decoration-line: line-through;
        color: #FF695B;
        margin-right: 5px;
        padding-top: 6px;
    }

    .credit-color {
        color: #FF695B !important;
    }

    .value, .re-calc-value {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-align: right;

        color: #304456;

        margin-bottom: 10px;
        margin-right: 5px;
    }

    .re-calc-value {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 0;
    }

    .currency {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #304456;
        opacity: 0.67;

        align-self: center;
    }
}

// Links
.links {
    margin-top: 110px;

    @include s_1240 {
        margin: 50px 20px 0 20px;
    }

    &__items {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        @include min_1240 {
            max-width: 705px;
        }
    };

    &__item {
        text-decoration: none;
        width: 300px;

        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 40px;

        /* dark */
        color: #304456;

        background-color: #FFFFFF;
        border-radius: 5px;

        padding: 5px 0 5px 25px;

        box-shadow: 0 2px 8px rgba(159, 169, 188, 0.56);

        margin-bottom: 20px;

        span {
            border-bottom: 1px solid $main;
        }

        &:not(:nth-child(even)) {
            margin-right: 55px;
        }

        &:hover {
            background-color: #3DCC79;
            color: #FFFFFF;

            span {
                border-bottom: 1px solid #FFFFFF;
            }
        }



        @include s_1240 {
            width: 40%;
        }

        @include s_834 {
            width: 100%;
            margin-right: 0 !important;
        }
    }
}

// Information
.information {
    margin-top: 35px;

    @include s_1240 {
        margin: 35px 20px 0 20px;
    }

    .label {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;

        color: $main;

        @include s_1240 {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .descriptions {
        margin-top: 15px;
        margin-left: 35px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        color: #304456;

        @include s_1240 {
            font-size: 16px;
            line-height: 26px;
            margin-left: 0;
        }
    }
}

// Display btn
.display {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #8D8D94;

    @include s_1240 {
        font-size: 8px;
        line-height: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}

.cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}
