$namespace: 'xmx';

$default-color: #54545E;
$primary-color: #3ab86f;

@import '~vue2-datepicker/scss/index.scss';


.xmx-datepicker {
  width: 100%;
}

.xmx-input-wrapper {
  width: 398px;
  height: 56px;
  border-top: 1px;
  border-bottom: 1px;

  @include max_1239 {
    min-width: 335px;
    width: 100%;
    height: 46px;
  }

  &:hover {
    .xmx-icon-clear {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
  }
}

.xmx-input {
  height: 56px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E6E6EB;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;
  line-height: 20px;
  padding: 18px;
  color: #54545E;

  @include max_1239 {
    height: 48px;
    width: 100%;
  }

  &:hover {
    border-color: #E6E6EB;
  }

  &:focus {
    border-color: #E6E6EB;
  }
}

.xmx-icon-calendar, .xmx-icon-clear {
  width: 56px;
  height: 54px;

  right: 0;
  top: 28px;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #304456, #304456), linear-gradient(276.68deg, #E6E6EB -4.17%, rgba(230, 230, 235, 0) 161.36%);
  border-radius: 0 12px 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  @include max_1239 {
    height: 48px;
    top: 24px;
  }
}

.xmx-datepicker svg {
  fill: #FFFFFF;
}
