@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url('~@/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('~@/assets/fonts/Inter/Inter-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Inter-Black';
  src: local('Inter-Black'), url('~@/assets/fonts/Inter/Inter-Black.otf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'), url('~@/assets/fonts/Inter/Inter-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: local('Inter-ExtraBold'), url('~@/assets/fonts/Inter/Inter-ExtraBold.otf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter-SemiBold'), url('~@/assets/fonts/Inter/Inter-SemiBold.otf') format('truetype');
}