.icon {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-email {
  background-size: contain;
  background-image: url("~@/assets/img/icon-mail.svg");
}

.icon-email-success {
  background-size: contain;
  background-image: url("~@/assets/img/icon-mail-success.svg");
}

.icon-success {
  background-size: contain;
  background-image: url("~@/assets/img/icon-success.svg");
}

.icon-check {
  background-size: contain;
  background-image: url("~@/assets/img/icon-check.svg");
}

.icon-card {
  background-size: cover;
  background-image: url("~@/assets/img/icon-card.svg");

  @include max_1239 {
    background-image: url("~@/assets/img/icon-card-mob.svg");
  }
}