@import "colors";

.lang {
  &__select {
    display: flex;
    position: relative;
    z-index: 101;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("~@/assets/img/icon-lang.svg");
    width: 22px;
    height: 22px;
    margin-right: 12px;
  }

  &__value {
    margin-right: 10px;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    left: -45px;

    filter: drop-shadow(2px 2px 24px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 5px;

    width: 200px;
    max-height: 205px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;


    &:hover {
      color: white;
      background-color: rgba(58, 184, 111, 1);
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(125, 126, 142, 0.5);
    }
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__flag {
    min-width: 40px;
    min-height: 30px;

    max-width: 40px;
    max-height: 30px;

    object-fit: cover;
    margin-right: 10px;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: transparent;
    z-index: 100;
  }
}