@import "mixins";
@import "fonts";
@import "colors";

@include indentation('.mt-', 'margin-top');
@include indentation('.mr-', 'margin-right');
@include indentation('.ml-', 'margin-left');
@include indentation('.mb-', 'margin-bottom');

@include indentation('.pt-', 'padding-top');
@include indentation('.pr-', 'padding-right');
@include indentation('.pl-', 'padding-left');
@include indentation('.pb-', 'padding-bottom');

@include indentation('.fw-', 'font-size');
@include indentation('.lh-', 'line-height');

@include fontWeight('.fw-', 'font-weight');

@include min_1240 {
  @include indentation('.d-mt-', 'margin-top');
  @include indentation('.d-mr-', 'margin-right');
  @include indentation('.d-ml-', 'margin-left');
  @include indentation('.d-mb-', 'margin-bottom');

  @include indentation('.d-pt-', 'padding-top');
  @include indentation('.d-pr-', 'padding-right');
  @include indentation('.d-pl-', 'padding-left');
  @include indentation('.d-pb-', 'padding-bottom');
}



/* bold titles  */
.title-bold {
  font-family: Inter-Black, sans-serif !important;
}

.text-medium-bold {
  font-family: Inter-Medium, sans-serif !important;
}

.text-half-bold {
  font-family: Inter-ExtraBold, sans-serif !important;
}

.text-semi-bold {
  font-family: Inter-SemiBold, sans-serif !important;
}

/* UI KIT */

/* common disables */
/* disable outline button when clicked */
input, button {
  outline:none;
  box-shadow: none !important;
}

input:focus, button:focus {
  outline: none;
}

.title-white {
  color: $white;
}

.text-red {
  color: $red;
}

.text-green {
  color: $green;
}

.text-green-1 {
  color: $green-1 !important;
}

.text-grey {
  color: $gray;
}

.text-grey-1 {
  color: $gray-1;
}

.text-black {
  color: $black;
}

.text-main {
  color: $main;
}

.text-bittersweet {
  color: $bittersweet !important;
}

.text-blue {
  color: #1185ed;
}

.text-underline {
  text-decoration: underline;
}

$hamburger-layer-width         : 26px !default;
$hamburger-layer-height        : 3px !default;
$hamburger-layer-color         : #304456 !default;
$hamburger-active-layer-color  : #FFFFFF !default;;
