@import "mixins";
@import "colors";

.breadcrumbs {
    background: #FFFFFF;
    height: 48px;

    margin-top: 35px;
    padding-left: 27px;
    //margin-bottom: 48px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;
    width: 100%;

    @include max_1239 {
        display: none;
    }

    &__items {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    &__item {
        color: $main;

        &:visited {
            color: $main;
        }

        &:hover {
            cursor: pointer;
            color: $green;
        }

        &:not(:last-child) {
            &:after {
                color: $main;
                content: '/';
                margin: 0 10px;
            }
        }

        &-home {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
                color: $green;

                //&:before {
                //    background-image: url("~@/assets/img/icon-home-black.svg");
                //}
            }

            &:before {
                content: '';
                background-image: url("~@/assets/img/icon-home.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 12px;
                height: 12px;
                display: flex;
                margin-right: 15px;
            }
        }

        + .active {
            font-family: Inter-SemiBold, sans-serif;
        }
    }
}