@import "colors";
@import "mixins";

.card {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;

    @include max_1239 {
      padding: 0 20px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .main {
      font-family: Montserrat-Bold, sans-serif;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;

      @include max_1239 {
        font-size: 20px;
        line-height: 32px;
      }
    }

    .sub {
      font-family: Montserrat-Bold, sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;

      @include max_1239 {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }

  &__icon {
    width: 250px;
    height: 156px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;

    @include max_1239 {
      margin-bottom: 19px;
    }
  }

  &__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 52px;
    width: 200px;
    height: 52px;

    margin-bottom: 146px;

    @include max_1239 {
      font-size: 16px;
      width: 100%;
      margin-bottom: 138px;
    }
  }

  &__success {
    margin: 103px 0 0 3px;
    @include max_1239 {
      margin: 131px 0 0 4px;
    }

    .card {
      &__icon {
        background-image: url("~@/assets/img/card-success.svg");
        height: 233px;
        margin-bottom: 24px;
      }

      &__description {
        .main {
          margin-bottom: 66px;

          @include max_1239 {
            margin-bottom: 91px;
          }
        }
      }
    }
  }

  &__error {
    margin: 99px 0 0 3px;
    @include max_1239 {
      margin: 124px 0 0 3px;
    }

    .card {
      &__icon {
        background-image: url("~@/assets/img/card-error.svg");
        margin-bottom: 40px;
      }

      &__description {
        .main {
          color: $red;
          margin-bottom: 25px;

          @include max_1239 {
            margin-bottom: 22px;
            font-size: 24px;
            line-height: 29px;
          }
        }

        .sub {
          margin-bottom: 84px;
          @include max_1239 {
            margin-bottom: 91px;
          }
        }
      }
    }
  }
}