@import "./main";
@import "colors";

.collapse {
  &__item {
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 8px rgba(159, 169, 188, 0.56));

    padding: 11px 25px;

    &:not(:last-child) {
      margin-bottom: 25px;

      @include max_1239 {
        margin-bottom: 20px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &.open {
      padding: 17px 25px 37px 25px;

      .collapse {
        &__title {
          color: $green-1;
        }

        &__text {
          display: flex !important;
        }

        &__caret {
          &:after {
            content: '–';
          }
        }
      }
    }

    @include max_1239 {
      padding: 5px 0 5px 20px;

      &.open {
        padding: 5px 0 15px 20px;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__caret {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: $green;
    margin-right: 18px;

    &:after {
      content: '+';
    }

    @include max_1239 {
      margin-top: 5px
    }
  }

  &__title {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;

    display: flex;
    align-items: center;
    color: $main;

    @include max_1239 {
      text-align: left;

      font-size: 14px;
      line-height: 40px;
    }
  }

  &__text {
    display: none;
    margin-top: 27px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    max-width: 817px;
    width: 100%;
  }
}