@import "./main";

.contacts {
  &__block {
    .title {
      font-family: Montserrat-Bold, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 60px;

      margin-top: 82px;
    }

    .info-block {
      background: #FFFFFF;
      box-shadow: 0px 3px 25px rgba(159, 169, 188, 0.24);
      border-radius: 12px;

      width: auto;
      height: 227px;

      margin: 45px 0px 140px 0px;

      display: flex;
      flex-flow: row wrap;

      .block-title {
        font-family: Montserrat-Bold, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 42px;

        color: #3AB86F;
        letter-spacing: 1px;
      }

      .block-text {
        font-family: Inter-SemiBold, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 34px;
      }

      .block-address {
        margin-left: 50px;
        //margin-top: 51px;

        .title-address {
          margin-top: 51px;
          margin-bottom: 17px;
        }

        .text-address {
          width: 355px;
        }
      }

      .block-email {
        margin-left: 85px;

        .title-email {
          margin-top: 51px;
          margin-bottom: 17px;
        }

        .text-email {
          width: 298px;
        }

        a {
          color: #304456;
        }
      }

      .block-contact {
        margin-left: 85px;

        .title-contact {
          margin-top: 51px;
        }

        .btn-contact {
          font-family: Inter-Bold, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          align-items: center;
          text-align: center;

          width: 277px;
          height: 68px;
          background: #3AB86F;
          border-radius: 64px;
          border: 1px solid #3ab86f;
          color: #FFFFFF;

          margin-top: 16px;

          cursor: pointer;
        }

        .btn-contact:hover {
          background: #FFFFFF;
          color: #3AB86F;
        }
      }
    }

    @include min_835_max_1240 {
      .title {
        font-family: Inter-Medium, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;

        margin-top: 45px;
        margin-left: 37px;

      }

      .info-block {
        margin: 36px 20px 140px 20px;
        height: auto;

        .block-title {
          font-size: 18px;
        }

        .block-text {
          font-size: 16px;
        }

        .block-address {
          margin-left: 20px;

          .title-address {
            margin-top: 20px;
            margin-bottom: 0px;
          }

          .text-address {
            width: auto;
            margin-right: 110px;
          }
        }

        .block-email {
          margin-left: 20px;

          .title-email {
            margin-top: 25px;
            margin-bottom: 3px;
          }

          .text-email {
          }
        }

        .block-contact {
          margin-left: 20px;

          .title-contact {
            margin-top: 28px;
          }

          .btn-contact {
            font-size: 18px;
            line-height: 22px;

            width: 285px;
            height: 40px;

            margin-left: 6px;
            margin-bottom: 20px;
          }
        }
      }
    }

    @include min_376_max_834 {
      .title {
        font-family: Inter-Medium, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;

        margin-top: 45px;
        margin-left: 37px;

      }

      .info-block {
        margin: 36px 20px 140px 20px;
        height: auto;

        .block-title {
          font-size: 18px;
        }

        .block-text {
          font-size: 16px;
        }

        .block-address {
          margin-left: 20px;

          .title-address {
            margin-top: 20px;
            margin-bottom: 0px;
          }

          .text-address {
            width: auto;
            margin-right: 110px;
          }
        }

        .block-email {
          margin-left: 20px;

          .title-email {
            margin-top: 25px;
            margin-bottom: 3px;
          }

          .text-email {
          }
        }

        .block-contact {
          margin-left: 20px;

          .title-contact {
            margin-top: 28px;
          }

          .btn-contact {
            font-size: 18px;
            line-height: 22px;

            width: 285px;
            height: 40px;

            margin-left: 6px;
            margin-bottom: 20px;
          }
        }
      }
    }

    @media (min-width: 360px) and (max-width: 375px) {
      .title {
        font-family: Inter-Medium, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;

        margin-top: 45px;
        margin-left: 37px;

      }

      .info-block {
        margin: 36px 20px 140px 20px;
        height: auto;

        .block-title {
          font-size: 18px;
        }

        .block-text {
          font-size: 16px;
        }

        .block-address {
          margin-left: 20px;

          .title-address {
            margin-top: 20px;
            margin-bottom: 0px;
          }

          .text-address {
            width: auto;
            margin-right: 110px;
          }
        }

        .block-email {
          margin-left: 20px;

          .title-email {
            margin-top: 25px;
            margin-bottom: 3px;
          }

          .text-email {
          }
        }

        .block-contact {
          margin-left: 20px;

          .title-contact {
            margin-top: 28px;
          }

          .btn-contact {
            font-size: 18px;
            line-height: 22px;

            width: 285px;
            height: 40px;

            margin-left: 6px;
            margin-bottom: 20px;
          }
        }
      }
    }

    @media (min-width: 320px) and (max-width: 360px) {
      .title {
        font-family: Inter-Medium, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;

        margin-top: 45px;
        margin-left: 37px;

      }

      .info-block {
        margin: 36px 20px 140px 20px;
        height: auto;

        .block-title {
          font-size: 18px;
        }

        .block-text {
          font-size: 16px;
        }

        .block-address {
          margin-left: 20px;

          .title-address {
            margin-top: 20px;
            margin-bottom: 0px;
          }

          .text-address {
            width: auto;
            margin-right: 110px;
          }
        }

        .block-email {
          margin-left: 20px;

          .title-email {
            margin-top: 25px;
            margin-bottom: 3px;
          }

          .text-email {
          }
        }

        .block-contact {
          margin-left: 20px;

          .title-contact {
            margin-top: 28px;
          }

          .btn-contact {
            font-size: 18px;
            line-height: 22px;

            width: auto;
            padding-left: 40px;
            padding-right: 40px;
            height: 40px;

            margin-left: 6px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .text-block {
    margin-top: 65px;
    margin-bottom: 95px;

    .title {
      width: 385.78px;
      height: 30px;

      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      /* dark */

      color: #304456;

      @include min_835_max_1240 {
        margin-left: 20px;
      }

      @include min_376_max_834 {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 320px) and (max-width: 360px) {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }
    }

    .text {
      margin-top: 15px;
      margin-left: 30px;

      width: 1214.49px;
      height: 520px;

      font-family: Inter-Italic, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 40px;

      .new-line {
        margin-top: 40px;
      }

      @include min_835_max_1240 {
        width: 1000px;
      }

      @include min_376_max_834 {

        width: auto;
        height: auto;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 600px) and (max-width: 800px) {
        width: auto;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        width: auto;
        height: 1118px;
        margin-left: 20px;
        margin-right: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 320px) and (max-width: 359px) {
        width: auto;
        height: 1118px;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}