@import "./main";

.documents {
  &__block {
    margin-top: 82px;
    margin-bottom: 150px;

    @include max_1239 {
      margin-top: 82px;
      margin-bottom: 70px;
    }

    .title {
      font-family: Montserrat-Bold, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 40px;
      letter-spacing: 1px;

      @media (min-width: 374px) and (max-width: 375px) {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
      }

      @include min_376_max_834 {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
      }

      @include min_835_max_1240 {
        margin-left: 20px;
      }

      @media (min-width: 320px) and (max-width: 375px) {
        text-align: center;
        font-size: 24px;
        line-height: 34px;
      }
    }

    .box_block {
      display: flex;
      flex-flow: row wrap;

      @include min_376_max_834 {
        flex-flow: column wrap;
        align-items: center;
      }

      @include min_835_max_1240 {
        flex-flow: column wrap;
      }

      @include max_375 {
        flex-flow: column wrap;
      }

      @media (min-width: 320px) and (max-width: 375px) {
        flex-flow: column wrap;
      }
    }

    .box {
      display: flex;

      background: #FFFFFF;
      box-shadow: 0px 3px 25px rgba(159, 169, 188, 0.24);
      border-radius: 12px;
      width: 921px;
      height: 170px;
      margin: 6px 0px 30px 0px;

      .icon {
        margin-left: 50px;
        margin-top: 35px;
        margin-bottom: 35px;
        width: 88px;
        height: 100px;

        &__under {
          margin-top: 30px;
        }

        &__default {
          margin-top: 34px;
          margin-left: 53px;
        }

        @include min_376_max_834 {
          margin-left: 135px;
          margin-top: -36px;

          width: 66px;
          height: 75px;
        }

        @media (min-width: 360px) and (max-width: 375px) {
          margin-left: 135px;
          margin-top: -36px;

          width: 66px;
          height: 75px;
        }

        @media (min-width: 320px) and (max-width: 360px) {
          margin-left: auto;
          margin-right: auto;
          margin-top: -36px;

          width: 66px;
          height: 75px;
        }
      }

      .box-title {
        font-family: Montserrat-Bold, sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 42px;

        margin: 43px 0px 43px 50px;

        &__default {
          width: 485px;
          height: 84px;
        }

        &__under {
          margin: 39px 0px 43px 50px;
        }

        &__long {
          margin: 43px 0px 43px 48px;

          width: 506px;
          height: 84px;
        }

        &__one-line {
          margin-top: 65px;
          margin-right: auto;
        }

        @include min_376_max_834 {
          width: 285px;
          height: 57px;

          font-family: Montserrat-Bold, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 28px;
          text-align: center;

          color: #304456;

          margin: -30px 25px 20px 25px;

          &__long {
            margin-bottom: 28px;
          }
        }

        @media (min-width: 360px) and (max-width: 375px) {
          width: 285px;
          height: 57px;

          font-family: Montserrat-Bold, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 28px;
          text-align: center;

          color: #304456;

          margin: -30px 25px 20px 25px;

          &__long {
            margin-bottom: 28px;
          }
        }

        @media (min-width: 320px) and (max-width: 360px) {
          width: 285px;
          height: 57px;

          font-family: Montserrat-Bold, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          line-height: 28px;
          text-align: center;

          color: #304456;

          margin: -30px 25px 20px 25px;

          &__long {
            margin-bottom: 28px;
          }

          &__mobile {
            width: auto;
          }
        }
      }

      .box-btn {
        background: #3AB86F;
        border-radius: 64px;
        border: 1px solid #3ab86f;
        width: 200px;
        height: 56px;
        color: #FFFFFF;

        font-family: Inter-SemiBold, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        cursor: pointer;

        margin: 58px 25px 56px 23px;

        &__long {
          margin: 57px 25px 55px 2px;
        }

        &__under {
          margin: 53px 25px 56px 23px;
        }

        &__default {
          margin-right: 28px;
        }

        @include min_376_max_834 {
          width: 285px;
          height: 40px;

          margin: 0px 25px 17px 25px;
        }

        @media (min-width: 360px) and (max-width: 375px) {
          width: 285px;
          height: 40px;

          margin: 0px 25px 17px 25px;
        }

        @media (min-width: 320px) and (max-width: 359px) {
          width: 285px;
          height: 40px;

          margin: 0px 10px 17px 10px;
        }
      }

      .box-btn:hover {
        background: #FFFFFF;
        color: #3AB86F;
      }

      &__under {
        margin-top: -165px;
      }

      &__default {
        margin-top: -4px;
      }

      @include min_376_max_834 {
        flex-flow: row wrap;

        width: 335px;
        height: 182px;

        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;

        &__under {
          margin-top: 35px;
        }

        &__default {
          margin-top: 35px;
        }

        @media (min-width: 600px) and (max-width: 830px) {
          margin-left: 220px;
        }
      }

      @include min_835_max_1240 {
        margin-left: 20px;
      }

      @media (max-width: 376px) {
        margin-left: 20px;
        margin-right: 20px;
      }

      @include min_835_max_1240 {
        &__under {
          margin-top: 30px;
        }
      }

      @media (min-width: 360px) and (max-width: 375px) {
        flex-flow: row wrap;

        width: 335px;
        height: 182px;

        margin-left: 20px;
        margin-right: 20px;

        margin-top: 70px;

        &__under {
          margin-top: 35px;
        }

        &__default {
          margin-top: 35px;
        }
      }

      @media (min-width: 320px) and (max-width: 360px) {
        flex-flow: row wrap;

        width: auto;
        height: 182px;

        margin-left: 10px;
        margin-right: 10px;

        margin-top: 70px;

        &__under {
          margin-top: 35px;
        }

        &__default {
          margin-top: 35px;
        }
      }
    }

    .box-premium {
      width: 280px;
      height: 371px;
      margin-left: 39px;
      margin-top: 5px;

      background: #FFFFFF;
      box-shadow: 0px 3px 25px rgba(159, 169, 188, 0.24);
      border-radius: 12px;

      .box-icon {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin: 31px 73px 25px 90px;
        background: #3AB86F;
        border-radius: 12px;

        .icon {
          margin-left: -9px;
          margin-top: -9px;
        }
      }

      .premium-title {
        width: 140px;
        height: 31px;
        margin: 25px 70px 15px 70px;

        color: #3AB86F;

        font-family: Inter-SemiBold, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;

        text-transform: capitalize;
      }

      .premium-text {
        width: 238px;
        height: 68px;
        margin: 15px 21px 20px 21px;

        font-family: Inter-SemiBold, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;

        text-align: center;

        color: #8D8D94;

        .bold {
          font-family: Inter-SemiBold, sans-serif;
          color: black;
        }

        &__small {
          width: 190px;
          height: 17px;
          margin-left: 46px;
          margin-top: 9px;

          font-size: 10px;
          text-align: center;

          color: #304456;
          opacity: 0.67;
        }
      }

      .premium-btn {
        width: 238px;
        height: 35px;

        margin-left: 21px;

        background: #3AB86F;
        border-radius: 64px;
        border: 1px solid #3ab86f;
        color: #FFFFFF;

        font-family: Inter-SemiBold, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        cursor: pointer;
      }

      .premium-btn:hover {
        background: #FFFFFF;
        color: #3AB86F;
      }

      @include min_835_max_1240 {
        display: none;
      }

      @include min_376_max_834 {
        display: none;
      }

      @media (min-width: 320px) and (max-width: 375px) {
        display: none;
      }
    }

    @include min_376_max_834 {
      align-items: center;
    }
  }

  .text-block {
    margin-top: 65px;
    margin-bottom: 95px;

    .title {
      width: 385.78px;
      height: 30px;

      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      /* dark */

      color: #304456;

      @include min_835_max_1240 {
        margin-left: 20px;
      }

      @include min_376_max_834 {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 320px) and (max-width: 360px) {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }
    }

    .text {
      margin-top: 15px;
      margin-left: 30px;

      width: 1214.49px;
      height: 520px;

      font-family: Inter-Italic, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 40px;

      .new-line {
        margin-top: 40px;
      }

      @include min_835_max_1240 {
        width: 1000px;
      }

      @include min_376_max_834 {

        width: auto;
        height: auto;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 600px) and (max-width: 800px) {
        width: auto;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        width: auto;
        height: 1118px;
        margin-left: 20px;
        margin-right: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 320px) and (max-width: 359px) {
        width: auto;
        height: 1118px;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}