@import "./main";

.feedback {
  &__block {
    margin-top: 82px;
    margin-bottom: 150px;

    .feedback-title {
      font-family: Montserrat-Bold, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 60px;

      letter-spacing: 1px;
      text-align: center;
    }

    .feedback-subtitle {
      font-family: Inter-Italic, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 28px;

      text-align: center;
      margin-left: 155px;
      margin-top: 28px;

      width: 930px;
    }

    .feedback-block {
      background: #FFFFFF;
      box-shadow: 0px 3px 25px rgba(159, 169, 188, 0.24);
      border-radius: 12px;

      margin: 50px 0 0 157px;

      width: 930px;
      display: flex;
      flex-flow: row wrap;

      .block-title {
        font-family: Montserrat-Bold, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 42px;
      }

      .input-font {
        font-family: Inter-Italic, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.56;
      }

      .input-name-block {
        margin-left: 53px;
        margin-top: 56px;

        .name-input {
          width: 380px;
          height: 45px;
          padding-left: 20px;
          margin-top: 8px;

          box-sizing: border-box;
          border-radius: 5px;
        }
      }

      .input-email-block {
        margin-left: 60px;
        margin-top: 56px;

        .email-input {
          width: 380px;
          height: 45px;
          padding-left: 20px;
          margin-top: 8px;

          box-sizing: border-box;
          border-radius: 5px;
        }
      }

      .input-textarea-block {
        margin-top: 36px;
        margin-left: 55px;

        .textarea-input {
          width: 797px;
          height: 139px;
          margin-top: 9px;
          padding: 15px 0 0 20px;
          resize: none;
        }
      }

      .btn {
        width: 399px;
        height: 68px;

        margin-left: 265px;
        margin-top: 31px;
        margin-bottom: 55px;

        background: #3AB86F;
        border-radius: 64px;
        border: 1px solid #3ab86f;
        color: #FFFFFF;

        cursor: pointer;

        &__font {
          font-family: Inter-Bold, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
        }
      }

      .btn:hover {
        background: #FFFFFF;
        color: #3AB86F;
      }

      .name-input:not(.invalid) {
        border: 1px solid #DED9D9;
      }

      .email-input:not(.invalid) {
        border: 1px solid #DED9D9;
      }

      .textarea-input:not(.invalid) {
        border: 1px solid #DED9D9;
      }

      .invalid {
        border: 1px solid red;
      }
    }
  }

  @include min_835_max_1240 {
    &__block {
      margin-top: 46px;
      margin-bottom: 103px;

      .feedback-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0;
        margin-left: 14px;
        width: auto;
      }

      .feedback-subtitle {
        font-size: 16px;

        display: flex;
        align-items: center;
        text-align: center;

        width: auto;
        margin-left: 28px;
        margin-top: 24px;
      }

      .feedback-block {
        width: auto;
        height: 571px;

        flex-flow: row wrap;

        .block-title {
          font-style: normal;
          font-weight: 800;
          font-size: 19px;
          line-height: 42px;
        }

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 18px;

        .input-name-block {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .name-input {
            margin-top: 0;
            width: 100%;
          }
        }

        .input-email-block {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .email-input {
            margin-top: 0;
            width: 100%;
          }
        }

        .input-textarea-block{
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .textarea-input {
            margin-top: 0;
            width: 100%;
            height: 178px;
            padding: 10px;
            box-sizing: border-box;
          }
        }

        .btn {
          border-radius: 64px;
          height: 40px;
          width: auto;
          padding-left: 10px;
          padding-right: 10px;
          margin: 25px auto 30px auto;

          &__font {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }

  @include min_376_max_834 {
    &__block {
      margin-top: 46px;
      margin-bottom: 103px;

      .feedback-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0;
        margin-left: 14px;
        width: auto;
      }

      .feedback-subtitle {
        font-size: 16px;

        display: flex;
        align-items: center;
        text-align: center;

        width: auto;
        margin: 24px 20px 20px 20px;
      }

      .feedback-block {
        width: auto;
        height: 571px;

        flex-flow: row wrap;

        .block-title {
          font-style: normal;
          font-weight: 800;
          font-size: 19px;
          line-height: 42px;
        }

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 18px;

        .input-name-block {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .name-input {
            margin-top: 0;
            width: 100%;
          }
        }

        .input-email-block {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .email-input {
            margin-top: 0;
            width: 100%;
          }
        }

        .input-textarea-block{
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .textarea-input {
            margin-top: 0;
            width: 100%;
            height: 178px;
            padding: 10px;
            box-sizing: border-box;
          }
        }

        .btn {
          border-radius: 64px;
          height: 40px;
          width: auto;
          padding-left: 10px;
          padding-right: 10px;
          margin: 25px auto 30px auto;

          &__font {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }

  @media (min-width: 360px) and (max-width: 375px) {
    &__block {
      margin-top: 46px;
      margin-bottom: 103px;

      .feedback-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0;
        margin-left: 14px;
      }

      .feedback-subtitle {
        font-size: 16px;

        display: flex;
        align-items: center;
        text-align: center;

        width: 304px;
        margin-left: 28px;
        margin-top: 24px;
      }

      .feedback-block {
        width: auto;
        height: 571px;

        flex-flow: row wrap;

        .block-title {
          font-style: normal;
          font-weight: 800;
          font-size: 19px;
          line-height: 42px;
        }

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 18px;

        .input-name-block {
          margin-left: 15px;
          margin-top: 20px;
          width: auto;

          .name-input {
            margin-top: 0;
            width: 305px;
          }
        }

        .input-email-block {
          margin-left: 15px;
          margin-top: 20px;
          width: auto;

          .email-input {
            margin-top: 0;
            width: 305px;
          }
        }

        .input-textarea-block{
          margin-left: 15px;
          margin-top: 20px;
          width: auto;

          .textarea-input {
            margin-top: 0;
            width: 284px;
            height: 178px;
          }
        }

        .btn {
          border-radius: 64px;
          height: 40px;
          width: 305px;
          margin-left: 15px;
          margin-top: 25px;

          &__font {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 360px) {
    &__block {
      margin-top: 46px;
      margin-bottom: 103px;

      .feedback-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0;
        margin-left: 14px;
      }

      .feedback-subtitle {
        font-size: 16px;

        display: flex;
        align-items: center;
        text-align: center;

        width: auto;
        margin: 24px auto 20px auto;
      }

      .feedback-block {
        width: auto;
        height: 571px;

        flex-flow: row wrap;

        .block-title {
          font-style: normal;
          font-weight: 800;
          font-size: 19px;
          line-height: 42px;
        }

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 18px;

        .input-name-block {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .name-input {
            margin-top: 0;
            width: 100%;
          }
        }

        .input-email-block {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .email-input {
            margin-top: 0;
            width: 100%;
          }
        }

        .input-textarea-block{
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 20px;
          width: 100%;

          .textarea-input {
            margin-top: 0;
            width: 100%;
            height: 178px;
            //padding-left: 10px;
            //padding-top: 10px;
            padding: 10px;
            box-sizing: border-box;
          }
        }

        .btn {
          border-radius: 64px;
          height: 40px;
          width: auto;
          padding-left: 10px;
          padding-right: 10px;

          margin: 25px auto 30px auto;

          &__font {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .text-block {
    margin-top: 65px;
    margin-bottom: 95px;

    .title {
      width: 385.78px;
      height: 30px;

      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      /* dark */

      color: #304456;

      @include min_835_max_1240 {
        margin-left: 20px;
      }

      @include min_376_max_834 {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 320px) and (max-width: 360px) {
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }
    }

    .text {
      margin-top: 15px;
      margin-left: 30px;

      width: 1214.49px;
      height: 520px;

      font-family: Inter-Italic, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 40px;

      .new-line {
        margin-top: 40px;
      }

      @include min_835_max_1240 {
        width: 1000px;
      }

      @include min_376_max_834 {

        width: auto;
        height: auto;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 600px) and (max-width: 800px) {
        width: auto;
      }

      @media (min-width: 360px) and (max-width: 375px) {
        width: auto;
        height: 1118px;
        margin-left: 20px;
        margin-right: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 320px) and (max-width: 359px) {
        width: auto;
        height: 1118px;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}