@import "./main";

@function makelongshadow($color, $size) {
    $val: 4px 0 0 $size #ffffff;

    @for $i from 6 through 1000 {
        $val: #{$val}, #{$i}px 0 0 $size #{$color};
    }

    @return $val;
}

input[type=range] {
    border: 1px solid white;
    outline: 2px solid white;
    outline-offset: -1px;
}

.filter {
    &__content {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include max_1239 {
            flex-direction: column;
        }
    }

    &__label {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #304456;
        opacity: 1;

        @include max_1239  {
            font-size: 12px;
            line-height: 15px;
        }

        &-result {
            font-family: Inter-SemiBold, sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            color: #304456;

            @include max_1239  {
                font-size: 12px;
                line-height: 15px;
            }
        }

    }

    &__control {
        min-width: 777px;
        margin-right: 64px;
        .sliders {
            overflow-x: hidden;
            &__sum {
                .value {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 18px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;
                    color: #8D8D94;


                    @include max_1239  {
                        margin-top: 8px;

                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                &:first-child {
                    margin-bottom: 25px;

                    @include max_1239  {
                        margin-bottom: 21px;
                    }
                }
            }
        }

        .sum {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .slider {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            width: 100%;

            @include max_1239  {
                margin-top: 9px;
            }

            .range {
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                height: 4px;
                border-radius: 2px;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                background-color: #E1E4EB;

                @include max_1239  {
                    height: 2px;
                }

                &::-webkit-slider-runnable-track {
                    background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
                    content: '';
                    height: 4px;

                    @include max_1239  {
                        height: 2px;
                    }
                }


                &::-webkit-slider-thumb {
                    width: 24px;
                    height: 24px;
                    appearance: none;
                    @include max_1239  {
                        width: 20px;
                        height: 20px;
                    }

                    background: #FFFFFF;
                    border: 0.5px solid rgba(130, 136, 148, 0.28);
                    border-radius: 50%;

                    box-shadow: makelongshadow(#E1E4EB, -8px);
                    margin-top: -8px;
                }


                &::-moz-focus-outer {
                    border: 0;
                }

                &::-moz-range-thumb {
                    width: 24px;
                    height: 24px;
                    background: #FFFFFF;
                    box-shadow: 0 4px 8px rgba(130, 136, 148, 0.28), 0 0 2px rgba(130, 136, 148, 0.16);
                    border-radius: 50%;
                    cursor: pointer;

                    @include max_1239  {
                        width: 20px;
                        height: 20px;
                    }
                }

                &::-moz-range-progress {
                    background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
                    height: 4px;
                    border-radius: 2px;

                    @include max_1239  {
                        height: 2px;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        @include max_1239 {
            min-width: 100%;
            margin-right: 0;
        }
    }

    &__info {
        width: 100%;
        .conditions {
            display: flex;
            flex-direction: column;

            .result {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                @include max_1239 {
                    display: none;
                }
            }
            span {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #304456;

                @include max_1239 {
                    display: none;
                }
            }

            @include max_1239 {
                display: none;
            }
        }
    }

    &__btn {
        margin-top: 40px;
        width: 344px;
        height: 64px;
        line-height: 64px;

        &:hover {
            background-color: #3AB86F;
            opacity: 0.9;
            color: #FFFFFF;
        }

        .count {
            background-image: url('~@/assets/img/result-bg.svg');
            width: 34px;
            height: 34px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 14px;
            align-items: center;
            display: inline-flex;
        }

        .value {
            text-align: center;
            width: 34px;
            font-family: Inter-SemiBold, sans-serif;
            font-size: 16px;
            line-height: 19px;

            @include max_1239 {
                font-size: 12px;
                line-height: 15px;
            }
        }

        @include max_1239 {
            width: 100%;
            height: 48px;
            margin-top: 20px;
            font-size: 18px;
            line-height: 48px;
            font-family: Inter-SemiBold, sans-serif;

        }
    }
}

.results-btn {
    font-size: 24px;
    line-height: 29px;

    @include min_1240 {
        font-family: Inter-SemiBold, sans-serif;
        font-size: 18px;
        line-height: 22px;
    }
}