@import "mixins";

.footer {
  background-color: #304456;
  color: #FFFFFF;
  padding: 60px 0 30px 0;

  font-family: Inter-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;

  @include max_1239 {
    padding: 24px 0 20px 0;
    margin-top: 7px;
  }

  .logo-label {
    color: #FFFFFF;
  }

  &__content {
    display: flex;

    margin-bottom: 37px;

    @include max_1239 {
      display: none;
    }
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
  }

  &__contacts {
     max-width: 322px;

     &:nth-of-type(1) {
       margin-top: 30px;
     }
     &:nth-of-type(2) {
       margin-top: 20px;
     }

    a {
      color: #FFFFFF
    }
  }

  &__navigations {
    display: flex;
    flex-flow: column wrap;
    max-height: 175px;
    margin-top: 35px;
  }

  &__navigation {
    font-family: Inter, sans-serif;
    font-weight: 500;
    opacity: 0.78;
    min-width: 178px;

    &:hover {
      cursor: pointer;
    }


    &:not(:nth-of-type(4)) {
      margin-bottom: 5px;
    }

    &:not(:nth-child(n+5)) {
      margin-right: 46px;
    }
  }

  &__locations {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
  }

  &__location {
    width: 60px;
    height: 40px;

    &:not(:last-child) {
      margin-right: 47px;
    }
  }

  hr {
    margin-bottom: 32px;

    @include max_1239 {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max_1239 {
      flex-direction: column;
    }
  }

  &__copyright {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.4);

    display: flex;
    flex-direction: column;

    .logo-label {
      margin-bottom: 9px;

      @include max_1239 {
        align-self: center;
        margin-right: 0;
        margin-bottom: 19px;
      }
    }

    @include max_1239 {
      align-items: center;
      font-size: 12px;
      line-height: 40px;
    }
  }

  &__email {
    display: flex;
    align-items: center;

    &-mob {
      display: none;

      a {
        color: #FFFFFF;
      }
    }

    a {
      color: #FFFFFF;
    }

    @include max_1239 {
      display: none;

      &-mob {
        font-family: Inter-SemiBold, sans-serif;
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;

        flex-direction: column;
        align-items: center;

        margin-bottom: 12px;
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
  }
}