@import "./main";

.header {
  padding: 33px 0 0 0;

  @include max_833 {
    padding: 5px 20px 0 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max_833 {
      width: 100%;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__auth {
    background: #FFFFFF;
    border: 1px solid #F6F6FA;
    box-sizing: border-box;
    border-radius: 12px;

    padding: 16px 0 16px 24px;
    margin-right: 32px;

    width: 337px;
    height: 48px;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #334657;

    position: relative;

    span {
      display: flex;
      //letter-spacing: -0.5px;
    }

    :hover {
      cursor: pointer;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    max-width: 118px;
    padding: 8px 24px 8px 8px;
    background: linear-gradient(286.06deg, #3AB86F -4.17%, #3AB86F 161.36%);
    border-radius: 64px 32px 32px 64px;

    position: absolute;
    right: 0;
    top: -1px;

    //letter-spacing: -.5px;

    .login {
      &__icon {
        background-image: url("~@/assets/img/icon-login.svg");
        width: 32px;
        height: 32px;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 12px;
      }

      &__label {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;

    @include max_833 {
      display: none;
    }

    &-info {
      //width: 165px;
      background: $white;
      border: 1px solid #F6F6FA;
      box-sizing: border-box;
      border-radius: 57px;
      padding: 8px;
      margin-right: 32px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      .user {
        display: flex;
        align-items: center;

        &__info {
          display: flex;
          align-items: center;
          padding: 0 10px;
        }

        &__premium-icon {
          background: url("~@/assets/img/icon-premium.svg") no-repeat center;
          background-size: contain;

          display: flex;
          width: 16px;
          height: 16px;

          margin-right: 11px;
        }

        &__name {
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #334657;
          margin-right: 10px;
        }

        &__poster {
          border-radius: 50px;
          position: absolute;
          top: -9px;
          right: 0;
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &__logo {
    @include max_833 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 88, 104, 0.99);
    z-index: 200;

    .logo-label {
      color: #FFFFFF;

      &:hover {
        cursor: pointer;
      }
    }

    .header {
      &__nav {
        position: absolute;
        top: 47px;
        left: 20px;
        width: calc(100% - 40px);
      }

      &__links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 88px auto 0 auto;
        text-align: center;
      }
    }

  }

  .hamburger {
    z-index: 9999;
    display: none;
    padding: 14px 15px;

    &-box {
      width: 8px;
      height: 26px;
    }

    @include max_833 {
      display: flex;
    }
  }
}

.nav {
  &__item {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $nav-link;
    //letter-spacing: -0.5px;
    position: relative;

    &:hover {
      color: $nav-link-hover;
    }

    &:not(:last-child):after {
      content: "|";
      margin: 0 24px;
      color: #E6E6EB;
    }

    @include max_833 {
      display: none;
    }
  }

  &__item-dropdown {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $nav-link;
    //letter-spacing: -0.5px;
    position: relative;

    &:hover {
      color: $nav-link-hover;
    }

    @include max_833 {
      display: none;
    }
  }

  &__item-active {
    color: $nav-link-hover;
  }

  &__count {
    background-image: url("~@/assets/img/icon-link-count-bg.svg");
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    left: -5px;

    span {
      display: flex;
      align-items: center;
      text-align: center;
      font-weight: bold;
      font-size: 9px;
      line-height: 15px;
      color: $white;
      align-content: center;
      flex-direction: column;
    }
  }
}

@import "~hamburgers/_sass/hamburgers/hamburgers";