@import "./main";

.home {

    &__tabs {
        margin-top: 66px;
        margin-bottom: 125px;

        @include max_1239 {
            margin-top: 64px;
            margin-bottom: 70px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .title {
            font-family: Inter-SemiBold, sans-serif;

            @include max_1239 {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }



    &__programs {
        margin-bottom: 129px;

        @include max_1239 {
            margin-bottom: 85px;

            .subtitle {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    &__why, &__safety, &__faq, &__questions {
        margin-bottom: 110px;

        @include max_1239 {
            margin-bottom: 85px;
        }
    }

    &__faq {
        padding: 0 85px;

        @include max_1239 {
            margin-bottom: 85px;
            padding: 0;
        }
    }

    &__important-information {
        margin-bottom: 65px;
    }

    &__consumer-information {
        margin-bottom: 95px;
        align-items: flex-start;
        text-align: left;

        @include max_1239 {
            padding: 0 20px;
        }
    }
}

.programs {
    &__items {
        display: flex;
        margin-top: 72px;

        @include max_1239 {
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        }
    }

    &__item {
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 32px;
        border: 1px solid #E6E6EB;

        width: 286px;
        height: 400px;
        text-align: center;

        @include min_1240 {
            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        @include max_1239 {
            border-radius: 15px;

            width: 335px;
            height: 392px;

            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }

        img {
            width: 100%;
            height: 136px;
            border-radius: 32px 32px 0 0;

            @include max_1239 {
                border-radius: 15px 15px 0 0;
                width: 100%;
                height: 160px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px 24px 20px;
            height: 240px;

            .title {
                margin-top: 32px;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 16px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #304456;

                @include max_1239 {
                    font-size: 20px;
                    line-height: 16px;
                }
            }

            .descriptions {
                margin-top: 20px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #304456;
            }
        }
    }

    &__btn {
        margin-top: auto;
        margin-bottom: 24px;
        width: 238px;
        max-height: 54px;
        line-height: 17px;

        padding: 19px 0 20px 0;
        font-weight: 600;
        font-size: 14px;
        text-align: center;

        @include max_1239 {
            margin: 25px 0;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

.why {
    &__blocks {
        margin-top: 91px;
        display: flex;
        flex-direction: row;

        @include max_1239 {
            margin-top: 35px;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__block {
        width: 268px;
        height: 230px;

        background: #FFFFFF;
        border: 1px solid #E6E6EB;
        box-sizing: border-box;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 30px 21px 35px 20px;
        position: relative;

        @include min_1240 {
            &:not(:last-child) {
                margin-right: 38px;
            }
        }

        @include max_1239 {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }

    &__icon {
        width: 64px;
        height: 64px;

        margin-bottom: 15px;
    }

    &__title {
        font-family: Inter-SemiBold, sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;

        color: $main;

        &:after {
            margin: 15px 0 10px 0;
            content: '';
            display: block;
            height: 1px;
            border-bottom: 1px solid #3DCC79;
            border-radius: 5px;
            width: 227px;
        }
    }

    &__description {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $main;
    }
}

.safety {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 72px;

        @include max_1239 {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            padding: 0 20px;
            margin-top: 35px;
        }
    }

    &__banner {
        width: 529px;
        height: 359px;

        @include max_1239 {
            width: 335px;
            height: 227px;

            margin-bottom: 35px;
        }
    }

    &__items {
        width: 573px;

        @include max_1239 {
            width: 100%;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
        height: 78px;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 63px;
        }
    }

    &__icon {
        width: 64px;
        height: 78px;
        margin-right: 32px;
    }

    &__description {
        @include max_1239 {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.step {
    &__title {
        font-family: Inter-SemiBold, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $main;
        position: relative;

        @include min_1240 {
            &:after {
                position: absolute;
                margin-top: 3px;
                content: '';
                display: block;
                height: 1px;
                border-bottom: 1px solid #3DCC79;
                border-radius: 55px;
                width: 600px;
                left: -394px;
                right: 0;
            }
        }
    }

    &__description {
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $main;
        width: 310px;
    }

    &__number {
        font-weight: bold;
        font-size: 35px;
        line-height: 42px;
        color: $main;
    }
}

.faq {
    &__content {
        margin-top: 68px;
        display: flex;
    }


    &__items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        @include min_1240 {
            &:nth-of-type(2n) {
                flex-direction: row-reverse;

                .step {
                    &__title {
                        &:after {
                            left: 10px;
                        }
                    }
                }

                .faq {
                    &__step-number {
                        top: -40px;
                        left: -43px;
                    }
                }

                @include min_1240 {
                    .faq__step-info {
                        margin-right: 0;
                        margin-left: 83px;
                    }
                }
            }
        }

        @include max_1239 {
            display: flex;
            flex-direction: column;
            align-content: center;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 66px;

                &:after {
                    position: absolute;
                    bottom: -31px;
                    content: '';
                    display: block;
                    height: 1px;
                    border-bottom: 1px solid #3DCC79;
                    border-radius: 5px;
                    width: 100%;
                    overflow-x: hidden;
                }
            }


        }
    }

    &__step-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include min_1240 {
            margin-right: 81px;
        }
    }

    &__step-img {
        width: 475px;
        height: 240px;
        z-index: 2;
        position: relative;

        @include max_1239 {
            width: 335px;
            height: 169px;
            margin-bottom: 20px;
        }
    }

    &__icon {
        height: 100%;
        width: 100%;
    }

    &__step-number {
        display: flex;
        align-content: center;
        align-items: center;
        position: absolute;
        z-index: -1;

        top: -40px;
        left: -40px;


        width: 54px;
        height: 54px;

        border: 3px solid #3DCC79;
        border-radius: 50%;

        span {
            margin: 0 auto;
        }

        @include max_1239 {
            display: none;
        }
    }

    &__btn {
        margin-top: 55px;
        align-self: center;
        padding: 14px 94px;

        @include max_1239 {
            display: none;
        }
    }
}


