@import "colors";

.info {
  &__block {
    background: #FFFFFF;
    box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
  }

  &__description {
    margin-top: 15px;
    font-size: 12px;
    line-height: 17px;
    color: $main;
    opacity: 0.67;
    text-align: center;

    &-btn {
      font-size: 10px;
      line-height: 17px;
      text-align: center;
      color: $main;
      opacity: 0.67;
    }
  }

  &__btn {
    margin: 20px 0 10px 0;
    border-radius: 64px;
    font-size: 16px;
    line-height: 19px;
    padding: 7px 43px 7px 43px;
  }
}
.timer {
  padding-top: 40px;

  .info__label {
    color: $yellow;
  }

  .info__icon {
    box-shadow: 5px 5px 14px rgba(235, 186, 22, 0.55);
    background: $yellow url("~@/assets/img/waiting.svg") no-repeat center;
    margin-bottom: 15px;
  }

  .info__btn {
    margin: 12px 0 0 0;
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: $main;
    border: none;
    background-color: transparent;
    width: 100%;
  }
}

.premium {
  padding-top: 36px;

  .info__label {
    color: $green;
  }
  .info__icon {
    background-color: $green;
    background-image: url("~@/assets/img/success.svg");
    margin-bottom: 25px;
  }
}

.warning  {
  padding: 30px 20px 25px 20px;

  .info__label {
    color: $red;
  }
  .info__icon {
    background-color: $red;
    background-image: url("~@/assets/img/warning.svg");
    margin-bottom: 25px;
  }
}
