@import "mixins";
@import "checkbox";

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min_1240 {
    width: 100%;
  }

  @include max_1239 {
    padding: 0 20px;
  }

  &__separator {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #929699;
    display: flex;
    align-items: center;

    &:before, &:after {
      content: '';
      flex: 1;
      height: 2px;
      border-bottom: 2px solid #E7E7E7;
      border-radius: 5px;
      width: 100%;
    }

    &:before {
      margin-right: 25px;
    }

    &:after {
      margin-left: 25px;
    }
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 40px;

    @include max_1239 {
      font-size: 24px;
      line-height: 35px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 78px;
  }

  &__btn {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    padding: 16px;

    &:hover {
      cursor: pointer;
    }

    &-login {
      background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;

      &:hover {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #304456, #304456), linear-gradient(276.68deg, #E6E6EB -4.17%, rgba(230, 230, 235, 0) 161.36%);
      }
    }

    &-register {
      background: #E6E6EB;
      color: #54545E;

      &:hover {
        background: #54545E;
        color: #E6E6EB;
      }
    }
  }

  .text-block {
    margin-top: 65px;
    margin-bottom: 95px;

    .title {
      width: 385.78px;
      height: 30px;

      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      /* dark */

      color: #304456;

      @include min_835_max_1240 {
        margin-left: 20px;
        display: none;
      }

      @include min_376_max_834 {
        display: none;
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }

      @media (min-width: 374px) and (max-width: 375px) {
        display: none;
        width: 284px;
        height: 22px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
      }
    }

    .text {
      margin-top: 18px;
      margin-left: 30px;

      width: 1214.49px;
      height: 520px;

      font-family: Inter-Italic, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 40px;

      .new-line {
        margin-top: 40px;
      }

      @include min_835_max_1240 {
        width: 1000px;
        margin-left: 20px;
        display: none;
      }

      @include min_376_max_834 {
        display: none;
        width: auto;
        height: auto;

        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 600px) and (max-width: 800px) {
        display: none;
        width: auto;
      }

      @media (min-width: 374px) and (max-width: 375px) {
        display: none;
        width: 335px;
        height: 1118px;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }

      @media (min-width: 320px) and (max-width: 375px) {
        display: none;
        width: 335px;
        height: 1118px;
        margin-left: 20px;

        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .home__block {
    @media (min-width: 320px) and (max-width: 1240px) {
      display: none;
    }
  }
}

.recovery {
  &__group {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }

  &__label {
    color: #FF695B;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 48px;
  width: 500px;

  @include max_1239 {
    width: 100%;
  }
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  input {
    &:not([type='checkbox'])  {
      background: #FFFFFF;
      border: 1px solid #E6E6EB;
      box-sizing: border-box;
      height: 52px;
      width: calc(100% - 51px);
      margin-left: 51px;
      border-radius: 0 8px 8px 0;
      padding-left: 20px;
    }
  }

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7D7E8E;
    margin-bottom: 12px;
  }
}

.input {
  &__checkbox {
    width: 146px;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;

    label {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__icon {
    position: relative;
    .icon {
      position: absolute;
      display: flex;

      border: 1px solid #E6E6EB;
      box-sizing: border-box;
      border-radius: 8px 0 0 8px;
      width: 52px;
      height: 52px;
    }
  }

  &__error {
    border: 1px solid #cd0000;
    border-radius: 8px;
  }

  &__phone {
    .icon {
      background: #FFFFFF url("~@/assets/img/icon-login_phone.svg") no-repeat center;
    }
  }

  &__password {
    position: relative;
    .icon {
      background: #FFFFFF url("~@/assets/img/icon-login_password.svg") no-repeat center;
    }

    .password-show {
      position: absolute;
      top: calc(50% - 7px);
      right: 18px;
    }
  }
}