.menu {
  display: flex;
  position: absolute;
  margin-bottom: 32px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 201;
  overflow-y: scroll;
  max-height: 80%;
  height: 100%;
  min-height: 60vh;

  font-family: Inter-SemiBold, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;

  top: 174px;

  &-auth {
    top: 124px;

    .auth__form {
      margin-bottom: 15px;
    }

    .menu__links {
      &:after {
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -44px;


        background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
        border-radius: 2px;
      }
    }

    .menu__link {
      &:not(:last-child) {
        margin-bottom: 35px !important;
      }

      &:hover {
        &:after {
          bottom: -8px;
        }
      }

      &.active {
        color: #3AE682;

        &:after {
          bottom: -8px;
        }
      }
    }
  }

  &__content {
    z-index: 205;
    width: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 64px;
    position: relative;
  }

  &__link {
    display: flex;
    position: relative;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:hover {
      &:after {
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -10px;

        background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
        border-radius: 2px;
      }
    }

    &.active {
      color: #3AE682;

      &:after {
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -10px;

        background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #3DCC79;
        border-radius: 2px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    margin-top: 50px;
  }

  &__auth {
    &-btn {
      font-size: 18px;
      line-height: 48px;
      border: 1px solid #3AB86F;
      margin-top: 100px;
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logout {
    display: flex;
    flex-direction: column;
  }

  &__profile {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F6F6FA;
    box-sizing: border-box;
    border-radius: 57px;
    width: 165px;
    align-self: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding-left: 11px;
    justify-content: space-between;
    margin-bottom: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    &-logout {
      line-height: 50px;
    }
  }
}

.profile {
  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #334657;
    line-height: 46px;
  }

  &__icon {
    display: flex;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('~@/assets/img/menu-profile-icon.svg');
    margin-right: 9px;
  }

  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: #FFFFFF;
  }
}

.footer {
  &__support {
    margin-bottom: 10px;
  }
  &__mail {

    &-icon {
      align-self: center;
      width: 25px;
      height: 25px;
      margin-bottom: 10px;
    }
  }
}

.input {
  &__groups {
    margin: 25px 0;
  }

  &__icon {
    display: flex;
    width: 52px;
    height: 48px;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    background-color: #FFFFFF;

    background-position: center;
    background-repeat: no-repeat;

    &-user {
      background-image: url("~@/assets/img/icon-user.svg");
    }

    &-password {
      background-image: url("~@/assets/img/icon-password.svg");
    }
  }

  &__group {
    display: flex;

    input {
      width: 100%;
      height: 48px;
      border: 1px solid #E6E6EB;
      box-sizing: border-box;
      border-radius: 0 8px 8px 0;

      padding-left: 20px;

      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;

      color: #304456;
    }
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.auth {
  &__form {
    padding: 0 20px;
  }

  &__btn {
    font-size: 18px;
    line-height: 48px;
    border: 1px solid #3AB86F;
  }

  &__registration {
    font-size: 18px;
    line-height: 22px;

    &:hover {
      cursor: pointer;
    }
  }
}