.microloan {
  margin-top: 83px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 40px;
    //fixme (dev margin)
    margin-bottom: 40px;
  }

  &__offers {
    max-width: 921px;
    width: 100%;
  }

  &__info {
    max-width: 280px;
    width: 100%;
  }
}