.password {
  &__update {
    margin: 28px 0 272px 0;

    @include max_1239 {
      margin: 114px 0 214px 0;
    }
  }

  &__valid {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #258D50;

    margin: -23px 0 40px 0;
    align-self: flex-start;
  }
}
