@import "colors";
@import "mixins";
@import "icons";

@keyframes moving {
  100% {transform: rotate(360deg);}
}

.preloader {
  @include min_1240 {
    background: #FFFFFF;
  }
  padding: 105px 0 187px 0;

  @include max_1239 {
    padding: 136px 0 180px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 250px;
    height: 250px;
    background-image: url("~@/assets/img/preloader-icon.svg");
    margin-bottom: 30px;
    animation: moving 7s infinite linear;

    @include max_1239 {
      margin-bottom: 50px;
    }
  }

  &__title {
    font-family: Montserrat-Bold, sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: $main;
    margin-bottom: 15px;

    @include max_1239 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 45px;
    }
  }

  &__description {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $main;

    @include max_1239 {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__microloan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.microloan {
  .preloader {
    @include max_1239 {
      padding-top: 0;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;

      @include max_1239 {
        font-size: 18px;
        line-height: 30px;
      }
    }

    &__description {
      font-family: Inter-SemiBold, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;

      @include max_1239 {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__btn {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 35px;
    width: 238px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 65px;

    @include max_1239 {
      margin-bottom: 53px;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    .icon {
      box-shadow: 5px 5px 14px rgba(58, 184, 111, 0.45);
      border-radius: 3px;

      width: 30px;
      height: 30px;

      @include min_834 {
        min-width: 30px;
        min-height: 30px;
      }

      background: #3AB86F url("~@/assets/img/crown.svg") no-repeat center;

      margin-right: 15px;
    }

   .text {
     font-family: Inter-SemiBold, sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     text-align: center;

     @include max_1239 {
       font-family: Inter, sans-serif;
       font-size: 14px;
       line-height: 26px;
       max-width: 290px;
     }
   }
  }
}