@import "mixins";

.premium {
  margin: 85px 0 0 0;

  @include max_1239 {
    margin: 30px 0 0 0
  }

  &__icon {
    width: 447px;
    height: 443px;
    margin: 0 187px 0 0;
    background-image: url("~@/assets/img/premium.svg");

    @include max_1239 {
      margin: 0 0 23px 0;
      width: 274px;
      height: 283px;
      background-image: url("~@/assets/img/premium-mobile.svg");
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    margin: -11px 0 0 -49px;
    @include max_1239 {
      margin: 0 0 0 -8px;
    }
  }
}

.block {
  &__faq {
    margin: 0 0 66px 0;

    @include max_1239 {
      margin: 0 0 49px 0;
    }
  }

  &__questions {
    padding-top: 45px;

    @include max_1239 {
      padding-top: 82px;
    }

    .title {
      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;

      @include max_1239 {
        font-size: 18px;
        line-height: 22px;
        margin-left: 20px;
      }
    }

    .collapse {
      margin: 35px 0 100px 0;

      @include max_1239 {
        margin: 31px 0 45px 0;
      }
    }
  }

  &__buy {
    display: flex;
    padding: 56px 0;
    color: #FFFFFF;
    background: linear-gradient(97.21deg, #FFFFFF -60.15%, rgba(255, 255, 255, 0.313332) -47.46%, rgba(255, 255, 255, 0.23) 1.61%, rgba(255, 255, 255, 0.0411796) 34.68%, rgba(255, 255, 255, 0) 52.56%), linear-gradient(0deg, #304456, #304456), radial-gradient(148.33% 392.9% at -65.8% -267.1%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #21C766;

    @include max_1239 {
      padding-top: 109px;
    }
  }
}

.faq {
  &__label {
    display: flex;
    align-items: center;
    font-family: Inter-SemiBold, sans-serif;
    padding-left: 86px;

    @include max_1239 {
      padding-left: 0;
      flex-direction: column;
    }

    .top {
      font-weight: bold;
      font-size: 55px;
      line-height: 81px;

      @include max_1239 {
        font-size: 35px;
        line-height: 51px;
      }
    }
    .bottom {
      font-weight: bold;
      font-size: 100px;
      line-height: 147px;

      @include max_1239 {
        font-size: 60px;
        line-height: 88px;
      }
    }
  }

  &__items {
    margin: 22px 0 0 -17px;

    display: flex;

    .left {
      margin-right: 77px;

      @include max_1239 {
        margin-right: 0;
      }
    }

    @include max_1239 {
      margin: 42px 0 0 -10px;
      padding: 0 25px;
      flex-direction: column;
    }
  }

  &__item {
    max-width: 473px;
    width: 100%;
    display: flex;
    align-items: center;

    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    margin: 0 0 35px 0;

    img {
      width: 60px;
      height: 60px;
      margin-right: 25px;

      @include max_1239 {
        margin-right: 15px;
      }
    }

    @include max_1239 {
      margin: 0 0 20px 0;
      max-width: 260px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.buy {
  &__container {
    display: flex;

    @include max_1239 {
      flex-direction: column;
    }
  }

  &__info {
    background: #FFFFFF;
    box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
    border-radius: 12px;
    max-width: 238px;
    max-height: 287px;
    height: 100%;
    width: 100%;
    margin-right: 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 21px 25px 21px;
    margin-left: -17px;

    @include max_1239 {
      margin-left: 0;
      margin-right: 0;
      align-self: center;
      margin-bottom: 35px;
    }

    .icon {
      width: 100px;
      height: 100px;
      margin: 0 0 25px 0;
      border-radius: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #3AB86F;
      background-image: url('~@/assets/img/success.svg');
    }

    .label {
      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;

      color: #3AB86F;
    }

    .description {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: #74828E;
      max-width: 207px;
      text-align: center;
      margin: 17px 0;
    }

    .btn {
      line-height: 35px;
      width: 238px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;

      &:hover {
        background-color: #3AB86F;
        opacity: 0.9;
        color: #FFFFFF;
      }
    }

    .link {
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 17px;
      color: #74828E;
      margin-top: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }


  &__description {
    align-self: center;
    max-width: 718px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include max_1239 {
      padding: 0 20px;
    }
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 35px;

    @include max_1239 {

      font-size: 16px;
      line-height: 28px;
    }
  }
  &__sublabel {
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  &__btn {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 72px;
    width: 348px;
    border-color: #3AB86F;
    margin-bottom: 20px;

    @include max_1239 {
      width: 100%;
      line-height: 50px;
      margin-bottom: 13px;
    }

    &:hover {
      background-color: #3AB86F;
      opacity: 0.9;
      color: #FFFFFF;
    }
  }
}