@import "./main";

.profile {

  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 14px;

  @include max_1239 {
    padding: 0 20px;
  }

  @include max_375 {
    padding: 0 10px;
  }

  &-container {
    padding: 50px 0px;
    display: flex;

    @include max_1239 {
      flex-direction: column;
    }
  }

  &-blocks {
    display: flex;
    flex-direction: column;
    min-width: 657px;

    &:first-child {
      margin-right: 60px;
    }

    @include max_1239 {
      min-width: 100%;
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }

  .bg-red {
    background-color: #FF695B;
  }

  .bg-green {
    background-color: #3DCC79;
  }

  .bg-white {
    background-color: #ffffff;
  }

  button {
    margin: 6px 6px 0px 0px;
    border: none;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    padding: 4px 11px 4px 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.12) !important;
    border-radius: 2px;
    font-weight: normal;
    font-size: 10px;
    color: #FFFFFF;
    width: 90px;
    height: 20px;

    @include max_1239 {
      margin: 0;
    }

    &.btn-primary {
      background-color: #3DCC79;
    }

    &.btn-icon {
      width: auto;
      padding: 4px;
    }

    &.btn-fio {
      @include max_1239 {
        margin: 6px 3px 0 0;
      }
    }

    &.city-btn {
      margin-top: 4px;
      margin-right: 2px;
      z-index: 100;

      @include max_1239 {
        margin: 2px 3px 0 0;
      }
    }

    &.country-btn {
      z-index: 100;
      margin: 5px 6px 0 0 !important;

      @include max_1239 {
        margin: 4px 4px 0 0 !important;
      }
    }

    &.btn-default {
      background-color: #FFFFFF;
      color: #304456;
      opacity: 0.78;
    }

    &.transparent {
      border: none;
      background-color: transparent;
      box-shadow: none !important;
    }

    span {
      margin-left: 11px;
    }

    &.btn-submit {
      span {
        margin-left: 5px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-input-with-button {
    position: relative;
    display: flex;

    width: 100%;
    input {
      width: 100% !important;
    }

    img:hover {
      cursor: pointer;
    }

    .edit {
      width: 23px;
      height: 23px;
      position: absolute;
      right: -3px;
    }

    @include max_1239 {
      .edit {
        height: 20px;
        margin-left: -23px;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
    }

    &:not(.full-width) input {
      padding: 3px 5px;
    }
  }

  .rounded {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3AB86F;
    border-radius: 64px;
    width: 100%;
    padding: 25px 0px;
    border: 1px solid #3AB86F;

    &:hover {
      background-color: #fff;
      color: #3ab86f;
      border: 1px solid #3ab86f;
    }
  }

  .error {
    font-size: 10px;
    display: flex;
    justify-content: center;

    span {
      margin-left: 5px;
    }

    @include max_1239 {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }

  .spacer {
    padding: 10px 30px;

    @include max_1239 {
      padding: 10px 20px;
    }
  }

  &-row-block {
    display: flex;
    width: 100%;

    .card-data {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      width: 100%;

      @include max_1239 {
        max-width: 206px;
      }

      span {
        padding: 0 40px 11px 15px;

        @include max_1239 {
          padding: 0 0 4px 15px;
          font-size: 10px;
          max-height: 12px;
        }
      }
    }

    &.card-info {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      justify-content: space-between;

      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #304456;

      @include max_1239 {
        position: relative;

        .card-image {
          width: 86px;
          height: 55px;

          img {
            width: 86px;
            height: 55px;
          }
        }
      }

      .card-actions {
        button:last-child {
          margin-top: 16px;
        }

        @include max_1239 {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          position: absolute;
          right: 26px;
          top: 45px;

          button {
            &:last-child {
              margin-top: 0;
              margin-right: 10px;
            }
          }
        }
      }

      button {
        position: relative;
      }

      &:hover:not(.action) {
        background-color: #F8F8FB;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
    }
  }

  &-column-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 25px 30px;

    @include max_1239 {
      padding: 15px 20px;
    }

    @include max_375 {
      padding: 10px 10px;
    }

    &.card-row {
      padding: 25px 0;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 18px;
    color: #304456;
    margin-bottom: 15px;
  }

  &-edit-block {
    align-items: center;
    display: flex;

    img {
      cursor: pointer;
      margin-left: 20px;
    }
  }

  input {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.12) !important;
    border-radius: 5px;
    padding: 4px 4px 4px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #304456;
    border: 1px solid silver;
    width: 100%;

    &:disabled {
      border: none;
      box-shadow: none !important;
      background: #FFFFFF;
      padding: 0;
      font-size: 14px;
    }

    @include max_1239 {
      font-size: 16px;
      padding: 4px 4px 4px 4px;
    }
  }

  .mg-l-30 {
    margin-left: 30px;
  }

  .mg-l-20 {
    margin-left: 20px;
  }

  .mg-r-20 {
    margin-right: 20px;
  }

  .mg-r-30 {
    margin-right: 30px;
  }

  label {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #304456;
    opacity: 0.55;
  }

  &-input-block {
    width: 100%;

    &.margin-rb {
      margin-right: 41px;
      margin-bottom: 27px;

      @include max_1239 {
        margin-right: 0;
      }
    }

    &.margin-b {
      margin-bottom: 27px;
    }

    &.margin-r {
      margin-right: 41px;

      @include max_1239 {
        margin-right: 0;
      }
    }
  }

  .notify-counter {
    position: absolute;
    left: 0;
    top: 0;
    background: #FF695B;
    filter: drop-shadow(1px 1px 2px rgba(51, 70, 87, 0.35));
    box-shadow: 1px 1px 2px rgba(51, 70, 87, 0.35);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 2;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
  }

  .premium-block {
    display: flex;
    margin-top: 25px;

    @include max_1239 {
      display: none;
    }

    &.settings {
      @include max_1239 {
        display: flex;
        margin-top: 30px !important;
      }
    }

    &.notifications {
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 0px;
      margin-top: 15px;
      max-width: 523px;

      &:last-child {
        padding: 0px;
        margin-top: 0px;

        h6 {
          font-size: 18px;
          line-height: 48px;
          display: flex;
          align-items: center;
          color: #304456;
          margin-bottom: 25px;
        }
      }

      .notifications-item {
        position: relative;
        margin: 0px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        height: 55px;

        &:hover {
          cursor: pointer;
        }

        img {
          padding: 15px 20px;
        }

        &-wrapper {
          padding: 5px 0px 0px 5px;
          position: relative;
        }

        h5 {
          margin-left: 25px;
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          display: flex;
          align-items: center;
          color: #334657;
        }
      }
    }

    &-date {
      span:last-child {
        margin-left: 5px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding: 15px;
      width: 100%;
      justify-content: space-around;

      .profile-column-block {
      }

      button {
        padding: 17px 0px;
        width: 238px;
      }
    }
  }

  &-block {
    background: #FFFFFF;
    filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.12));
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    display: flex;
    flex: 1;

    &-avatar {
      width: 207px;
      height: 207px;
      background-size: cover;
      filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.12));
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.12);

      @include max_1239 {
        width: 80px;
        height: 80px;
        top: -61px;
        left: calc(50% - 40px);
        position: absolute;
      }

      > div {
        height: 47px;
        background: rgba(61, 204, 121, 0.59);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;

        @include max_1239 {
          height: 17px;

          img {
            width: 11px;
            height: 10px;
          }
        }
      }
    }

    &.user-info {
      @include max_1239 {
        .profile-row-block {
          flex-direction: column;
        }

        &.margin-r {
          margin-right: 0;
        }
      }
      button {
        margin: 4px;
      }

      input {
        font-size: 14px;
        line-height: 20px;

        &:disabled {
          width: auto;
          padding: 4px 11px 4px 0px;
        }
      }
    }

    &-user-data {
      padding: 0 35px;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .profile-row-block:not(:first-child) {
        margin-top: 16px;
      }

      @include max_1239 {
        padding: 15px 20px;
      }
    }

    &:not(:first-child) {
      margin-top: 35px;
    }

    &.personal {
      @include max_1239 {
        input {
          width: 100%;
        }
      }
    }
  }

  .color-green {
    color: #3AB86F;
  }

  .color-red {
    color: #FD7376;
  }

  .text {
    font-size: 16px;
    line-height: 40px;
    color: #304456;
  }

  .text-block {
    h4 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #304456;
      margin-bottom: 15px;

      @include max_1239 {
        padding: 0 20px;
      }
    }

    .text {
      margin-left: 20px;
      padding-bottom: 95px;
    }
  }

  .faq {
    padding: 25px 0 40px 0;

    h3 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #304456;
    }

    &-item {
      filter: drop-shadow(0px 2px 8px rgba(159, 169, 188, 0.56));
      box-shadow: 0px 2px 8px rgba(159, 169, 188, 0.56);
      border-radius: 5px;
      padding: 5px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      cursor: pointer;

      div {
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
      }

      span {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.card {
  &__add {
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    width: 545px;
    line-height: 45px;

    @include max_1239 {
      width: 100%;
      line-height: 40px;
    }
  }
}
