@import "colors";
@import "mixins";

.promocode {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;

    @include max_1239 {
      padding: 0 20px;
      margin-top: 67px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 115px 0 169px 0;

    background: #FFFFFF;
    box-shadow: 0 4px 11px rgba(111, 111, 111, 0.35), 0 4px 64px rgba(159, 169, 188, 0.24);
    border-radius: 12px;

    min-height: 351px;
    max-width: 898px;
    width: 100%;

    position: relative;

    @include max_1239 {
      align-self: flex-start;
      max-width: calc(100% - 73px);
      max-height: 375px;
      padding: 0 18px 0 15px;
    }
  }

  &__icon {
    width: 155px;
    height: 155px;
    background-image: url("~@/assets/img/promocode-label.svg");

    position: absolute;
    top: -75px;
  }

  &__label {
    margin: 90px 0 19px 0;
    font-family: Inter-SemiBold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    @include max_1239 {
      margin-top: 99px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 24px;

    @include max_1239 {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    max-width: 611px;

    @include max_1239 {
      max-width: 100%;
      min-width: 302px;
    }

    @include max_375 {
      max-width: 100%;
      min-width: 255px;
    }

    input {
      font-family: Inter-SemiBold, sans-serif;
      background: #FFFFFF;
      border: 1px solid #3AB86F;
      box-sizing: border-box;
      box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      padding: 0 15px;
      text-transform: uppercase;
    }
  }

  &__copy-btn {
    position: absolute;
    top: 6px;
    right: -129px;
    background: #3AB86F;
    border: 1px solid #3AB86F;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    width: 136px;
    line-height: 45px;
    text-align: center;


    @include max_1239 {
      top: -1px;
      right: -1px;
    }

    &-chrome {
      top: 6px;

      @include max_1239 {
        top: -1px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    margin-top: 24px;
    background: transparent;
    color: rgba(58, 184, 111, 1);
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: lowercase;

    @include max_1239 {
      margin-top: 26px;
    }

    @include max_375 {
      margin-bottom: 15px
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.mfo {
  &__icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    max-width: 216px;

    img {
      width: 216px;
      max-height: 58px;
    }

    @include max_1239 {
      display: none;
    }
  }
}

.input {
  &__group {
    font-family: Inter-Medium, sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;

    @include max_1239 {
      width: 100%;
    }

    input {
      min-width: 250px;
      height: 45px;
      width: 100%;

      @include max_1239 {
        min-width: 207px;
      }
      @include max_375 {
        min-width: 136px;
      }
    }
  }
}