@import "mixins";

.promocodes {
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
    margin-bottom: 13px;

    .title {
      font-family: Inter-SemiBold, sans-serif;
    }

    @include max_1239 {
      align-items: center;
      margin-top: 52px;
      margin-bottom: 15px;

      .title {
        font-size: 24px;
        line-height: 48px;
      }

      .subtitle {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  &__items {
    margin-top: 64px;
    display: flex;

    @include max_1239 {
      margin-top: 46px;
      flex-direction: column;
    }
  }

  &__item {
    background: #FFFFFF;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 32px;
    width: 286px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:last-child) {
      margin-right: 32px;

      @include max_1239 {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        max-width: 143px;
        margin: 24px 0 12px 0;
      }

      .description {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        max-width: 228px;
        margin-bottom: 26px;
      }
    }
  }

  &__icon {
    width: 286px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EEEEF1;

    img {
      width: 216px;
      max-height: 100px;
        object-fit: contain;
    }
  }

  &__btn {
    line-height: 56px;
    width: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;

    &:hover {
      font-family: Inter-SemiBold, sans-serif;
      font-weight: 800;
      font-size: 18px;
    }
  }

  &__important-information {
    margin-top: 160px;

    @include max_1239 {
      margin-top: 76px;
    }
  }

  &__consumer-information {
    margin-top: 65px;
    margin-bottom: 95px;
    align-items: flex-start;
    text-align: left;

    @include max_1239 {
      margin-top: 45px;
      margin-bottom: 55px;
      padding: 0 20px;

      .title {
        font-size: 18px;
        line-height: 22px;;
      }
    }
  }
}
