@import "colors";
@import "mixins";

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.registration {
  @include max_1239 {
    margin-top: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include min_1240 {
      margin-top: 48px;
    }

    @include max_1239 {
      padding: 0 20px;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include max_1239 {
      background: #FFFFFF;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px 22px 20px;
    }
  }

  &__loans {
    font-size: 12px;
    line-height: 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Inter-SemiBold, sans-serif;

    @include max_1239 {
      font-family: Inter, sans-serif;
      text-align: center;
      width: 100%;
      align-items: center;

      .title {
        font-size: 20px;
        line-height: 24px;
      }

      .subtitle {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__progress {
    @include max_1239 {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__approval {
    @include max_1239 {
      font-size: 16px;
      line-height: 20px;
    }

    &-bar {
      width: 398px;
      height: 12px;
      margin: 12px 0;

      box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 36px;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
      position: relative;

      &::before {
        border-radius: 36px;
        background: var(--color);

        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: var(--filling);
      }

      @include max_1239 {
        width: 100%;
        min-width: 250px;
      }
    }
  }

  &__main {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 25px;

    @include max_1239 {
      margin-top: 33px;
      margin-bottom: 10px;
    }
  }

  &__btn {
    width: 200px;
    align-self: center;
    margin-bottom: 25px;

    span {
      line-height: 52px;
    }

    &:hover {
      background-color: rgba(39, 39, 41, 0.8);
    }

    @include max_1239 {
      width: 100%;
      margin-bottom: 27px;
    }
  }

  &__pagination {
    align-self: center;
    margin-bottom: 115px;

    &.mail {
      span {
        font-size: 14px;
        line-height: 20px;
      }

      @include max_1239 {
        margin-bottom: 55px;
      }
    }

    @include max_1239 {
      margin-bottom: 47px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__probability {
    font-size: 12px;
    line-height: 20px;
    color: #8D8D94;
    margin-top: 12px;

    @include max_1239 {
      margin-top: 9px;
    }
  }

  &__generate {
    &-btn {
      font-family: Inter-SemiBold, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;

      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #304456, #304456), linear-gradient(276.68deg, #E6E6EB -4.17%, rgba(230, 230, 235, 0) 161.36%);
      border-radius: 12px;

      padding: 18px 0 18px 40px;
      max-width: 201px;
      margin-top: 29px;

      &:hover {
        cursor: pointer;
      }

      @include max_1239 {
        margin-top: -6px;
        padding: 7px 31px 8px 30px;
        width: 165px;
        align-self: center;
        max-width: 226px;
      }
    }
  }

  &__mail-group {
    display: flex;
    flex-direction: row;

    input {
      font-family: Inter-SemiBold, sans-serif;
      max-width: 398px;
      padding-left: 24px;
    }

    .code {
      input {
        padding: 16px 15px 12px 15px
      }
    }

    @include max_1239 {
      align-self: center;
      max-width: 335px;
      flex-direction: column;

      input {
        max-width: 235px;
      }

      .code {
        input {
          max-width: 100%;
          min-width: 335px;
          border-radius: 8px;
          padding: 16px 15px 12px 15px
        }
      }
    }

    @include max_375 {
      align-self: center;
      max-width: 280px;
      input {
        max-width: 181px;
      }

      .code {
        input {
          max-width: 100%;
          min-width: 181px;
          border-radius: 8px;
          padding: 16px 15px 12px 15px
        }
      }
    }
  }

  &__mail {
    &-success {
      margin: 70px 0 85px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include max_1239 {
        margin: 70px 0 49px 0;
      }

      .description {
        font-size: 16px;
        line-height: 32px;
        color: $gray-1;

        margin-top: 30px;

        @include max_1239 {
          margin-top: 36px;
          text-align: center;
        }
      }
    }
  }

  &__phone {
    margin-top: 60px;
  }
}

.form-group {
  &__registration {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 398px;
    width: 100%;
    margin-bottom: 30px;

    @include max_1239 {
      margin-bottom: 22px;
      max-width: 100%;

      input {
        line-height: 14px;
        padding: 15px 15px;
      }
    }

    label {
      font-size: 14px;
      line-height: 16px;
      color: #54545E;
      margin-bottom: 12px;
    }

    &-email {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 548px;
      width: 100%;
      margin: 64px 0 23px 0;

      @include max_1239 {
        margin: 38px 0 50px 0;
      }

      input {
        line-height: 18px;
        padding: 14px 15px 14px 15px;

        @include max_1239 {
          border-radius: 8px 0 0 8px;
        }
      }

      input[readonly] {
        cursor: not-allowed;
      }

      label {
        font-size: 16px;
        line-height: 32px;
        color: #54545E;
        margin-bottom: 16px;

        @include max_1239 {
          text-align: center;
          margin-bottom: 25px;
        }
      }

      .description {
        font-size: 16px;
        line-height: 32px;

        @include max_1239 {
          font-size: 12px;
        }
      }
    }
  }
}


.second-step {
  &__btn {
    margin-top: 86px;

    @include max_1239 {
      margin-top: 9px;
    }
  }
}

.third-step {
  &__btn {
    margin-top: 118px;

    @include max_1239 {
      margin-top: 3px;
    }
  }
}

.email-step {
  &__btn {
    margin-top: 2px;

    @include max_1239 {
      margin: 35px 0 15px 0;
    }

    &-change {
      margin: 12px 0 32px 0;
      max-width: 113px;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      &-mob {
        display: none;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #304456, #304456), linear-gradient(276.68deg, #E6E6EB -4.17%, rgba(230, 230, 235, 0) 161.36%);
        border-radius: 0 8px 8px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        text-align: center;
        color: #FFFFFF;
        align-items: center;
        padding: 0 16px;

        &:hover {
          cursor: pointer;
        }
      }

      @include max_1239 {
        display: none;
        &-mob {
          display: flex;

        }
      }
    }

    &-register {
      margin-bottom: 25px;

      @include max_1239 {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

.email-success-step {
  &__icon {
    min-width: 152px;
    min-height: 101px;
  }
}

.input {
  &__group {
    margin-right: 20px;
    display: flex;
    width: 100%;

    @include max_1239 {
      margin-right: 0;
    }
  }
}

.checkData, .checkDataFinish, .addCard, .addCardFinish, .addCardConfirm {
  &__header {
    display: none;

    @include max_1239 {
      display: flex;
    }
  }
}

.checkData {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -13px;

  @include max_1239 {
    margin-top: 35px;
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: $main;
    text-align: center;
    line-height: 48px;

    @include max_1239 {
      font-size: 24px;
      line-height: 35px;
    }
  }

  &__content {
    margin: 50px 0 115px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include max_1239 {
      margin: 31px 0 0 0;
    }
  }

  &__progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-content: center;

    @include max_1239 {
      flex-direction: column;
    }
  }

  &__loader {
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-family: Inter-SemiBold, sans-serif;
      font-weight: bold;
      font-size: 55px;
      line-height: 32px;
      text-align: center;
      color: #3DCC79;
    }

    @include min_1240 {
      margin-left: -64px;
      margin-right: 90px;
    }
  }

  &__total-verified {
    font-size: 32px;
    line-height: 19px;
    margin-right: 35px;
    margin-top: -63px;

    @include min_1240 {
      min-width: 437px;
      max-width: 500px;
      width: 100%;
    }

    @include max_1239 {
      display: none;
    }
  }

  &__description {
    max-width: 470px;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 225px;
    margin: 10px 0 0 3px;

    @include max_1239 {
      margin: 33px 0 0 0;
      font-size: 12px;
      line-height: 22px;
      min-height: 198px;
    }

    .top {
      margin-bottom: 13px;

      @include max_1239 {
        margin-bottom: 7px;
      }
    }

    .bottom {
      line-height: 31px;

      @include max_1239 {
        line-height: 24px;
      }
    }
  }

  .value {
    font-size: 36px;
    line-height: 32px;
    margin-left: 15px;
  }

  &__items {
    margin: 34px 0 0 18px;
    text-align: center;

    &.mobile {
      @include min_1239 {
        display: none;
      }
    }

    @include max_1239 {
      margin: 16px 0 0 18px;
    }

    .active {
      font-family: Inter-SemiBold, sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: $main;
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 279px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: $main;
      opacity: 0.6;
      margin-right: 20px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    &-check {
      animation: 3s linear 0s normal none infinite running rot;
      -webkit-animation: 3s linear 0s normal none infinite running rot;
    }
  }
}

.checkDataFinish {
  margin-top: -14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include max_1239 {
    margin-top: 34px;
  }

  &__content {
    margin: 31px 0 55px 0;
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include max_1239 {
      text-align: center;
    }

    .top {
      font-size: 32px;
      line-height: 56px;

      @include max_1239 {
        font-size: 24px;
        line-height: 35px;
      }
    }

    .bottom {
      margin-top: -6px;
      font-size: 24px;
      line-height: 56px;

      @include max_1239 {
        margin-top: 0;
        font-size: 16px;
        line-height: 35px;
      }
    }
  }

  &__total-verified {
    font-size: 32px;
    line-height: 19px;
    margin-top: 6px;
    margin-left: 3px;

    @include min_1240 {
      min-width: 402px;
      width: 100%;
    }

    @include max_1239 {
      font-size: 16px;
      line-height: 20px;
      order: 2;
      margin-top: 1px;
    }
  }

  .value {
    font-size: 36px;
    line-height: 32px;
    margin-left: 15px;

    @include max_1239 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__loader {
    margin: 12px 53px 0 527px;

    @include max_1239 {
      order: 1;
      margin: 0 0 28px 0;
    }
  }

  &__description {
    min-height: 100%;
    margin-top: 8px;

    @include max_1239 {
      order: 3;
      margin: 36px 0 -19px 0;
    }
  }

  &__btn {
    margin: 19px 0 115px 10px;

    @include max_1239 {
      margin: 0 0 55px 1px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.addCard {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include max_1239 {
    margin-top: 35px;
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    color: $main;
    text-align: center;
    line-height: 48px;


    .top {
      font-size: 32px;
      line-height: 48px;

      @include max_1239 {
        font-size: 24px;
        line-height: 48px;
      }
    }

    .bottom {
      font-size: 16px;
      line-height: 48px;
    }
  }

  &__description {
    margin-top: 30px;
    font-size: 16px;
    line-height: 32px;
    color: $main;
    max-width: 958px;

    @include max_1239 {
      text-align: center;
      margin-top: 25px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__icon {
    width: 629px;
    height: 259px;

    margin: 32px 0 42px -8px;

    @include max_1239 {
      width: 350px;
      height: 146px;
      margin: 35px 0 31px -18px;
    }

    @include max_375 {
      width: 300px;
    }
  }

  &__policy {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $main;
    margin: 25px 0 110px 0;

    @include max_1239 {
      margin: 25px 0 60px 0;
      font-size: 15px;
      line-height: 26px;
    }

    input {
      @include cb();

      + label {
        position: relative;
        user-select: none;

        div {
          display: inline-block;
          width: 816px;
          word-break: break-all;

          @include max_1239 {
            width: 100%;
            display: flex;
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: -46px;
          left: 0;
          width: 14px;
          height: 14px;

          box-sizing: border-box;
          border: 1px solid #3AB86F;
          border-radius:2px;

          background: #FFFFFF;
          text-align: center;
          transition: background 200ms ease-out;

          @include max_1239 {
            top: -11px;
            left: 72px;
            width: 27px;
            height: 27px;

            &:before {
              content: 'Я согласен(-на) с';
            }
          }

          @include max_375 {
            left: 35px;
          }
        }

        &:after {
          content: "";
          position: absolute;
          transform: scale(0);
          transition: transform 200ms ease-out;

          display: none;
          background-color: transparent;
          content: "";
          position: absolute;
          left: 5px;
          top: -45px;
          width: 3px;
          height: 7px;
          opacity: 0.2;

          border: solid white;
          border-width: 0 1px 1px 0;
          transform: rotate( 45deg);
          transition: border-color 0.3s ease;

          @include max_1239 {
            left: 80px;
            top: -6px;
            width: 6px;
            height: 11px;
            border-width: 0 3px 3px 0;
          }

          @include max_375 {
            left: 45px;
          }
        }
      }

      &:checked {
        + label {

          &:before {
            content: "";
            border: 1px solid #3AB86F;;
            background: #3AB86F;
          }

          &:after {
            display: block;
            content: "";
            opacity: 1;
          }
        }
      }
    }
  }

  &__safety {
    margin: 0 0 25px 0;

    @include max_1239 {
      display: flex;
      flex-direction: column;
    }

    .label {
      font-family: Inter-SemiBold, sans-serif;
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      color: $main;

      @include max_1239 {
        font-size: 24px;
        line-height: 36px;
        align-self: center;
        text-align: center;
      }
    }

    .content {
      font-weight: 400;
      font-size: 16px;
      line-height: 40px;
      margin-top: 45px;

      @include max_1239 {
        margin-top: 20px;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .bottom {
      margin-top: 40px;

      @include max_1239 {
        margin-top: 25px;
      }
    }
  }

  &__btn {
    @include max_1239 {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.removeCard {
  &__btn {
    align-self: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

    background: linear-gradient(0deg, rgba(39, 39, 41, 0.12), rgba(39, 39, 41, 0.12)), #FF695B;
    border-radius: 6px;
    padding: 16px 42px;
    margin-bottom: 115px;

    @include max_1239 {
      padding: 12.5px 66px;
      margin-bottom: 55px;
    }

    &:hover {
      background-color: rgba(39, 39, 41, 0.8);
    }
  }
}

.checkbox {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__title {
    margin-left: 32px;
    flex-direction: column;

    @include max_1239 {
      margin-top: 26px;
      margin-left: 0;
    }
  }

  &__confirm {
    @include max_1239 {
      display: none !important;
    }
    &-mob {
      display: none !important;
      @include max_1239 {
        display: flex !important;
        position: absolute;
        top: -9px;
        left: 115px;
        width: 150px;

        font-family: Inter-SemiBold, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      @include max_375 {
        left: 75px;
      }
    }
  }

  &__checkmark {
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
}

.addCardFinish {
  display: flex;
  flex-direction: column;

  &__btn {
    align-self: center;
    padding: 16px 52px 16px 52px;
    max-width: 200px;
    max-height: 52px;
    margin: 24px 0 115px 3px;

    &:hover {
      background-color: rgba(39, 39, 41, 0.8);
    }

    @include max_1239 {
      max-width: 335px;
      padding: 16px 113px;
      margin: 35px 0 55px 6px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    @include max_375 {
      max-width: 100%;
      padding: 16px 95px;
    }
  }
  &__form-group {
    max-width: 747px;
    margin-top: -4px;
    margin-left: 1px;

    @include max_1239 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
  }
  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include max_1239 {
      margin-top: 35px;
      flex-direction: column;
    }
  }
  &__info {
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 293px;
    margin-left: 43px;

    @include max_1239 {
      margin: 15px 0 0 0;
      width: 100%;
      height: 258px;
    }

    @include max_375 {
      align-items: center;
    }

    .info {
      &__logo {
        margin: 42px 0 0 36px;
        background-image: url("~@/assets/img/card-verified.svg");
        background-repeat: no-repeat;
        width: 365px;
        height: 28px;

        @include max_1239 {
          margin: 27px 0 0 17px;
          background-image: url("~@/assets/img/card-verified-mob.svg");
          width: 305px;
          height: 23px;
        }
      }
      &__text {
        margin: 41px 0 0 36px;
        font-weight: normal;
        font-size: 14px;
        line-height: 29px;
        color: #8D8D94;
        max-width: 372px;

        @include max_1239 {
          max-width: 302px;
          margin: 17px 0 0 17px;
        }
      }
    }
  }
  &__form {
    display: flex;
    background-image: url("~@/assets/img/card-form.svg");
    background-repeat: no-repeat;
    width: 576px;
    height: 267px;
    margin: 14px 0 36px -14px;
    background-size: cover;
    position: relative;

    @include max_1239 {
      width: 366px;
      height: 234px;
      margin: 25px 0 0 -16px;
      background-image: url("~@/assets/img/card-form-mob.svg");
      background-position: left;
    }

    @include max_375 {
      width: 310px;
      height: 197px;
    }
  }
  &__label {
    display: flex;
    flex-direction: column;

    .top {
      font-family: Inter-SemiBold, sans-serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      color: $main;

      @include max_1239 {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
      }
    }

    .bottom {
      margin-top: 5px;
      font-family: Inter-Medium, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 48px;
      color: $main;

      @include max_1239 {
        font-size: 16px;
        line-height: 29px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.card-form {
  color: #8D8D94;

  @include max_1239 {
    input {
      padding-left: 15px;
    }
  }

  &__number {
    position: absolute;
    margin: 127px 0 0 47px;
    height: 40px;
    width: 332px;
    background: #FFFFFF;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 15px;

    font-size: 14px;
    line-height: 20px;

    @include min_1240 {
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.25) !important;
    }

    @include max_1239 {
      margin: 33px 0 0 17px;
      width: 335px;
    }

    @include max_375 {
      margin-top: 20px;
      width: 277px;
    }
  }
  &__valid {
    position: absolute;
    margin: 180px 0 0 252px;
    background: #FFFFFF;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 5px;
    width: 63px;
    height: 24px;
    padding: 2px 8px;

    font-size: 12px;
    line-height: 20px;

    @include min_1240 {
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.25) !important;
    }

    @include max_1239 {
      display: none;
    }
  }
  &__cvv {
    position: absolute;
    margin: 105px 0 0 419px;
    background: #FFFFFF;
    border: 1px solid #E6E6EB;
    box-sizing: border-box;
    border-radius: 5px;
    width: 65px;
    height: 29px;
    padding: 5px 17px;
    font-size: 14px;
    line-height: 20px;

    @include min_1240 {
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.25) !important;
    }

    @include max_1239 {
      width: 99px;
      height: 40px;
      margin: 153px 0 0 17px;
      padding: 5px 15px;
    }

    @include max_375 {
      margin-top: 133px;
    }
  }

  &__line {
    &-valid {
      position: absolute;
      background-image: url("~@/assets/img/card-date-line.svg");
      background-repeat: no-repeat;
      width: 79px;
      height: 79px;
      margin: 206px 0 0 257px;

      @include max_1239 {
        display: none;
      }

      &-text {
        position: absolute;
        margin: 275px 0 0 340px;
        font-size: 12px;
        line-height: 15px;
        color: #8D8D94;

        @include max_1239 {
          display: none;
        }
      }
    }
    &-cvv {
      position: absolute;
      background-image: url("~@/assets/img/card-cvv-line.svg");
      background-repeat: no-repeat;
      width: 276px;
      height: 2px;
      margin: 119px 0 0 485px;

      @include max_1239 {
        display: none;
      }

      &-text {
        position: absolute;
        margin: 79px 0 0 634px;
        font-size: 12px;
        line-height: 18px;
        color: #8D8D94;
        width: 200px;

        @include max_1239 {
          font-size: 14px;
          line-height: 22px;
          color: #FFFFFF;
          margin: 152px 0 0 131px;
        }

        @include max_375 {
          margin-top: 125px;
        }
      }
    }
  }
}

@include max_1239 {
  .card {
    &__valid-group {
      display: flex;
      flex-direction: row;

      height: 40px;
      margin: 93px 0 0 17px;
    }
  }
}

@include max_375 {
  .card {
    &__valid-group {
      margin-top: 76px;
    }
  }
}


.addCardConfirm {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;

  &____background {
    width: 664px;
    height: 198px;
    opacity: 0.7;
    z-index: 1;
    position: absolute;

  }
  &__content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include max_1239 {
      margin-top: 31px;
    }
  }

  &__label {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;

    @include max_1239 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 15px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 48px;

    @include max_1239 {
      line-height: 29px;
    }
  }

  &__icon {
    margin-top: 25px;
    width: 160px;
    height: 160px;
    align-self: center;
    background-image: url("~@/assets/img/icon-confirm-sms.svg");

    @include max_1239 {
      margin-top: 35px;
    }
  }

  &__input {
    position: relative;
    max-width: 398px;
    align-self: center;
    margin: 15px 0 48px 0;

    @include max_1239 {
      max-width: 100%;
      width: 100%;
      min-width: 335px;
      margin: 36px 0 35px 0;
    }

    @include max_375 {
      min-width: 303px;
    }

    input {
      width: 398px;
      height: 56px;
      background: #FFFFFF;
      border: 1px solid #E6E6EB;
      box-sizing: border-box;
      border-radius: 12px;
      padding-left: 18px;

      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #8D8D94;

      @include max_1239 {
        width: 100%;
        height: 48px;
      }
    }

    span {
      position: absolute;
      background-image: url("~@/assets/img/icon-resend.svg");
      width: 20px;
      height: 20px;
      right: 25px;
      top: 18px;

      @include max_1239 {
        width: 56px;
        height: 48px;
        background-color: #405363;
        border-radius: 0 8px 8px 0;
        top: 0;
        right: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__buttons {
    width: 398px;
    align-self: center;
    margin-bottom: 115px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;

    @include max_1239 {
      width: 100%;
      min-width: 335px;
      flex-direction: column;
      margin-bottom: 55px;
    }

    @include max_375 {
      min-width: 303px;
    }
  }

  &__send-btn {
    width: 200px;
    height: 52px;
    line-height: 52px;

    @include max_1239 {
      margin-bottom: 25px;
      width: 100%;
      font-size: 16px;
    }

    &:hover {
      background-color: rgba(39, 39, 41, 0.8);
    }
  }

  &__cancel-btn {
    background-color: #E6E6EB;
    color: #54545E;
    width: 175px;
    height: 52px;
    line-height: 52px;

    @include max_1239 {
      width: 199px;
      height: 40px;
      align-self: center;
      font-size: 16px;
      line-height: 40px;
      color: #304456;
    }

    &:hover {
      color: #FFFFFF;
      background-color: rgb(128, 128, 130);
    }
  }
}


.phone {
  &__control {
    display: flex;
    justify-content: center;
  }
}
