@import "colors";
@import "mixins";

.select {
  position: relative;
  z-index: 100;

  &__pointer {
    cursor: pointer;
  }

  &__backdrop {
    display: none;
    z-index: 101;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: transparent;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    
    &:hover {
      cursor: pointer;
    }

    @include max_1239 {
      max-height: 48px;
    }

    input {
      &:hover {
        cursor: pointer;
      }

      width: 100%;
      background: #FFFFFF;
      border: 1px solid #E6E6EB;
      border-radius: 12px 0 0 12px;

      font-size: 14px;
      line-height: 20px;

      padding: 18px 18px;

      color: #54545E;

      &::placeholder {
        color: #8D8D94;
      }

      @include max_1239 {
        line-height: 14px;
        padding: 15px 15px;
      }
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    z-index: 102;
    min-width: 56px;
    min-height: 56px;
    background-color: #445666;
    border-radius: 0 12px 12px 0;
    box-sizing: border-box;

    @include max_1239 {
      min-width: 56px;
      min-height: 48px;
    }
  }

  &__dropdown {
    display: none;
    background-color: #ffffff;
    border: 1px solid #E6E6EB;
    border-radius: 0 0 12px 12px;
    border-top: none;
    color: #313131;
    box-sizing: border-box;

    position: absolute;

    top: 56px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 103;
    left: 0;
    width: 100%;
  }

  &__list {
    flex-direction: column;
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__item {
    padding: 18px 18px;
    font-size: 14px;
    line-height: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid #E6E6EB;
    }

    &.selected {
      background-color: #445666;
      color: #ffffff;
    }

    &:hover {
      background-color: #445666;
      color: #ffffff;
      transition: all .2s linear;
      cursor: pointer;
    }
  }
}


.icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 5px;
  z-index: 100;

  &-up {
    background-image: url("~@/assets/img/arrow-down.svg");
    transform: rotate(180deg);
  }

  &-down {
    background-image: url("~@/assets/img/arrow-down.svg");
  }

  &-calendar {
    background-image: url("~@/assets/img/icon-calendar.svg");
    height: 16px;
  }
}

.open {
  .select__dropdown {
    z-index: 105;
    display: block !important;
    border: 1px solid #E6E6EB;
  }

  .select__backdrop {
    display: flex;
  }

  input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .select__arrow {
    border-bottom-right-radius: 0;
  }
}

.invalid {
  input {
    border-color: $red;
    border-right: none;
  }

  .select__arrow {
    border: 1px solid $red;
    border-left: none;
    box-sizing: content-box;
  }

  .select__dropdown {
    border-color: $red;
    //border-top: none;
  }
}

.addCardFinish {
  .select {
    display: none;
    border-radius: 5px;
    width: 99px;
    margin-right: 16px;

    @include max_1239 {
      display: flex;
    }

    &__input {
      max-height: 40px;
      width: 100%;
      position: relative;

      input {
        box-sizing: border-box;
        padding: 11px 0 11px 15px;

        display: block;
        width: 100%;
        max-width: 99px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__dropdown {
      top: 41px;
    }

    &__item {
      padding: 10px 20px
    }

    &__arrow {
      background: transparent;
      min-width: 20px;
      min-height: 20px;
      position: absolute;
      top: 10px;
      left: 77px;
    }
  }

  .icon {
    width: 9px;
    height: 6px;
    &-up {
      background-image: url("~@/assets/img/arrow-down-black.svg");
      transform: rotate(180deg);
    }

    &-down {
      background-image: url("~@/assets/img/arrow-down-black.svg");
    }
  }

  .open {
    .select__dropdown {
      z-index: 105;
      display: block !important;
      border: 1px solid #E6E6EB;
    }

    .select__backdrop {
      display: flex;
    }

    input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.profile-select {
  &__city {
    width: 100%;
    .select {
      &__input {
        input {
          padding: 3px 0 3px 10px;
          background: #FFFFFF;
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.12) !important;
          border-radius: 5px;
          max-width: 166px;
          border: 1px solid silver;
          color: #304456;
          font-weight: 500;
          font-family: Inter-SemiBold, sans-serif;

          @include max_1239 {
            width: 100%;
            max-width: 100%;
          }
        }
      }
      &__arrow {
        display: none;
      }

      &__dropdown {
        top: 30px;
        box-sizing: content-box;
        border-right: 5px;

        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      &__item {
        padding: 8px;
        font-size: 12px;

        &:hover {
          background-color: #3dcc79;
        }

        &.selected {
          background-color: #3dcc79;
        }
      }
    }
  }

  &__country {
    .select {
      &__input {
        input {
          min-width: 264px;
          padding: 4px 0 4px 10px;

          @include max_1239 {
            padding: 5px 0 5px 10px
          }
        }
      }
    }
  }
}