@import "mixins";
@import "common";
@import "service";

.tabs {
    &__labels {
        width: 100%;
    }

    &__item {
        background-color: #3AB86F;
        opacity: 0.78;
        border-radius: 12px 12px 0 0;

        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;

        color: #FFFFFF;
        text-align: center;
        width: 100%;

        padding: 11px 0 10px 0;
        max-height: 60px;
        align-self: flex-end;
        display: flex;

        &:hover {
            cursor: pointer;
        }


        @include max_1239 {
            border-radius: 5px 5px 0 0;
        }

        &-microloan {
            max-width: 203px;
            min-width: 203px;
            padding: 11px 0 11px 66px;

            @include max_1239 {
                max-width: 102px;
                min-width: 102px;
                padding: 7px 0 5px 19px;
            }

            &.active {
                max-width: 225px;
                min-width: 225px;

                @include max_1239 {
                    max-width: 133px;
                    min-width: 133px;
                }
            }
        }

        &-credit {
            max-width: 178px;
            min-width: 178px;
            padding: 11px 0 11px 91px;

            @include max_1239 {
                max-width: 63px;
                min-width: 63px;
                padding: 7px 0 5px 19px;
            }

            &.active {
                max-width: 225px;
                min-width: 225px;

                @include max_1239 {
                    max-width: 94px;
                    min-width: 94px;
                }
            }
        }

        &-creditCard {
            max-width: 276px;
            min-width: 276px;
            padding: 11px 0 11px 71px;

            @include max_1239 {
                max-width: 121px;
                min-width: 121px;
                padding: 7px 0 5px 19px;
            }

            &.active {
                max-width: 319px;
                min-width: 319px;

                @include max_1239 {
                    max-width: 152px;
                    min-width: 152px;
                }
            }
        }

        &:hover {
            cursor: pointer;
        }

        @include max_1239 {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &-details {
        background: #FFFFFF;
        border-radius: 0 12px 12px 12px;
        box-shadow: 0 0 2px rgba(0,0,0,0.1);

        padding: 40px 30px 40px 25px;

        @include max_1239 {
            padding: 20px;
        }
    }
}

.active {
    font-family: Inter-SemiBold, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #304456;
    opacity: 1;
    background-color: #FFFFFF;
    order: -1;
    text-align: left;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);

    height: 39px;
    padding: 15px 0 12px 25px;

    span {
        align-self: flex-end;
    }

    @include max_1239 {
        height: 17px;

        font-size: 16px;
        line-height: 19px;
        padding: 12px 0 6px 20px;
    }
}

.tab {
    &__label {
        font-family: Montserrat-Bold, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 60px;

        color: #304456;

        margin-bottom: 40px;

        @include max_1239 {
            font-family: Inter-SemiBold, sans-serif;
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 25px;
            text-align: center;
            padding: 0 20px;
        }
    }
}
