@import "mixins";

.unsubscribe {
  margin-top: 85px;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 112px;

    @include max_1239 {
      padding: 0 20px;
      margin-bottom: 75px;
    }
  }

  &__label {
    font-family: Montserrat-Bold, sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;


    @include max_1239 {
      font-size: 24px;
      line-height: 34px;
      text-align: center;
    }
  }

  &__sublabel {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 28px;

    margin-bottom: 35px;

    @include max_1239 {
      text-align: center;
    }
  }

  &__form {
    background: #FFFFFF;
    box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
    border-radius: 12px;
    max-width: 660px;
    max-height: 187px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-sizing: border-box;
    position: relative;

    @include max_1239 {
      max-height: 201px;
      padding: 15px;
    }

    .btn {
      background: #3AB86F;
      border: 1px solid #3AB86F;
      box-sizing: border-box;
      border-radius: 5px;
      line-height: 43px;
      display: flex;
      position: absolute;

      font-family: Inter-SemiBold, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      width: 222px;
      color: #FFFFFF;
      justify-content: center;

      right: 35px;
      bottom: 33px;

      &:hover {
        cursor: pointer;
      }

      @include max_1239 {
        position: initial;
        margin-top: 20px;
        width: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include max_1239 {
        flex-wrap: wrap;
      }

      input {
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #3AB86F;
        box-sizing: border-box;
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding-left: 15px;
        max-width: 250px;
        width: 100%;

        @include max_1239 {
          height: 54px;
          max-width: 204px;
        }
      }
    }

    .label {
      font-family: Montserrat-Bold, sans-serif;
      font-weight: 800;
      font-size: 24px;
      line-height: 42px;
      margin-bottom: 27px;

      @include max_1239 {
        margin-bottom: 10px;
      }
    }

    .icon {
      min-width: 89px;
      max-width: 89px;
      height: 55px;
      background-image: url('~@/assets/img/usubscribe-icon.svg');
      margin-right: 36px;

      @include max_1239 {
        min-width: 86px;
        max-width: 86px;
        margin-right: 15px;
      }
    }
  }

  &__important-information {
    margin-bottom: 65px;

    @include max_1239 {
      margin-bottom: 45px;
    }
  }

  &__consumer-information {
    margin-bottom: 95px;

    @include max_1239 {
      margin-bottom: 55px;
      padding: 0 20px;
      .title {
        font-family: Inter-SemiBold, sans-serif;
        align-items: flex-start;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}