<template>
  <div class="premium-modal">
    <div class="premium-modal__content">
      <img src="~@/assets/img/icon-premium-modal.svg" class="premium-modal__icon">
      <span class="premium-modal__label">ПРЕМИУМ!</span>

      <span class="premium-modal__sub-label" v-if="theTime">В бесплатном режиме действует ограничение на скорость получения кредитного предложения. Что бы снять ограничения, активируйте Премиум аккаунт.</span>
      <span class="premium-modal__sub-label" v-else >В бесплатном режиме Вы можете одновременно воспользоваться только одним предложением. Что бы снять ограничения, активируйте Премиум аккаунт.</span>

      <div class="premium__btn-group">
        <button class="btn-main btn-premium-modal" @click.prevent="openOffer" v-if="theTime">
          <span>Получить с ожиданием</span>
        </button>

        <button class="btn-main btn-premium-modal btn-premium-modal-red" @click.prevent="openUrl">
          <span>Активировать Премиум</span>
        </button>
      </div>

      <span class="premium-modal__description">стоимость услуги составляет {{ settings.month_tariff }} {{ settings.currency_symbol || $ml.get('common.currency') }}</span>

      <span class="premium-modal__btn-back" @click="closeModal">Назад</span>

    </div>
  </div>
</template>

<script>
    export default {
        name: 'Premium',
        props: {
            offerId: {
                type: Number,
                default: null,
            },
            url: {
                type: String,
                default: null,
            },
        },
        data: () => {
            return {
                timeLimit: null,
                expired: false,
            };
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            openOffer() {
                this.$emit('openOffer', this.offerId);
            },
            openUrl() {
                if(null !== this.url) {
                    window.location.href = this.url;
                } else {
                    this.closeModal();
                }
            }
        },
        computed: {
            theTime() {
                let ctx = this;

                if(ctx.timeLimit) {
                    let x = setInterval(function () {
                        let countDownDate = new Date(ctx.timeLimit).getTime(),
                            now = new Date().getTime(),
                            diff = countDownDate - now;

                        if (diff < 0) {
                            clearInterval(x);
                            ctx.expired = true;
                        }
                    }, 1000);

                    return ctx.expired;
                }

                return true;
            },
          settings() {
            return this.$store.getters['settings/settings'];
          },
        },
        mounted() {
            this.timeLimit = localStorage.getItem('timeLimit');
        }
    }
</script>

<style scoped lang="scss">
  @import "~@/assets/style/mixins";
  @import "~@/assets/style/colors";

  .premium-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    text-align: center;

    &__content {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    &__icon {
      min-width: 180px;
      min-height: 180px;
    }

    &__label {
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-transform: capitalize;

      color: $green;

      margin-top: 5px;
      margin-bottom: 20px;
    }

    &__sub-label {
      max-width: 800px;

      font-family: 'Montserrat-Bold', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #304456;

      letter-spacing: -0.9px;
    }

    &__description {
      font-family: 'Inter', sans-serif;
      margin-top: 15px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;

      text-align: center;

      color: #304456;
      letter-spacing: -0.9px;
    }

    &__btn-back {
      margin-top: 40px;
      font-family: 'Montserrat-Bold', sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #304456;
      align-self: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .btn-premium-modal {
    align-self: center;
    margin-top: 25px;
    padding: 13px 45px;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    @include s_834 {
      padding: 13px 30px;
    }

    &-red {
      background-color: red;
    }
  }

  .premium {
    &__btn-group {
      display: flex;
      justify-content: space-around;

      @include s_834 {
        flex-direction: column;
      }
    }
  }

</style>
