<template>
  <div class="offer__desktop">
    <div class="offer__bank">
      <div class="offer__info">
        <span class="info__label">Шанс одобрения</span>
        <span class="info__value">Показать</span>
      </div>

      <div class="offer__logo">
        <img :src="`${$api.adminUrl}/${data.image}`" alt="Bank Logo">
      </div>

      <div class="offer__info">
        <span class="info__label">Рейтинг</span>
        <span class="info__value">Показать</span>
      </div>
    </div>
<!--{{// data}}-->
    <div class="offer__calc">
      <div class="calc__column calc__column-first">
        <div class="column__top">
          <div class="column__label">Тело кредита</div>
          <div class="column__description">
            <span class="value">{{ amount }}</span>
            <span class="column__label">грн</span>
          </div>
        </div>
        <div class="column__bottom">
          <div class="column__label">1-й кредит</div>
          <div class="column__description">
            <span class="value">{{ data.limit_max_first }}</span>
            <span class="column__label">грн</span>
          </div>
        </div>
      </div>

      <div class="calc__column calc__column-second">
        <div class="column__top">
          <div class="column__label">Комиссия</div>
          <div class="column__description">
            <span class="value">
              <span v-show="false" class="offer__old-commission text-bittersweet"> <span class="column__label text-bittersweet">грн</span>.</span>
              <span>{{ (parseFloat(data.rate) * amount * data.term_min) / 100 }}</span>
            </span>

            <span class="column__label">грн</span>
          </div>
        </div>
        <div class="column__bottom">
          <div class="column__label">Повторный</div>
          <div class="column__description">
            <span class="value">{{ data.limit_max }}</span>
            <span class="column__label">грн</span>
          </div>
        </div>
      </div>

      <div class="calc__column calc__column-third">
        <div class="column__top">
          <div class="column__label">Кредит</div>
          <div class="column__description">
            <span class="value text-bittersweet">{{ parseFloat(amount) + (0 === parseFloat(data.rate) ? 0 : parseFloat((parseFloat(data.rate)  * amount * data.term_min) / 100))}}</span>
            <span class="column__label text-bittersweet">грн</span>
          </div>
        </div>
        <div class="column__bottom">
          <div class="column__label">Срок</div>
          <div class="column__description">
            <span class="value">{{ data.term_min }}-{{ data.term_max }}</span>
            <span class="column__label">дней</span>
          </div>
        </div>
      </div>
    </div>

    <div class="offer__apply">
      <div class="btn__main offer__apply-btn">
        <span>Подать заявку</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Desktop",
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    },
    amount: {
      type: [String, Number],
      default: 1000,
    }
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/offer/desktop";
</style>
