<template>
  <div class="offer__mobile">
    mobile
  </div>
</template>

<script>
export default {
  name: "Mobile"
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/offer/mobile";
</style>