<template>
    <div class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__block">
                    <span class="footer__label">{{ $ml.get('footer.contacts') }}</span>

                    <div class="footer__contacts"><span class="text-green">{{ $ml.get('common.email') }}:</span> <a :href="`mailto: ${$ml.get('footer.email')}`">{{ $ml.get('footer.email') }}</a></div>
                    <div class="footer__contacts"><span class="text-green">{{ $ml.get('footer.addressLabel') }}</span></div>
                    <div class="footer__contacts" v-html="$ml.get('footer.address')"></div>
                </div>
                <div class="footer__block d-ml-109">
                    <span class="footer__label">{{ $ml.get('footer.navigations') }}</span>

                    <div class="footer__navigations">
                        <span class="footer__navigation" @click="$router.push({ name: 'Documents' })">{{ $ml.get('footer.documents') }}</span>
                        <span class="footer__navigation">{{ $ml.get('footer.rates') }}</span>
                        <span class="footer__navigation" @click="$router.push({ name: 'Contacts' })">{{ $ml.get('footer.contacts') }}</span>
                        <span class="footer__navigation" @click="$router.push({ name: 'Unsubscribe' })">{{ $ml.get('footer.unsubscribe') }}</span>
                        <span class="footer__navigation" @click="$router.push({ name: 'Profile' })">{{ $ml.get('footer.account') }}</span>
                        <span class="footer__navigation" @click="$router.push({ name: 'Microloan' })">{{ $ml.get('footer.microLoan') }}</span>
                        <span class="footer__navigation" @click="$router.push({ name: 'Creditcard' })">{{ $ml.get('footer.credits') }}</span>
                    </div>

                </div>
                <div class="footer__block d-ml-274">
                    <span class="footer__label">{{ $ml.get('footer.locations') }}</span>

                    <div class="footer__locations">
                        <img class="footer__location" src="~@/assets/img/flag-ru.svg" alt="ru">
                        <img class="footer__location" src="~@/assets/img/flag-kz.svg" alt="kz">
                        <img class="footer__location" src="~@/assets/img/flag-ua.svg" alt="ua">
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="footer__bottom">
                <div class="footer__copyright">
                    <span class="logo-label">{{ $ml.get('appName') }}</span>

                    <div class="footer__email-mob">
                        <span class="footer__email-icon icon icon-email"></span>
                      <span><span class="text-green">{{ $ml.get('common.email') }}:</span> <a :href="`mailto: ${$ml.get('footer.email')}`">{{ $ml.get('footer.email') }}</a></span>
                    </div>

                    <span>{{ $ml.with('year', (new Date()).getFullYear()).get('copyright') }}</span>
                </div>

                <div class="footer__email">
                    <span class="footer__email-icon icon icon-email"></span>
                    <span>{{ $ml.get('common.email') }}: <a :href="`mailto: ${$ml.get('footer.email')}`">{{ $ml.get('footer.email') }}</a></span>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    @import "~@/assets/style/footer";
</style>
