<template>
  <div class="header__wrapper">
    <div class="header">
      <div class="container">
        <div class="header__content" :class="{'header__mobile': menuActive}">
          <div class="header__nav">
            <div class="header__logo">
              <router-link
                  :to="{name: 'Home'}"
                  class="logo-label"
                  tag="span"
              >
                {{ $ml.get('appName') }}
              </router-link>

              <button
                  class="hamburger hamburger--collapse"
                  :class="{'is-active': menuActive}"
                  type="button"
                  @click.prevent="menuActive = !menuActive"
              >
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>

            <router-link
                tag="a"
                v-for="item in navLinks"
                :to="{name: item.link}"
                :key="item.link"
                class="nav__item"
                exact-active-class="nav__item-active"
                exact
            >
              {{item.label}}
            </router-link>
          </div>

          <div class="header__user">
            <div class="header__auth">
              <router-link :to="{name: 'Registration'}" tag="span">{{ regIsStarted ? $ml.get('menu.continueRegistration') : $ml.get('menu.registration') }}</router-link>
              <div class="header__login" @click="$router.push({ name: 'Login' })">
                <span class="login__icon"></span>
                <span class="login__label">{{ $ml.get('menu.signIn') }}</span>
              </div>
            </div>


            <div class="header__lang">
              <LangSelect />
            </div>
          </div>
        </div>
      </div>
    </div>

    <MobileMenu
        v-if="menuActive"
        :links="navLinks"
        v-scroll-lock="menuActive"
        @close="menuActive = false"
    />
  </div>

</template>

<script>
  import MobileMenu from "./MobileMenu";
  import LangSelect from "../LangSelect";

  export default {
    components: {
      MobileMenu,
      LangSelect,
    },
    data: () => {
      return {
        menuActive: false,
        data: {},

        navLinks: [
          {
            'code': 'microLoan',
            'label': 'microLoan',
            'link': 'Microloan',
          },
          {
            'code': 'cashLoan',
            'label': 'cashLoan',
            'link': 'Cashloan',
          },
          {
            'code': 'creditCard',
            'label': 'creditCard',
            'link': 'Creditcard',
          },
        ],
      };
    },
    methods: {
      getNavLinks() {
        for(let i = 0; i < this.navLinks.length; i++) {
          this.navLinks[i].label = this.$ml.get(`navLinks.${this.navLinks[i].code}`)
        }
      }
    },
    computed: {
      regIsStarted() {
        return this.$store.getters['registration/isStarted'];
      },
    },
    mounted() {
      this.getNavLinks();

      let bus = this.$ml.bus;
      let _this = this;

      bus.$on('vueml-language-changed', function (newLanguage) {
        _this.getNavLinks();
      });

      // this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.me).then(response => {
      //   if(response.data) {
      //     this.data = response.data;
      //   }
      // }).catch(error => console.log(error));
    },
  }
</script>

<style scoped lang="scss">
  @import "~@/assets/style/header";
</style>
