<template>
  <div
      :class="['menu', {'menu-auth': !isAuth && showAuthBtn}]"
  >
    <div class="menu__content">
      <div class="menu__links">
        <router-link
            @click.native="$emit('close')"
            v-if="links.length"
            tag="a"
            v-for="item in links"
            :to="{name: item.link}"
            :key="item.link"
            class="menu__link"
            exact-active-class="active"
            exact
        >
          {{item.label}}
        </router-link>
      </div>


      <div class="btn__main menu__auth-btn" v-if="!isAuth && !showAuthBtn" @click.prevent="showAuthBtn = true">
        <span>{{ $ml.get('common.btn.authOrRegistration') }}</span>
      </div>


      <div class="menu__auth" v-if="!isAuth && showAuthBtn">
        <span class="auth__label">{{ $ml.get('menu.mobile.signIn') }}</span>

        <div class="auth__form">
          <div class="input__groups">
            <div class="input__group">
              <span class="input__icon input__icon-user"></span>
              <masked-input
                  id="phone"
                  v-model.trim="phone"
                  mask="\+\38 (111) 111 11 11"
                  placeholder="+38 (___) ___ __ __"
                  type="tel"
              />
            </div>
            <div class="input__group">
              <span class="input__icon input__icon-password"></span>
              <input
                  type="password"
                  name="password"
                  :placeholder="$ml.get('menu.mobile.placeholders.password')"
                  v-model="password"
              >
            </div>
          </div>

          <div class="btn__main auth__btn" @click.prevent="login">
            <span>{{ $ml.get('common.btn.auth') }}</span>
          </div>
        </div>

        <span @click.prevent="goTo('Registration')" class="auth__registration">{{ $ml.get('menu.mobile.registration') }}</span>
      </div>

      <div class="menu__logout" v-if="isAuth && !showAuthBtn">
        <div class="menu__profile" @click.prevent="goTo('Profile')">
          <span class="profile__icon"></span>
          <span class="profile__label">{{ user.first_name }}</span>
          <span class="profile__avatar">
            <img src="~@/assets/img/account-img.svg" alt="avatar">
          </span>
        </div>

        <div class="btn-main menu__btn-logout" @click.prevent="goTo('Logout')">
          <span>{{ $ml.get('common.btn.logout') }}</span>
        </div>
      </div>

      <div class="menu__footer">
        <div class="footer__support">{{ $ml.get('menu.mobile.support') }}</div>
        <span class="footer__mail-icon icon icon-email"></span>
        <div class="footer__mail"><span class="text-green">{{ $ml.get('common.email') }}: </span>{{ $ml.get('footer.email') }}</div>
      </div>

    </div>
  </div>
</template>

<script>
import maskedInput from "vue-masked-input";

export default {
  name: "MobileMenu",
  props: {
    links: {
      type: Array,
      default() {
        return [];
      },
    },
    user: {
      type: Object,
      default() {
        return {}
      }
    },
  },
  components: {
    maskedInput,
  },
  data() {
    return {
      showAuthBtn: false,
      phone: null,
      password: null,
    };
  },
  computed: {
    isAuth() {
      return this.$store.getters['auth/isLoggedIn']
    },
  },
  methods: {
    login() {
      const data = {
        phone: this.phone,
        password: this.password,
      };


      this.$store.dispatch('auth/login', data)
          .then(() => {
            //todo: add redirect after login
          })
          .catch(err => console.log(err))
    },
    goTo(name) {
      this.$emit('close');
      this.$router.push({name: name});
    },
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/menu";
</style>