<template>
  <div class="container promocode__container">
    <div class="promocode__content">
       <span class="icon promocode__icon"></span>
       <span class="promocode__label" v-html="$ml.with('mfoName', mfoName).get('promocodes.popup.title')"></span>
       <span class="promocode__description"v-html="$ml.with('mfoName', mfoName).get('promocodes.popup.description')"></span>

       <div class="promocode__form">
         <span class="mfo__icon">
           <img :src="mfoImg">
         </span>
         <div class="input__group">
           <input type="text" name="promocode" id="promocode" :value="mfoCode">
           <div
               :class="['promocode__copy-btn', {'promocode__copy-btn-chrome': $browserDetect.isChrome}]"
               @click.stop.prevent="copyPromocodeCode"
           >
             <span>{{ $ml.get(`common.btn.copy`) }}</span>
           </div>
         </div>
       </div>


       <div class="btn__next promocode__btn" @click.prevent="close">
         <span>{{ $ml.get(`common.btn.back`) }}</span>
       </div>
     </div>
  </div>
</template>

<script>
export default {
  name: "Success",
  props: {
    mfoName: {
      type: String,
      default: '',
    },
    mfoImg: {
      type: String,
      default: '',
    },
    mfoCode: {
      type: String,
      default: '',
    },
  },
  methods: {
    close() {
      this.$emit('close');
    },
    copyPromocodeCode () {
      let testingCodeToCopy = document.querySelector('#promocode')
      testingCodeToCopy.setAttribute('type', 'text')
      testingCodeToCopy.select()

      try {
        let successful = document.execCommand('copy');
      } catch (err) {
        console.log(err)
      }
    },
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/promocodePopUp";
</style>