<!DOCTYPE html>
<html lang="en">
<head>
<!--    &lt;!&ndash; Google Tag Manager &ndash;&gt;-->
<!--    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
<!--        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
<!--      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
<!--      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
<!--    })(window,document,'script','dataLayer','GTM-K6DPH2S');</script>-->
<!--    &lt;!&ndash; End Google Tag Manager &ndash;&gt;-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>favicon.ico"/>
    <title>MyTenge</title>
</head>
<body>
<!--&lt;!&ndash; Google Tag Manager (noscript) &ndash;&gt;-->
<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6DPH2S"-->
<!--                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
<!--&lt;!&ndash; End Google Tag Manager (noscript) &ndash;&gt;-->
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>