<template>
  <div class="header">
    <div class="container">
      <div class="header__content" :class="{'header__mobile': menuActive}">
        <div class="header__nav">
          <div class="header__logo">
            <router-link
              tag="span"
              class="logo-label"
              :to="{name: 'Home'}"
            >
              {{ $ml.get('appName') }}
            </router-link>

            <button
                class="hamburger hamburger--collapse"
                :class="{'is-active': menuActive}"
                type="button"
                @click.prevent="menuActive = !menuActive"
            >
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>

          <MobileMenu
              v-if="menuActive"
              :links="navLinks"
              :user="user"
              v-scroll-lock="menuActive"
              @close="menuActive = false"
          />

          <div class="header__links">
            <router-link
                    tag="a"
                    v-for="item in navLinks"
                    :key="item.link"
                    :to="{name: item.link}"
                    class="nav__item"
                    exact-active-class="nav__item-active"
                    exact
            >
              {{item.label}}
              <div class="nav__count" v-if="notifications.includes(item.link)"><span>5</span></div>
            </router-link>
          </div>
        </div>

	      <div class="header__user">
		      <div
			      class="lang__backdrop"
			      v-if="open"
			      @click="open = false"
		      ></div>

		      <div @click="open = !open" style="z-index: 101">
			      <div class="header__user-info">
				      <div class="user__info" v-if="null !== userFullName">
					      <span class="user__premium-icon" v-if="user.subscription"></span>
					      <span class="user__name">{{ userFullName }}</span>
					      <span class="arrow-reverse" v-if="open"></span>
					      <span class="arrow" v-else></span>
				      </div>
			      </div>

			      <div style="position: absolute; z-index: 98;">
				      <div class="header__lang">
					      <div class="lang__items" style="top: 10px; left: 0;" v-if="open">
						      <router-link
							      tag="a"
							      v-for="item in userLinks"
							      :key="item.link"
							      :to="{name: item.link}"
							      class="nav__item-dropdown"
							      exact-active-class="nav__item-active"
							      exact
						      >
							      <div class="lang__item">
								      <span class="lang__name">{{item.label}}</span>
							      </div>
						      </router-link>
					      </div>
				      </div>
			      </div>
		      </div>

		      <div class="header__lang">
			      <LangSelect />
		      </div>
	      </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MobileMenu from "../MobileMenu";
  import LangSelect from "../../LangSelect";

  export default {
    components: {
      MobileMenu,
      LangSelect,
    },
    props: {
      user: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    data: () => {
      return {
        menuActive: false,
        language: null,
	      open: false,
        navLinks: [
          {
            'code': 'profile',
            'label': 'profile',
            'link': 'Profile',
          },
          {
            'code': 'suggestions',
            'label': 'suggestions',
            'link': 'Microloan',
          },
          {
            'code': 'premium',
            'label': 'premium',
            'link': 'Premium',
          },
        ],
        userLinks: [
          {
            'code': 'profile',
            'label': 'profile',
            'link': 'Profile',
          },
          {
            'code': 'suggestions',
            'label': 'suggestions',
            'link': 'Microloan',
          },
          {
            'code': 'premium',
            'label': 'premium',
            'link': 'Premium',
          },
          {
            'code': 'logout',
            'label': 'logout',
            'link': 'Logout',
          },
        ],
        notifications: [
          'Suggestions',
          'PromotionalCode',
        ],
      };
    },
    methods: {
      getNavLinks() {
        for(let i = 0; i < this.navLinks.length; i++) {
          this.navLinks[i].label = this.$ml.get(`navLinks.${this.navLinks[i].code}`)
        }
      },
      getUserLinks() {
        for(let i = 0; i < this.userLinks.length; i++) {
          this.userLinks[i].label = this.$ml.get(`navLinks.${this.userLinks[i].code}`)
        }
      },
    },
    computed: {
      userFullName() {
        if(null !== this.user.first_name && null !== this.user.last_name && typeof this.user.first_name !== 'undefined' && typeof this.user.last_name !== 'undefined' && this.user.first_name.length > 0 && this.user.last_name.length > 0) {
          return `${this.user.first_name} ${this.user.last_name}`;
        }

        return null;
      },
    },
    mounted() {
      this.getNavLinks();
      this.getUserLinks();

      let bus = this.$ml.bus;
      let _this = this;

      bus.$on('vueml-language-changed', function (newLanguage) {
        _this.getNavLinks();
      });

      // this.$axios.post(this.$api.baseUrl + this.$api.apiUrl.me).then(response => {
      //   if(response.data) {
      //     this.data = response.data;
      //   }
      // }).catch(error => console.log(error));
    }
  }
</script>

<style scoped lang="scss">
  @import "~@/assets/style/header";
  @import "~@/assets/style/lang-select";
</style>
