<template>
  <div class="contacts">
    <div class="container">
      <div class="contacts__block">
        <h1 class="title">{{ $ml.get('contacts.title') }}</h1>
        <div class="info-block">
          <div class="block-address">
            <h2 class="block-title title-address">{{ $ml.get('contacts.addressTitle') }}</h2>
	          <p class="block-text text-address">
		          {{ $ml.get('contacts.addressText') }}
	          </p>
          </div>
	        <div class="block-email">
		        <h2 class="block-title title-email">{{ $ml.get('contacts.emailTitle') }}</h2>
		        <p class="block-text text-email"><a class="link" href="mailto:support@my-tenge.com.ua">{{ $ml.get('contacts.emailText') }}</a></p>
	        </div>
	        <div class="block-contact">
		        <h2 class="block-title title-contact">{{ $ml.get('contacts.btnTitle') }}</h2>
		        <button class="btn-contact btn__font" @click="$router.push('feedback')">{{ $ml.get('contacts.btn') }}</button>
	        </div>
        </div>
      </div>

      <div class="home__block home__questions">
        <div class="questions__content toggle-box">
          <Collapse
              :items="questionsItems"
          />
        </div>
      </div>

      <div class="text-block">
        <h2 class="title">{{ $ml.get('documents.textBlock.title') }}</h2>
        <div class="text">
	        <p>
		        {{ $ml.get('documents.textBlock.firstLine') }}
	        </p>
	        <p class="new-line">
		        {{ $ml.get('documents.textBlock.secondLine') }}
	        </p>
	        <p class="new-line">
            {{ $ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('documents.textBlock.thirdLine') }}
	        </p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs";
import Tab from "@/components/Tab";
import LoanFilter from "@/components/Filter";
import Collapse from "@/components/Collapse";

export default {
name: "Contact",
  components: {
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
  },
  data() {
    return {
      questionsItems: [
        {
          key: 1,
          titleCode: '',
          textCode: 'home.questions.items.1.text',
          title: 'Сроки погашения и процентные ставки',
          text: '',
        },
        {
          key: 2,
          titleCode: '',
          textCode: 'home.questions.items.2.text',
          title: 'Пример расчета онлайн-ссуды',
          text: '',
        },
        {
          key: 3,
          titleCode: '',
          textCode: 'home.questions.items.3.text',
          title: 'Что будет при невыплате ссудных средств',
          text: '',
        }
      ]
    };
  },
	methods: {
		openDocument(url) {
			window.open(url, '_blank');
		}
	},
  computed: {
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
}
</script>

<style scoped lang="scss">
@import "~@/assets/style/contacts.scss";
</style>
