<template>
    <div class="documents">
        <div class="container">
            <div class="documents__block">
                <h1 class="title">{{ $ml.get('documents.title') }}</h1>

                <!-- Box with premium -->
                <div class="box_block">
                    <div class="box">
                        <img class="icon" src="~@/assets/img/icon-safety_encrypted.svg" alt="icon-safety_encrypted">
                        <h2 class="box-title box-title__default box-title__mobile">{{ $ml.get('documents.blocks.1.title') }}</h2>
                        <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn">{{ $ml.get('documents.blocks.btn') }}</button>
                    </div>
                    <div class="box-premium">
                        <div class="box-icon">
                          <img class="icon" src="~@/assets/img/icon-premium-2.svg" alt="icon-safety_encrypted">
                        </div>
                        <h2 class="premium-title">ПРЕМИУМ!</h2>
                        <p class="premium-text">
                          Снимите ограничение и отправьте все одобренные заявки.
                          <br>
                          Получите возможность просматривать <span class="bold"> шанс одобрения</span> и <span class="bold">рейтинги банков</span>
                        </p>
                        <button @click="getPremium" class="premium-btn">Получить премиум</button>
                        <p class="premium-text premium-text__small">стоимость услуги составляет {{ settings.month_tariff }} {{ settings.currency_symbol || $ml.get('common.currency') }}</p>

                    </div>
                    <div class="box box__under">
                        <img class="icon icon__under" src="~@/assets/img/icon-safety_certified.svg" alt="icon-safety_encrypted">
                        <h2 class="box-title box-title__default box-title__under box-title__mobile">{{ $ml.get('documents.blocks.2.title') }}</h2>
                        <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn box-btn__under">{{ $ml.get('documents.blocks.btn') }}</button>
                    </div>
                </div>
                <!-- end Box with premium -->

                <div class="box box__default">
                    <img class="icon icon__default" src="~@/assets/img/icon-safety_approved.svg" alt="icon-safety_encrypted">
                    <h2 class="box-title box-title__long">{{ $ml.get('documents.blocks.3.title') }}</h2>
                    <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn box-btn__long">{{ $ml.get('documents.blocks.btn') }}</button>
                </div>
                <div class="box">
                    <img class="icon icon__default" src="~@/assets/img/icon-safety_approved.svg" alt="icon-safety_encrypted">
                    <h2 class="box-title box-title__long">{{ $ml.get('documents.blocks.4.title') }}</h2>
                    <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn box-btn__long">{{ $ml.get('documents.blocks.btn') }}</button>
                </div>
                <div class="box">
                    <img class="icon icon__default" src="~@/assets/img/icon-safety_approved.svg" alt="icon-safety_encrypted">
                    <h2 class="box-title box-title__one-line">{{ $ml.get('documents.blocks.5.title') }}</h2>
                    <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn box-btn__long">{{ $ml.get('documents.blocks.btn') }}</button>
                </div>
                <div class="box">
                    <img class="icon icon__default" src="~@/assets/img/icon-safety_approved.svg" alt="icon-safety_encrypted">
                    <h2 class="box-title box-title__long box-title__one-line">{{ $ml.get('documents.blocks.6.title') }}</h2>
                    <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn box-btn__long">{{ $ml.get('documents.blocks.btn') }}</button>
                </div>
                <div class="box">
                    <img class="icon icon__default" src="~@/assets/img/icon-safety_approved.svg" alt="icon-safety_encrypted">
                    <h2 class="box-title box-title__long">{{ $ml.get('documents.blocks.7.title') }}</h2>
                    <button @click="openDocument('https://docs.google.com/document/d/1ikpUF6rJ4KbgzPyNOsYNfIJs-JKM71RzbEHiAAWQE6k/edit?usp=sharing')" class="box-btn box-btn__default">{{ $ml.get('documents.blocks.btn') }}</button>
                </div>
            </div>

            <div class="home__block home__questions">
                <div class="questions__content">
                    <Collapse
                        :items="questionsItems"
                    />
                </div>
            </div>

            <div class="text-block">
                <h2 class="title">{{ $ml.get('documents.textBlock.title') }}</h2>
                <div class="text">
                    <p>
                      {{ $ml.get('documents.textBlock.firstLine') }}
                    </p>
                    <p class="new-line">
	                    {{ $ml.get('documents.textBlock.secondLine') }}
                    </p>
                    <p class="new-line">
	                    {{ $ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('documents.textBlock.thirdLine') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Tabs from "../components/Tabs";
import Tab from "../components/Tab";
import LoanFilter from "../components/Filter";
import Collapse from "../components/Collapse";

export default {
  name: 'Documents',
  components: {
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
  },
  data() {
    return {
      questionsItems: [
        {
          key: 1,
          titleCode: '',
          textCode: 'home.questions.items.1.text',
          title: 'Сроки погашения и процентные ставки',
          text: '',
        },
        {
          key: 2,
          titleCode: '',
          textCode: 'home.questions.items.2.text',
          title: 'Пример расчета онлайн-ссуды',
          text: '',
        },
        {
          key: 3,
          titleCode: '',
          textCode: 'home.questions.items.3.text',
          title: 'Что будет при невыплате ссудных средств',
          text: '',
        }
      ]
    };
  },
  computed: {
    settings() {
      return this.$store.getters['settings/settings'];
    },
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  methods: {
    openDocument(url) {
      window.open(url, '_blank');
    },
    getPremium() {
      if(Object.keys(this.user).length > 0) {
        this.$store.dispatch('profile/premiumStart');
      } else {
        this.$router.push({name: 'Registration'});
      }
    },
  },
}
</script>

<style scoped lang="scss">
    @import "~@/assets/style/documents";
</style>
