<template>
  <div class="feedback">
    <div class="container">
      <div class="feedback__block">
        <h1 class="feedback-title">Обратаня связь</h1>
        <h2 class="feedback-subtitle">
	        Специалисты нашей службы поддержки готовы оказать вам квалифицированную помощь в получении денег онлайн у наших партнеров. Мы заботимся о том, чтобы у вас осталось положительное впечатление от общения с нами.
        </h2>
        <div class="feedback-block">
	        <div class="input-name-block">
		        <h2 class="block-title">Ваше имя</h2>
		        <input :class="['name-input', 'input-font', {'invalid': $v.name.$dirty && !$v.name.required}]" id="name" type="text" v-model="name" placeholder="Андрей">
	        </div>
	        <div class="input-email-block">
		        <h2 class="block-title">Email</h2>
		        <input :class="['email-input', 'input-font', {'invalid': ($v.email.$dirty && !$v.email.required || $v.email.$dirty && !$v.email.email)}]" type="email" v-model="email" placeholder="example@example.com">
	        </div>
	        <div class="input-textarea-block">
		        <h2 class="block-title">Сообщение</h2>
		        <textarea :class="['textarea-input', 'input-font', {'invalid': $v.comment.$dirty && !$v.comment.required}]" v-model="comment" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
	        </div>
	        <button @click.prevent="send" class="btn btn__font">Отправить сообщение</button>
        </div>
      </div>
      <div class="home__block home__questions">
        <div class="questions__content">
          <Collapse
              :items="questionsItems"
          />
        </div>
      </div>
      <div class="text-block">
	      <h2 class="title">{{ $ml.get('documents.textBlock.title') }}</h2>
	      <div class="text">
		      <p>
			      {{ $ml.get('documents.textBlock.firstLine') }}
		      </p>
		      <p class="new-line">
			      {{ $ml.get('documents.textBlock.secondLine') }}
		      </p>
		      <p class="new-line">
			      {{ $ml.get('documents.textBlock.thirdLine') }}
		      </p>
	      </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tabs from "../components/Tabs";
import Tab from "../components/Tab";
import LoanFilter from "../components/Filter";
import Collapse from "../components/Collapse";
import {required, email} from 'vuelidate/lib/validators'

export default {
  name: "Feedback",
  components: {
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
  },
  data() {
    return {
      name: null,
      email: null,
      comment: null,
      questionsItems: [
        {
          key: 1,
          titleCode: '',
          textCode: 'home.questions.items.1.text',
          title: 'Сроки погашения и процентные ставки',
          text: '',
        },
        {
          key: 2,
          titleCode: '',
          textCode: 'home.questions.items.2.text',
          title: 'Пример расчета онлайн-ссуды',
          text: '',
        },
        {
          key: 3,
          titleCode: '',
          textCode: 'home.questions.items.3.text',
          title: 'Что будет при невыплате ссудных средств',
          text: '',
        }
      ]
    };
  },
  validations: {
    name: {
      required,
    },
    email: {
      required,
      email,
    },
    comment: {
      required,
    },
  },
  methods: {
    send() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      const data = {
        name: this.name,
        email: this.email,
        message: this.comment,
      }

      const response = this.$store.dispatch('feedback/sendData', data);

      response.then(() => {
        this.$fire({
          title: "Обратная связь",
          text: "Отправлено!",
          type: "success",
          timer: 2000
        })

	      this.name = null;
	      this.email = null;
	      this.comment = null;
      });
    },
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/feedback.scss";
</style>