<template>
  <div class="home">
    <div class="container">
      <tabs class="home__tabs">
        <tab
            :name="$ml.get('home.tabs.microloan')"
            :selected="true"
            :tabClass="'tabs__item-microloan'"
            :label="$ml.get('home.tabs.labels.microloan')"
        >
          <LoanFilter :type="'microloan'"></LoanFilter>
        </tab>
        <tab
            :name="$ml.get('home.tabs.credit')"
            :tabClass="'tabs__item-credit'"
            :label="$ml.get('home.tabs.labels.credit')"
        >
          <LoanFilter :type="'credit'"></LoanFilter>
        </tab>
        <tab
            :name="$ml.get('home.tabs.creditCard')"
            :tabClass="'tabs__item-creditCard'"
            :label="$ml.get('home.tabs.labels.creditCard')"
        >
          <LoanFilter :type="'credit-card'"></LoanFilter>
        </tab>
      </tabs>

      <div class="home__block home__programs">
        <div class="title">
          {{ $ml.get('home.programs.title') }}
        </div>
        <div class="subtitle">
          {{ $ml.get('home.programs.subtitle') }}
        </div>

        <div class="programs__items">
          <div class="programs__item">
            <img src="~@/assets/img/programs-1.svg">

            <div class="info">
              <span class="title">{{ $ml.get('home.programs.items.1.label') }}</span>
              <span class="descriptions">{{ $ml.get('home.programs.items.1.descriptions') }}</span>

              <div class="btn__main-reverse programs__btn" @click="getMoney">
                <span>{{ $ml.get('common.btn.pickUpOffer') }}</span>
              </div>
            </div>
          </div>

          <div class="programs__item">
            <img src="~@/assets/img/programs-2.svg">

            <div class="info">
              <span class="title">{{ $ml.get('home.programs.items.2.label') }}</span>
              <span class="descriptions">{{ $ml.get('home.programs.items.2.descriptions') }}</span>

              <div class="btn__main-reverse programs__btn" @click="getMoney">
                <span>{{ $ml.get('common.btn.pickUpOffer') }}</span>
              </div>
            </div>
          </div>

          <div class="programs__item">
            <img src="~@/assets/img/programs-3.svg">

            <div class="info">
              <span class="title">{{ $ml.get('home.programs.items.3.label') }}</span>
              <span class="descriptions">{{ $ml.get('home.programs.items.3.descriptions') }}</span>

              <div class="btn__main-reverse programs__btn" @click="getMoney">
                <span>{{ $ml.get('common.btn.pickUpOffer') }}</span>
              </div>
            </div>
          </div>

          <div class="programs__item">
            <img src="~@/assets/img/programs-4.svg">

            <div class="info">
              <span class="title">{{ $ml.get('home.programs.items.4.label') }}</span>
              <span class="descriptions">{{ $ml.get('home.programs.items.4.descriptions') }}</span>

              <div class="btn__main-reverse programs__btn" @click="getMoney">
                <span>{{ $ml.get('common.btn.pickUpOffer') }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="home__block home__why">
        <span class="title">{{ $ml.get('home.why.title') }}</span>

        <div class="why__blocks">
          <div class="why__block">
            <img src="../assets/img/icon-why_approved.svg" class="why__icon">
            <span class="why__title">{{ $ml.get('home.why.items.1.label') }}</span>
            <span class="why__description">{{ $ml.get('home.why.items.1.descriptions') }}</span>
          </div>

          <div class="why__block">
            <img src="../assets/img/icon-why_calendar.svg" class="why__icon">
            <span class="why__title">{{ $ml.get('home.why.items.2.label') }}</span>
            <span class="why__description">{{ $ml.get('home.why.items.2.descriptions') }}</span>
          </div>

          <div class="why__block">
            <img src="../assets/img/icon-why_file.svg" class="why__icon">
            <span class="why__title">{{ $ml.get('home.why.items.3.label') }}</span>
            <span class="why__description">{{ $ml.get('home.why.items.3.descriptions') }}</span>
          </div>

          <div class="why__block">
            <img src="../assets/img/icon-why_no-call.svg" class="why__icon">
            <span class="why__title">{{ $ml.get('home.why.items.4.label') }}</span>
            <span class="why__description">{{ $ml.get('home.why.items.4.descriptions') }}</span>
          </div>
        </div>
      </div>

      <div class="home__block home__safety">
        <span class="title">{{ $ml.get('home.safety.title') }}</span>
        <span class="subtitle">{{ $ml.get('home.safety.subtitle') }}</span>

        <div class="safety__content">
          <div class="safety__items">
            <div class="safety__item">
              <img src="../assets/img/icon-safety_approved.svg" alt="safety-icon" class="safety__icon">
              <div class="safety__description">{{ $ml.get('home.safety.items.1.description') }}</div>
            </div>
            <div class="safety__item">
              <img src="../assets/img/icon-safety_encrypted.svg" alt="safety-icon" class="safety__icon">
              <div class="safety__description">{{ $ml.get('home.safety.items.2.description') }}</div>
            </div>
            <div class="safety__item">
              <img src="../assets/img/icon-safety_certified.svg" alt="safety-icon" class="safety__icon">
              <div class="safety__description">{{ $ml.get('home.safety.items.3.description') }}</div>
            </div>
          </div>

          <img src="../assets/img/icon-safety_banner.svg" alt="safety-banner" class="safety__banner">
        </div>
      </div>

      <div class="home__block home__faq">
        <span class="title">{{ $ml.get('home.faq.title') }}</span>
        <span class="subtitle">{{ $ml.get('home.faq.subtitle') }}</span>

        <div class="faq__content">
          <div class="faq__items">
            <div class="faq__item">
              <div class="faq__step-img">
                <div class="faq__step-number"><span class="step__number">1</span></div>
                <img src="../assets/img/icon-faq_microloan.svg" alt="faq-icon" class="faq__icon">
              </div>
              <div class="faq__step-info">
                <span class="step__title">{{ $ml.get('home.faq.items.1.title') }}</span>
                <span class="step__description">{{ $ml.get('home.faq.items.1.description') }}</span>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__step-img">
                <div class="faq__step-number"><span class="step__number">2</span></div>
                <img src="../assets/img/icon-faq_proposal.svg" alt="faq-icon" class="faq__icon">
              </div>
              <div class="faq__step-info">
                <span class="step__title">{{ $ml.get('home.faq.items.2.title') }}</span>
                <span class="step__description">{{ $ml.get('home.faq.items.2.description') }}</span>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__step-img">
                <div class="faq__step-number"><span class="step__number">3</span></div>
                <img src="../assets/img/icon-faq_bank.svg" alt="faq-icon" class="faq__icon">
              </div>
              <div class="faq__step-info">
                <span class="step__title">{{ $ml.get('home.faq.items.3.title') }}</span>
                <span class="step__description">{{ $ml.get('home.faq.items.3.description') }}</span>
              </div>
            </div>

            <div class="faq__item">
              <div class="faq__step-img">
                <div class="faq__step-number"><span class="step__number">4</span></div>
                <img src="../assets/img/icon-faq_money.svg" alt="faq-icon" class="faq__icon">
              </div>
              <div class="faq__step-info">
                <span class="step__title">{{ $ml.get('home.faq.items.4.title') }}</span>
                <span class="step__description">{{ $ml.get('home.faq.items.4.description') }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="btn__main faq__btn" @click="getMoney">
          <span>{{ $ml.get('common.btn.getMoney') }}</span>
        </div>

      </div>

      <div class="home__block home__questions">
        <span class="title">{{ $ml.get('home.questions.title') }}</span>
        <span class="subtitle">{{ $ml.get('home.questions.subtitle') }}</span>

        <div class="questions__content">
          <Collapse
              :items="questionsItems"
          />
        </div>
      </div>

      <div class="home__block home__important-information">
        <span class="title">{{ $ml.get('home.importantInformation.title') }}</span>

        <div class="important-information__content">
          <Collapse
              :items="informationItems"
          />
        </div>
      </div>

      <div class="home__block home__consumer-information">
        <span class="title">{{ $ml.get('home.consumerInformation.title') }}</span>

        <div class="consumer-information__content">
          <span
              v-html="$ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('home.consumerInformation.text')"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tabs from "../components/Tabs";
import Tab from "../components/Tab";
import LoanFilter from "../components/Filter";
import Collapse from "../components/Collapse";

export default {
  name: 'Home',
  components: {
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
  },
  data() {
    return {
      questionsItems: [
        {
          key: 1,
          titleCode: 'home.questions.items.1.title',
          textCode: 'home.questions.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'home.questions.items.2.title',
          textCode: 'home.questions.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'home.questions.items.3.title',
          textCode: 'home.questions.items.3.text',
          title: '',
          text: '',
        },
        {
          key: 4,
          titleCode: 'home.questions.items.4.title',
          textCode: 'home.questions.items.4.text',
          title: '',
          text: '',
        },
        {
          key: 5,
          titleCode: 'home.questions.items.5.title',
          textCode: 'home.questions.items.5.text',
          title: '',
          text: '',
        },
        {
          key: 6,
          titleCode: 'home.questions.items.6.title',
          textCode: 'home.questions.items.6.text',
          title: '',
          text: '',
        },
      ],
      informationItems: [
        {
          key: 1,
          titleCode: 'home.importantInformation.items.1.title',
          textCode: 'home.importantInformation.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'home.importantInformation.items.2.title',
          textCode: 'home.importantInformation.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'home.importantInformation.items.3.title',
          textCode: 'home.importantInformation.items.3.text',
          title: '',
          text: '',
        },
      ],
      currentTab: 'Microloan',
    };
  },
  methods: {
    getMoney() {
      if(Object.keys(this.user).length > 0) {
        this.$router.push({name: 'Profile'});
      } else {
        this.$router.push({name: 'Registration'});
      }
    },
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/home";
</style>
