<template>
  <div class="auth">
    <Breadcrumbs
        :links="breadcrumbsLinks"
    />
    <div class="container">
      <div class="auth__content">
        <div class="login-form">
          <span class="auth__label">Вход в личный кабинет</span>
          <div class="form-group">
            <label for="phone">Введите номер мобильного телефона:</label>
            <div
              :class="['input__icon input__phone', {'input__error': ($v.phone.$dirty && !$v.phone.required) || ($v.phone.$dirty && !$v.phone.minLength) || ($v.phone.$dirty && !$v.phone.maxLength)}]"
            >
              <span class="icon"></span>
              <masked-input
                  id="phone"
                  v-model.trim="phone" mask="\+\38 (111) 111 11 11"
                  placeholder="+38 (___) ___ __ __"
                  type="tel"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Введите пароль от личного кабинета:</label>
            <div class="input__icon input__password">
              <span class="icon"></span>
              <input :type="passwordType" :class="['', {'invalid': $v.password.$dirty && !$v.password.required}]" v-model="password" id="password" placeholder="•••••••••••">
              <span
                  class="btn__password-show password-show"
                  @click="passwordType = 'password' === passwordType ? 'text' : 'password'"
                  @mouseover="passwordType = 'text'"
                  @mouseleave="passwordType = 'password'"
              ></span>
            </div>
          </div>

          <div class="form-group recovery__group">
            <div class="checkbox__container">
              <input type="checkbox" id="remember-me" name="remember-me" tabindex="1" checked>
              <label class="checkbox__checkmark" for="remember-me"><span class="checkbox__title">Запомнить меня</span></label>
            </div>

            <router-link tag="span" :to="{name: 'Recovery'}" class="recovery__label">Забыли пароль?</router-link>
          </div>

          <div class="form-group">
            <button @click.prevent="login" class="auth__btn auth__btn-login">Войти в кабинет</button>
          </div>

          <div class="form-group">
            <span class="auth__separator">или</span>
          </div>

          <div class="form-group">
            <button @click="$router.push({ name: 'Registration' })" class="auth__btn auth__btn-register">Зарегистрироваться</button>
          </div>
        </div>
      </div>

      <div class="home__block home__questions">
        <div class="questions__content">
          <Collapse
              :items="questionsItems"
          />
        </div>
      </div>

      <div class="text-block">
        <h2 class="title"><span class="title">{{ $ml.get('home.consumerInformation.title') }}</span></h2>
        <div class="text">
          <span
              v-html="$ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('home.consumerInformation.text')"></span>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Breadcrumbs from "../components/Breadcrumbs";
import Tabs from "../components/Tabs";
import Tab from "../components/Tab";
import LoanFilter from "../components/Filter";
import Collapse from "../components/Collapse";
import maskedInput from "vue-masked-input";
import {required, numeric, minLength, maxLength} from "vuelidate/lib/validators";

export default {
  name: 'Login',
  components: {
    Breadcrumbs,
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
    maskedInput,
  },
  data() {
    return {
      phone: null,
      password: null,
      passwordType: 'password',
      breadcrumbsLinks: [
        {
          route: 'Home',
          label: '',
          labelCode: 'common.breadcrumbs.home',
          active: false,
        },
        {
          route: 'Login',
          label: '',
          labelCode: 'common.breadcrumbs.login',
          active: true,
        },
      ],
      questionsItems: [
        {
          key: 1,
          titleCode: '',
          textCode: 'home.questions.items.1.text',
          title: 'Сроки погашения и процентные ставки',
          text: '',
        },
        {
          key: 2,
          titleCode: '',
          textCode: 'home.questions.items.2.text',
          title: 'Пример расчета онлайн-ссуды',
          text: '',
        },
        {
          key: 3,
          titleCode: '',
          textCode: 'home.questions.items.3.text',
          title: 'Что будет при невыплате ссудных средств',
          text: '',
        }
      ],
    };
  },
  validations: {
    phone: {
        required,
        minLength: minLength(19),
        maxLength: maxLength(19),
    },
    password: {
      required,
    },
  },
  methods: {
    login() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const data = {
        phone: this.phone,
        password: this.password,
      };

      const response = this.$store.dispatch('auth/login', data);

      response.then(() => {
        this.$router.push({name: 'Home'});
      })
    }
  },
  computed: {
    settings() {
      return this.$store.getters['settings/settings'];
    },
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/style/login.scss";
</style>
