<template>
  <div class="auth">
    <Breadcrumbs
        :links="breadcrumbsLinks"
    />
    <div class="container">
      <div class="auth__content password__update">
        <div class="login-form">
          <span class="auth__label">{{ $ml.get('passwordUpdate.title') }}</span>


          <div class="form-group">
            <label for="password">{{ $ml.get('passwordUpdate.newPassword') }}</label>
            <div
                 :class="['input__icon input__password', {'input__error': ($v.password.$dirty && !$v.password.required)}]"
            >
              <span class="icon"></span>
              <input
                  type="password"
                  v-model="password"
                  id="password"
                  placeholder="•••••••••••"
              >
            </div>
          </div>

          <div class="form-group">
            <label for="repeatPassword">{{ $ml.get('passwordUpdate.repeatNewPassword') }}</label>
            <div
                :class="['input__icon input__password', {'input__error': ($v.repeatPassword.$dirty && !$v.repeatPassword.required)}]"
            >
              <span class="icon"></span>
              <input
                  type="password"
                  v-model="repeatPassword"
                  id="repeatPassword"
                  placeholder="•••••••••••"
                  @blur="$v.$invalid ? $v.$touch() : null"
              >
            </div>
          </div>
          <span
              v-if="!$v.$invalid"
              class="password__valid"
          >
            {{ $ml.get('passwordUpdate.valid') }}
          </span>


          <div class="form-group">
            <button @click.prevent="update" class="auth__btn auth__btn-login"> {{ $ml.get('passwordUpdate.updateBtn') }}</button>
          </div>
        </div>
      </div>

      <div class="home__block home__questions">
        <div class="questions__content">
          <Collapse
              :items="questionsItems"
          />
        </div>
      </div>

      <div class="text-block">
        <h2 class="title"><span class="title">{{ $ml.get('home.consumerInformation.title') }}</span></h2>
        <div class="text">
          <span
              v-html="$ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('home.consumerInformation.text')"></span>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Breadcrumbs from "../components/Breadcrumbs";
import Tabs from "../components/Tabs";
import Tab from "../components/Tab";
import LoanFilter from "../components/Filter";
import Collapse from "../components/Collapse";
import maskedInput from "vue-masked-input";
import {required, minLength, sameAs} from "vuelidate/lib/validators";

export default {
  name: 'PasswordUpdate',
  components: {
    Breadcrumbs,
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
    maskedInput,
  },
  data() {
    return {
      password: null,
      repeatPassword: null,
      breadcrumbsLinks: [
        {
          route: 'Home',
          label: '',
          labelCode: 'common.breadcrumbs.home',
          active: false,
        },
        {
          route: 'Profile',
          label: '',
          labelCode: 'common.breadcrumbs.profile',
          active: true,
        },
        {
          route: 'ChangePassword',
          label: '',
          labelCode: 'common.breadcrumbs.password',
          active: true,
        },
      ],
      questionsItems: [
        {
          key: 1,
          titleCode: '',
          textCode: 'home.questions.items.1.text',
          title: 'Сроки погашения и процентные ставки',
          text: '',
        },
        {
          key: 2,
          titleCode: '',
          textCode: 'home.questions.items.2.text',
          title: 'Пример расчета онлайн-ссуды',
          text: '',
        },
        {
          key: 3,
          titleCode: '',
          textCode: 'home.questions.items.3.text',
          title: 'Что будет при невыплате ссудных средств',
          text: '',
        }
      ],
    };
  },
  validations: {
    password: {
      required,
      minLength: minLength(6)
    },
    repeatPassword: {
      sameAsPassword: sameAs('password')
    },
  },
  methods: {
    update() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const data = {
        field: 'password',
        data: this.password,
      };

      const response = this.$store.dispatch('profile/update', data);

      response.then((resp) => {
        if(resp.data.status) {
          this.$router.push({name: 'Profile'});
        }
      })
    }
  },
  computed: {
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/login.scss";
  @import "~@/assets/style/password.scss";
</style>