<template>
  <div class="premium">
    <div class="premium__block block__faq">
      <div class="container">
        <div class="faq__label">
          <span class="icon premium__icon"></span>
          <span class="premium__text">
            <span class="top">{{ $ml.get('premium.faq.label.top') }}</span>
            <span class="bottom">{{ $ml.get('premium.faq.label.bottom') }}</span>
          </span>
        </div>
        <div class="faq__items">
          <div class="left">
            <div class="faq__item">
              <img src="~@/assets/img/icon-rate.svg" alt="icon-rate" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.1.text') }}</span>
            </div>

            <div class="faq__item">
              <img src="~@/assets/img/icon-probability.svg" alt="icon-probability" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.2.text') }}</span>
            </div>

            <div class="faq__item">
              <img src="~@/assets/img/icon-time.svg" alt="icon-time" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.3.text') }}</span>
            </div>

            <div class="faq__item">
              <img src="~@/assets/img/icon-list.svg" alt="icon-list" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.4.text') }}</span>
            </div>
          </div>

          <div class="right">
            <div class="faq__item">
              <img src="~@/assets/img/icon-request.svg" alt="icon-request" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.5.text') }}</span>
            </div>

            <div class="faq__item">
              <img src="~@/assets/img/icon-new.svg" alt="icon-new" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.6.text') }}</span>
            </div>

            <div class="faq__item">
              <img src="~@/assets/img/icon-sms.svg" alt="icon-sms" class="faq__icon">
              <span class="faq__text">{{ $ml.get('premium.faq.items.7.text') }}</span>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="premium__block block__buy" v-if="null === user.subscription || typeof user.subscription === 'undefined'">
      <div class="container buy__container">
        <div class="buy__info">
          <div class="icon"></div>
          <span class="label text-green">{{ $ml.get('premium.faq.title') }}</span>
          <span class="description">{{ $ml.get('premium.faq.description') }}</span>

          <div class="btn__main btn">
            <span>{{ $ml.get('common.btn.more') }}</span>
          </div>

          <span class="link">{{ $ml.get('premium.faq.more') }}</span>
        </div>
        <div class="buy__description">
          <span class="buy__label">{{ $ml.get('premium.description.label') }}</span>

          <div class="btn__main buy__btn" @click="buy">
            <span>{{ $ml.get('premium.description.premium') }}</span>
          </div>

          <span class="buy__sublabel">{{ $ml.with('amount', settings.month_tariff).with('currency', settings.currency_symbol).get('premium.description.sublabel') }}</span>
        </div>
      </div>
    </div>

    <div class="premium__block block__questions">
      <div class="important-information__content">
        <div class="container">
          <span class="title">{{ $ml.get('premium.questions.title') }}</span>

          <Collapse
              :items="informationItems"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Collapse from "../components/Collapse";

export default {
  name: "Premium.vue",
  components: {
    Collapse,
  },
  data() {
    return {
      informationItems: [
        {
          key: 1,
          titleCode: 'premium.importantInformation.items.1.title',
          textCode: 'premium.importantInformation.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'premium.importantInformation.items.2.title',
          textCode: 'premium.importantInformation.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'premium.importantInformation.items.3.title',
          textCode: 'premium.importantInformation.items.3.text',
          title: '',
          text: '',
        },
        {
          key: 4,
          titleCode: 'premium.importantInformation.items.4.title',
          textCode: 'premium.importantInformation.items.4.text',
          title: '',
          text: '',
        },
      ],
    };
  },
  methods: {
    buy() {
      this.$store.dispatch('profile/premiumStart');
    },
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
}
</script>


<style scoped lang="scss">
  @import "~@/assets/style/premium";
</style>
