<template>
  <div class="profile">
    <div class="container">
      <Breadcrumbs
          :links="[
                        {
                            route: 'Home',
                            label: 'Главная',
                            labelCode: 'common.breadcrumbs.home',
                        },
                        {
                            route: 'Profile',
                            label: 'Личный кабинет',
                            labelCode: 'common.breadcrumbs.profile',
                        }
                    ]"
      />
    </div>

    <div class="container profile-container">
      <div class="profile-blocks">
        <div class="profile-block user-info personal" style="z-index: 1;">
          <div class="profile-row">
            <div class="profile-row-block">
              <h3>{{ $ml.get('profile.personal') }}</h3>
            </div>

            <div class="profile-row-block">
              <div class="profile-input-block margin-b">
                <label>{{ $ml.get('profile.user.fio') }} <img v-if="user.name" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <input v-model.trim="user.name" :disabled="!state.name">

                  <button v-if="!state.name" @click.prevent="state.name=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('name')" class="btn-primary">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="profile-row-block">
              <div class="profile-input-block margin-b">
                <label>{{ $ml.get('profile.user.inn') }} <img v-if="user.inn" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <input v-model.trim="user.inn" :disabled="!state.inn">

                  <button v-if="!state.inn" @click.prevent="state.inn=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('inn')" class="btn-primary">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="profile-row-block">
              <div class="profile-input-block margin-rb">
                <label>{{ $ml.get('profile.user.birthday') }} <img v-if="user.name" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <datepicker v-model.trim="user.birthday" :disabled="!state.birthday" :language="dtLocale"></datepicker>

                  <button v-if="!state.birthday" @click.prevent="state.birthday=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('birthday')" class="btn-primary country-btn">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
              <div class="profile-input-block margin-b">
                <label>{{ $ml.get('profile.user.city') }} <img v-if="user.city" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <VSelect
                      v-if="state.city"
                      :items="cityItems"
                      @selected="setCity"
                      :defaultItem="user.city.value"
                      :customClasses="['profile-select__city profile-select__country']"
                  />
                  <input v-else v-model.trim="user.city.label" :disabled="true">
                  <button v-if="!state.city" @click.prevent="state.city=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('city')" class="btn-primary country-btn">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="profile-row-block">
              <div class="profile-input-block margin-rb">
                <label>{{ $ml.get('profile.user.phone') }} <img v-if="user.phone" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <masked-input
                      mask="\+\38 (111) 111 11 11"
                      type="tel"
                      v-model.trim="user.phone" :disabled="!state.phone"
                  />

                  <button v-if="!state.phone" @click.prevent="state.phone=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('phone')" class="btn-primary">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
              <div class="profile-input-block margin-b">
                <label>{{ $ml.get('profile.user.email') }} <img v-if="user.email" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <input v-model.trim="user.email" :disabled="!state.email">
                  <button v-if="!state.email" @click.prevent="state.email=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('email')" class="btn-primary">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="profile-row-block">
              <div class="profile-input-block margin-rb">
                <label>{{ $ml.get('profile.user.employment') }} <img v-if="user.employment" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <VSelect
                      v-if="state.employment"
                      :items="employmentItems"
                      @selected="setEmployment"
                      :defaultItem="user.employment.value"
                      :customClasses="['profile-select__city profile-select__country']"
                  />
                  <input v-else v-model.trim="user.employment.label" :disabled="true">
                  <button v-if="!state.employment" @click.prevent="state.employment=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('employment')" class="btn-primary country-btn">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>

              <div class="profile-input-block margin-b">
                <label>{{ $ml.get('profile.user.workPeriod') }} <img v-if="user.workPeriod" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <VSelect
                      v-if="state.workPeriod"
                      :items="workPeriodItems"
                      @selected="setWorkPeriod"
                      :defaultItem="user.workPeriod.value"
                      :customClasses="['profile-select__city profile-select__country']"
                  />
                  <input v-else v-model.trim="user.workPeriod.label" :disabled="true">
                  <button v-if="!state.workPeriod" @click.prevent="state.workPeriod=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('workPeriod')" class="btn-primary country-btn">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="profile-row-block">
              <div class="profile-input-block margin-rb">
                <label>{{ $ml.get('profile.user.creditPurpose') }} <img v-if="user.creditPurpose" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <VSelect
                      v-if="state.creditPurpose"
                      :items="creditPurposeItems"
                      @selected="setCreditPurpose"
                      :defaultItem="user.creditPurpose.value"
                      :customClasses="['profile-select__city profile-select__country']"
                  />
                  <input v-else v-model.trim="user.creditPurpose.label" :disabled="true">
                  <button v-if="!state.creditPurpose" @click.prevent="state.creditPurpose=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('creditPurpose')" class="btn-primary country-btn">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>

              <div class="profile-input-block margin-b">
                <label>{{ $ml.get('profile.user.creditAmount') }} <img v-if="user.creditAmount" src="../assets/img/profile/check.svg"></label>
                <div class="profile-input-with-button">
                  <input v-model.trim="user.creditAmount" :disabled="!state.creditAmount">
                  <button v-if="!state.creditAmount" @click.prevent="state.creditAmount=true" class="btn-default">
                    <img src="../assets/img/profile/edit-icon.svg">
                    <span>{{ $ml.get('profile.edit') }}</span>
                  </button>
                  <button v-else @click.prevent="save('creditAmount')" class="btn-primary country-btn">
                    <img src="../assets/img/profile/save.svg">
                    <span>{{ $ml.get('profile.save') }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-block card-block">
          <div class="profile-row card-row">
            <div class="profile-row-block spacer">
              <h3>{{ $ml.get('profile.cards.title') }}</h3>
            </div>
            <div class="profile-row-block card-info spacer" v-if="null !== user.card  && typeof user.card !== 'undefined' && typeof user.card.number !== 'undefined'">
              <div class="card-image">
                <img src="../assets/img/profile/card-green.svg">
              </div>
              <div class="card-data">
                <span>Пластиковая карта</span>
                <span>{{ user.card.number }}</span>
              </div>
              <div class="card-actions">
                <button class="btn-default transparent">
                  <img src="../assets/img/profile/check.svg">
                  <span class="color-green">{{ $ml.get('profile.cards.ready') }}</span>
                </button>
                <button class="btn-default" @click.prevent="deleteCard">
                  <img src="../assets/img/profile/delete.svg">
                  <span>{{ $ml.get('profile.cards.delete') }}</span>
                </button>
              </div>
            </div>

            <div class="profile-row-block card-info action spacer">
              <div class="btn-main card__add" @click.prevent="addCard">
                <span>{{ $ml.get('profile.cards.add') }}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="profile-blocks">
<!--        <div class="premium-block">-->
<!--          <img src="../assets/img/profile/premium.svg">-->
<!--          <div class="premium-block-info">-->
<!--            <h2 class="color-green">{{ $ml.get('profile.premium.title') }}</h2>-->
<!--            <div class="premium-block-date">-->
<!--              <span>{{ $ml.get('profile.premium.desc') }}</span>-->
<!--              <span class="color-green">19.09.2020г.</span>-->
<!--            </div>-->
<!--            <button class="btn-primary rounded" type="button">{{ $ml.get('profile.premium.renew') }}</button>-->
<!--          </div>-->
<!--        </div>-->
        <div class="premium-block notifications">
          <div class="notifications-item-wrapper">
            <span class="notify-counter" v-if="offeres">{{ offeres }}</span>
            <router-link tag="div" class="notifications-item" :to="{name: 'Microloan'}">
              <img src="../assets/img/profile/bell.svg" class="bg-green">
              <h5>{{ $ml.get('profile.offers') }}</h5>
            </router-link>
          </div>
          <div class="notifications-item-wrapper">
<!--            <span class="notify-counter">1</span>-->
            <router-link tag="div" class="notifications-item" :to="{name: 'Premium'}">
              <img src="../assets/img/profile/crown.svg" class="bg-green">
              <h5>{{ $ml.get('profile.premiumAccount') }}</h5>
            </router-link>
          </div>
        </div>
        <div class="premium-block notifications settings">
          <h6>{{ $ml.get('profile.settings') }}</h6>
          <div class="notifications-item" @click="changePassword">
            <img src="../assets/img/profile/settings.svg" class="bg-green">
            <h5>{{ $ml.get('profile.changePass') }}</h5>
          </div>
          <div class="notifications-item" @click.delete="deleteUser">
            <img src="../assets/img/profile/trash.svg" class="bg-red">
            <h5>{{ $ml.get('profile.delete') }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="faq">
          <Collapse
              :items="informationItems"
          />
        </div>
        <div class="text-block">
          <h4>{{ $ml.get('home.consumerInformation.title') }}</h4>
          <div class="text"
               v-html="$ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('home.consumerInformation.text')"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "../components/Breadcrumbs";
import Datepicker from 'vuejs-datepicker';
import {ru} from 'vuejs-datepicker/dist/locale'
import Collapse from "../components/Collapse";
import VSelect from "../components/Select";
import maskedInput from "vue-masked-input";
import {mapGetters} from "vuex";

export default {
  name: "Profile",
  components: {
    Breadcrumbs,
    Datepicker,
    Collapse,
    maskedInput,
    VSelect,
  },
  data: () => {
    return {
      user: {
        birthday: null,
        city: {
          value: null,
          label: '',
        },
        name: null,
        phone: null,
        country: null,
        email: null,
        inn: null,
        employment: {
          value: null,
          label: '',
        },
        workPeriod: {
          value: null,
          label: '',
        },
        creditPurpose: {
          value: null,
          label: '',
        },
        creditAmount: null,
      },
      dtLocale: ru,
      state: {
        birthday: false,
        city: false,
        name: false,
        phone: false,
        country: false,
        email: false,
        inn: false,
        employment: false,
        workPeriod: false,
        creditPurpose: false,
        creditAmount: false,
      },
      informationItems: [
        {
          key: 1,
          titleCode: 'home.importantInformation.items.1.title',
          textCode: 'home.importantInformation.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'home.importantInformation.items.2.title',
          textCode: 'home.importantInformation.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'home.importantInformation.items.3.title',
          textCode: 'home.importantInformation.items.3.text',
          title: '',
          text: '',
        },
      ],
    }
  },
  methods: {
    save(field) {
      this.state[field] = false;

      let fieldName = field;
      let fieldData = this.user[field];

      if('city' === field) {
        fieldName = 'city_id';
        fieldData = this.user[field].value;
      }

      if('employment' === field) {
        fieldName = 'employment_id';
        fieldData = this.user[field].value;
      }

      if('workPeriod' === field) {
        fieldName = 'work_period_id';
        fieldData = this.user[field].value;
      }

      if('creditPurpose' === field) {
        fieldName = 'credit_purpose_id';
        fieldData = this.user[field].value;
      }

      if('creditAmount' === field) {
        fieldName = 'credit_amount';
        fieldData = this.user[field];
      }

      const data = {
        field: fieldName,
        data: fieldData,
      };

      const response = this.$store.dispatch('profile/update', data);
      response.then((resp) => {
        if (resp.data.status) {
          this.setUser();
        }
      }).catch(error => console.log(error));
    },
    setUser() {
      const response = this.$store.dispatch('auth/getUser');
      response.then((resp) => {
        if (Object.keys(resp.data).length > 0) {
          this.user = Object.assign({}, resp.data);
          if(null === this.user.card || typeof this.user.card === 'undefined') {
            this.$store.dispatch('registration/setCurrentStep', 'addCard')
            this.$router.push({name: 'Registration'});
          }
          this.user['name'] = `${this.user.last_name} ${this.user.first_name} ${this.user.middle_name}`;
          this.user['creditAmount'] = this.user.credit_amount;
          this.user['phone'] = this.user.phone;
          if(null !== this.user.phone || typeof this.user.phone !== 'undefined') {
            this.user.phone = `+${this.user.phone[0]}${this.user.phone[1]} (${this.user.phone.substr(2, 3)}) ${this.user.phone.substr(5, 3)} ${this.user.phone.substr(8, 2)} ${this.user.phone.substr(10, 2)}`;
          }

          if(null !== this.user.card && typeof this.user.card !== 'undefined') {
            if(this.user.card.masked) {
              this.user['card']['number'] = this.user.card.masked.replace(/X/g, '*');
            }
          }

          if(null !== this.user.city_id && typeof this.user.city_id !== 'undefined') {
            if((null !== this.cityItems || typeof this.cityItems !== 'undefined') && Object.keys(this.cityItems).length > 0) {
              this.user['city'] = this.cityItems.find(item => item.value === this.user.city_id);
            }
          }

          if(null === this.user['city'] || typeof this.user['city'] === 'undefined') {
            this.user['city'] = {
              label: null,
              value: null,
            };
          }

          if(null !== this.user.employment_id && typeof this.user.employment_id !== 'undefined') {
            if((null !== this.employmentItems || typeof this.employmentItems !== 'undefined') && Object.keys(this.employmentItems).length > 0) {
              this.user['employment'] = this.employmentItems.find(item => item.value === this.user.employment_id);
            }
          }

          if(null === this.user['employment'] || typeof this.user['employment'] === 'undefined') {
            this.user['employment'] = {
              label: null,
              value: null,
            };
          }

          if(null !== this.user.work_period_id && typeof this.user.work_period_id !== 'undefined') {
            if((null !== this.workPeriodItems || typeof this.workPeriodItems !== 'undefined') && Object.keys(this.workPeriodItems).length > 0) {
              this.user['workPeriod'] = this.workPeriodItems.find(item => item.value === this.user.work_period_id);
            }
          }

          if(null === this.user['workPeriod'] || typeof this.user['workPeriod'] === 'undefined') {
            this.user['workPeriod'] = {
              label: null,
              value: null,
            };
          }

          if(null !== this.user.credit_purpose_id && typeof this.user.credit_purpose_id !== 'undefined') {
            if((null !== this.creditPurposeItems || typeof this.creditPurposeItems !== 'undefined') && Object.keys(this.creditPurposeItems).length > 0) {
              this.user['creditPurpose'] = this.creditPurposeItems.find(item => item.value === this.user.credit_purpose_id);
            }
          }

          if(null === this.user['creditPurpose'] || typeof this.user['creditPurpose'] === 'undefined') {
            this.user['creditPurpose'] = {
              label: null,
              value: null,
            };
          }
        }
      }).catch(error => console.log(error));
    },
    addCard() {
      const response = this.$store.dispatch('profile/addCard');

      response.then((resp) => {
        if (Object.keys(resp.data).length > 0) {
          window.location.href = resp.data.url;
        }
      }).catch(error => console.log(error));
    },
    deleteCard() {
      this.$confirm(this.$ml.get('profile.remove.card.title'), this.$ml.get('profile.remove.card.label'), 'warning', {
        confirmButtonText: this.$ml.get('profile.remove.btn.confirm'),
        cancelButtonText: this.$ml.get('profile.remove.btn.cancel'),
        confirmButtonColor: 'red',
      }).then(() => {
        const response = this.$store.dispatch('profile/deleteCard', (null !== this.user.card && typeof this.user.card.masked) ? this.user.card.masked : null);

        response.then((resp) => {
          if (resp.data.status) {
            this.user.card = null;
          }
        }).catch(error => console.log(error));
      });
    },
    deleteUser() {
      this.$confirm(this.$ml.get('profile.remove.title'), this.$ml.get('profile.remove.label'), 'warning', {
        confirmButtonText: this.$ml.get('profile.remove.btn.confirm'),
        cancelButtonText: this.$ml.get('profile.remove.btn.cancel'),
        confirmButtonColor: 'red',
      }).then(() => {
        const response = this.$store.dispatch('auth/deleteUser');

        response.then((resp) => {
         this.$router.push('/');
        }).catch(error => console.log(error));
      });
    },
    changePassword() {
      this.$router.push({name: 'ChangePassword'});
    },
    setCity(city) {
      this.user['city'] = city;
    },
    setCreditPurpose(creditPurpose) {
      this.user['creditPurpose'] = creditPurpose;
    },
    setEmployment(employment) {
      this.user['employment'] = employment;
    },
    setWorkPeriod(workPeriod) {
      this.user['workPeriod'] = workPeriod;
    },
    loadData(lang) {
      // this.$store.dispatch('promocode/getPromocode');
      this.$store.dispatch('registration/cities', lang);
      this.$store.dispatch('registration/employments', lang);
      this.$store.dispatch('registration/workPeriod', lang);
      this.$store.dispatch('registration/creditPurpose', lang);
    },
  },
  computed: {
    // ...mapGetters('promocode', {
    //   promocodes: 'count',
    // }),
    ...mapGetters('offers', {
      offeres: 'count',
    }),
    ...mapGetters('registration', {
      cityItems: 'cities',
      employmentItems: 'employments',
      workPeriodItems: 'workPeriod',
      creditPurposeItems: 'creditPurpose',
    }),
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
  mounted() {
    let bus = this.$ml.bus;
    let _this = this;

    bus.$on('vueml-language-changed', function (newLanguage) {
      _this.loadData(newLanguage);
      _this.setUser();
    });
  },
  created() {
    this.loadData(this.$ml.current);

    let _this = this;
    setTimeout(() => {
      _this.setUser();
    }, 1000)
  },
}
</script>

<style lang="scss">
@import "~@/assets/style/mixins";
.vdp-datepicker {
  width: 100%;
  input {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.12) !important;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #304456;
    border: 1px solid silver;
    width: 100%;

    @include max_1239 {
      padding: 2px 7px;
    }

    &:disabled {
      border: none;
      box-shadow: none !important;
      background: #FFFFFF;
      padding: 0px;
      font-size: 14px;
    }
  }
}
</style>

<style scoped lang="scss">
@import "~@/assets/style/profile";
</style>

