<template>
  <div class="promocodes">
    <Breadcrumbs
        :links="breadcrumbsLinks"
    />

    <div v-if="showPopUp">
      <PromocodePopUp
          :mfoName="mfo.name"
          :mfoImg="mfo.img"
          :mfoCode="mfo.code"
          @close="closePopUp"
      />
    </div>

    <div class="container" v-else>
      <div class="promocodes__block">
        <div class="title">
          {{ $ml.get('promocodes.title') }}
        </div>
        <div class="subtitle">
          {{ $ml.get('promocodes.subtitle') }}
        </div>

        <div class="promocodes__items">
          <div
              class="promocodes__item"
              v-if="promocodes.length"
              v-for="promocode in promocodes"
          >
            <div class="promocodes__icon">
              <img :src="`${$api.adminUrl}/${promocode.image}`">
            </div>


            <div class="info">
              <span class="title">{{ promocode.title }}</span>
              <span class="description">{{ promocode.conditions }}</span>

              <div
                  class="btn__main-reverse promocodes__btn"
                  @click.prevent="getPromoCode(promocode.title,`${$api.adminUrl}/${promocode.image}`, promocode.code)"
              >
                <span>{{ $ml.get('common.btn.get') }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="promocodes__important-information">
        <div class="important-information__content">
          <Collapse
              :items="informationItems"
          />
        </div>
      </div>

      <div class="consumer-information promocodes__consumer-information">
        <span class="title">{{ $ml.get('home.consumerInformation.title') }}</span>

        <div class="consumer-information__content">
          <span
              v-html="$ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('home.consumerInformation.text')"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "../components/Breadcrumbs";
import Collapse from "../components/Collapse";
import PromocodePopUp from "../components/promocodes/PopUp";

export default {
  name: 'Home',
  components: {
    Breadcrumbs,
    Collapse,
    PromocodePopUp,
  },
  data() {
    return {
      showPopUp: false,
      mfo: {
        name: '',
        img: '',
        code: '',
      },
      informationItems: [
        {
          key: 1,
          titleCode: 'home.importantInformation.items.1.title',
          textCode: 'home.importantInformation.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'home.importantInformation.items.2.title',
          textCode: 'home.importantInformation.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'home.importantInformation.items.3.title',
          textCode: 'home.importantInformation.items.3.text',
          title: '',
          text: '',
        },
      ],
      breadcrumbsLinks: [
        {
          route: 'Home',
          label: '',
          labelCode: 'common.breadcrumbs.home',
          active: false,
        },
        {
          route: 'Promocodes',
          label: '',
          labelCode: 'common.breadcrumbs.promocodes',
          active: true,
        },
      ],
    };
  },
  methods: {
    closePopUp() {
      this.showPopUp = false;
      this.mfo = {
        name: '',
        img: '',
        code: '',
      };
    },
    getPromoCode(name, img, code) {
      this.mfo = {
        name: name,
        img: img,
        code: code,
      };
      this.showPopUp = true;
    }
  },
  computed: {
    promocodes() {
      return this.$store.getters['promocode/promocodes'];
    },
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
  mounted() {
  },
  created() {
    if(!this.promocodes.length > 0) {
      this.$store.dispatch('promocode/getPromocode');
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/promocodes";
</style>
