<template>
  <div class="auth">
    <Breadcrumbs
        :links="breadcrumbsLinks"
    />
    <div class="container">
      <div class="auth__content">
        <div class="login-form">
          <span class="auth__label">Восстановления пароля</span>

	        <ul class="tabs">
		        <li class="tab" v-bind:class="{'active-tab' : tab === 'mobile'}" @click="tab = 'mobile'">Через номер телефона</li>
		        <li class="tab" v-bind:class="{'active-tab' : tab === 'email'}" @click="tab = 'email'">Через E-mail</li>
	        </ul>

	        <div :class="['form-group']" v-if="tab === 'mobile'">
		        <span class="input-tip">Введите номер мобильного телефона:</span>
		        <div :class="['input__icon input__phone', {'input__error': $v.phone.$dirty && !$v.phone.required}]">
			        <span :class="['icon']"></span>
			        <masked-input :class="['' , {'code-write': codeWrite === true}]" type="phone" v-model="phone" id="phone" placeholder="+38 (___) _____" v-model.trim="phone" mask="\+\38 (111) 111 11 11"/>
		        </div>
	        </div>

	        <div class="form-group" v-if="tab === 'email'">
		        <span class="input-tip">Введите email:</span>
		        <div :class="['input__icon input__phone', {'input__error': $v.email.$dirty && !$v.email.required}]">
			        <span class="icon"></span>
			        <input type="email" v-model="email" id="email"   placeholder="test@test.com">
		        </div>
	        </div>

	        <div class="form-group" v-if="codeWrite === true">
		        <span class="input-tip">Введите код потверждения:</span>
		        <div :class="['input__icon  input__code', {'input__error': $v.code.$dirty && !$v.code.required}]">
			        <span class="icon icon-code"></span>
			        <input type="text" v-model="code" id="code">
		        </div>
	        </div>

          <div class="form-group" v-if="codeWrite !== true">
            <button @click.prevent="sendCode" class="auth__btn auth__btn-login">Получить код</button>
          </div>

	        <div class="form-group" v-if="codeWrite === true">
		        <button @click.prevent="checkCode" class="auth__btn auth__btn-login">Отправить код</button>
	        </div>

	        <span class="tip" v-if="(tab === 'mobile') && (codeWrite !== true)">На указанный номер будет выслан код для восстановления пароля</span>
	        <span class="tip" v-if="(tab === 'email') && (codeWrite !== true)">На указанный email будет выслан код для восстановления пароля</span>

	        <span class="tip" v-if="codeWrite === true">SMS с кодом подтверждения отправлено. </span>

	        <div class="resend" v-if="codeWrite === true">
		        <div class="btn-resend">
			        <span class="btn-resend-text" @click.prevent="resendCode" >Выслать код повторно</span>
		        </div>
		        <div>
			        <RadialProgressBar
				        :diameter="70"
				        :completed-steps="progressValue"
				        :total-steps="total"
				        :innerStrokeColor="'#F9FFFB'"
				        :startColor="'#3DCC79'"
				        :stopColor="'#3DCC79'"
				        :strokeWidth="5"
			        >
				        <span v-if="progressValue === 30">OK</span>
				        <span v-if="progressValue !== 30">{{ progressValue}}</span>
			        </RadialProgressBar>
		        </div>
	        </div>
        </div>
      </div>

      <div class="home__block home__questions">
        <div class="questions__content">
          <Collapse
              :items="questionsItems"
          />
        </div>
      </div>

      <div class="text-block">
        <h2 class="title">Потребительская информация</h2>
        <div class="text">
          <p>
            Услуги на проекте «MyTenge» оказывает ИП СИМОВ Н.А., ИНН 615018734300, ОГРНИП 320237500090117 Если у Вас возникли вопросы по работе сервиса, Вы можете ознакомиться с разделом Вопросы и ответы, либо задать Ваш вопрос нашей службе поддержки
          </p>
          <p class="new-line">
            Проект осуществляет подбор финансовых продуктов для клиентов, являясь посредником между клиентом, желающим взять ссуду, и лицензированным финансовым учреждением. Проект my-tenge.info не является финансовым учреждением, банком или кредитором, и не несёт ответственности за любые заключенные договоры кредитования или условия. Расчёты носят приблизительный характер, окончательные условия уточняйте на сайте кредитной организации. Чтобы оформить заявку, Вам необходимо ознакомиться с правилами сервиса и заполнить анкету. Сайт использует куки для предоставления услуг. Условия хранения или доступа к куки Вы можете настроить в своём браузере. Сервис предназначен для лиц старше 18 лет. Стоимость услуг регулируется действующими тарифами. Если услуга перестала быть актуальной для Вас (Вы получили займ или более не нуждаетесь в займах), Вы можете самостоятельно отписаться от услуги в любой момент - отменить подписку
          </p>
          <p class="new-line">
            Внимание! Услуга обработки заявки является платной и составляет 1932 тнг., списание производиться в валюте РФ (рубли). Услуга далее по сайту — «Премиум аккаунт»Для отключения подписки удалите карты в личном кабинете сайта.
          </p>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Breadcrumbs from "../components/Breadcrumbs";
import Tabs from "../components/Tabs";
import Tab from "../components/Tab";
import LoanFilter from "../components/Filter";
import Collapse from "../components/Collapse";
import {email, required, numeric} from "vuelidate/lib/validators";
import maskedInput from "vue-masked-input";
import RadialProgressBar from 'vue-radial-progress'
import router from "@/router";

export default {
  name: 'Login',
  components: {
    Breadcrumbs,
    Tabs,
    Tab,
    LoanFilter,
    Collapse,
	  maskedInput,
	  RadialProgressBar,
  },
  data() {
    return {
    	tab: 'mobile',
      phone: null,
      code: '',
	    codeWrite: false,
      email: null,
      password: null,
      progressValue: 30,
      total: 30,
      passwordType: 'password',
      breadcrumbsLinks: [
        {
          route: 'Home',
          label: '',
          labelCode: 'common.breadcrumbs.home',
          active: false,
        },
        {
          route: 'Login',
          label: '',
          labelCode: 'common.breadcrumbs.login',
          active: true,
        },
	      {
		      route: 'Recovery',
		      label: '',
		      labelCode: 'common.breadcrumbs.recovery',
		      active: true,
	      },
      ],
      questionsItems: [
        {
          key: 1,
          titleCode: '',
          textCode: 'home.questions.items.1.text',
          title: 'Сроки погашения и процентные ставки',
          text: '',
        },
        {
          key: 2,
          titleCode: '',
          textCode: 'home.questions.items.2.text',
          title: 'Пример расчета онлайн-ссуды',
          text: '',
        },
        {
          key: 3,
          titleCode: '',
          textCode: 'home.questions.items.3.text',
          title: 'Что будет при невыплате ссудных средств',
          text: '',
        }
      ],
    };
  },
  validations: {
    phone: {
      required,
    },
    password: {
      required,
    },
	  code: {
		  required,
	  },
	  email: {
		  required,
		  email,
	  },
  },
  methods: {
  	sendCode() {
		  if (this.phone !== '') {
			  const response = this.$store.dispatch('recovery/sendCode', this.phone.replace(/\D+/g, ''));

			  response.then(() => {
			  	this.codeWrite = true;
			  });
		  }
	  },
	  checkCode() {
		  if (this.code !== '') {
			  const response = this.$store.dispatch('recovery/checkCode', {code: this.code, phone: this.phone.replace(/\D+/g, '')});

			  response.then(resp => {
				  if(resp.data.status) {
					  this.$store.dispatch('auth/setAuthToken', resp.data.token);
					  this.$router.push({name: 'ChangePassword'});
				  }
			  });
		  }
	  },
	  resendCode() {
  		if (this.progressValue === 30) {
			  if (this.progressValue === 30 || this.progressValue === 0) {
				  this.sendCode();
			  }

			  if (this.progressValue !== 0) {
				  let _this = this;

				  let intervalBar = setInterval(function () {
					  _this.progressValue--;

					  if (_this.progressValue === 0) {
						  _this.progressValue = 30;
						  clearInterval(intervalBar);
					  }
				  }, 1000)
			  }
		  }
	  }
  },
}
</script>

<style scoped lang="scss">
@import "~@/assets/style/recovery.scss";
</style>