<template>
  <div class="registration">
    <Breadcrumbs
        :links="breadcrumbsLinks"
    />

    <Preloader
        :title="preloaderTitle"
        :description="preloaderDescription"
        v-if="isPreloaderShow"
    />

    <div v-if="null !== saveCardStatus">
      <CardPopUp
          :status="saveCardStatus"
          :showSubDescription="'error' === saveCardStatus"
      />
    </div>

    <div class="container" v-if="!isPreloaderShow && null === saveCardStatus">
      <div class="registration__content">
        <div :class="['registration__header', `${currentStep}__header`]">
          <div class="registration__title">
            <div class="title">{{ $ml.get('registration.label') }}</div>
            <div class="subtitle">{{ $ml.get('common.sum') }}: <span class="text-green">{{ amount || 10000 }}  {{ settings.currency_symbol || $ml.get('common.currency') }}</span></div>
          </div>

          <div class="registration__progress">
            <div class="registration__approval">{{ $ml.get('registration.approval') }}:
              <span
                  class="text-semi-bold"
                  :style="`color: ${progressValueColor}`"
            >{{ progress }}%</span></div>
            <div class="registration__approval-bar"
                 :style="`--filling: ${progress}%; --color: ${progressColor};`"
            >

            </div>
            <div class="registration__loans">{{ $ml.get('registration.loansLeft') }}: <span class="text-grey-1 text-semi-bold">{{  loansLeft }}</span></div>
          </div>
        </div>

        <component
            :is="component"
            :data="stepData"
            @nextStep="nextStep"
        ></component>

        <div
            class="registration__pagination"
            v-if="['first', 'second', 'third'].includes(currentStep)"
        >
          {{ $ml.get('common.step') }} <span class="text-semi-bold">{{ stepNumber }} {{ $ml.get('common.of') }} 3</span>
        </div>

        <div
            class="registration__pagination mail"
            v-if="['confirmMail', 'confirmMailFinish'].includes(currentStep)"
        >
          <span class="text-semi-bold">{{ $ml.get('registration.confirmMailStep.step.description') }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import Breadcrumbs from "../components/Breadcrumbs";
import CardPopUp from "../components/registration/card/PopUp";

import FirstStep from "../components/registration/FirstStep";
import SecondStep from "../components/registration/SecondStep";
import ThirdStep from "../components/registration/ThirdStep";
import ConfirmPhoneStep from "../components/registration/ConfirmPhoneStep";
import ConfirmMailStep from "../components/registration/ConfirmMailStep";
import ConfirmMailFinishStep from "../components/registration/ConfirmMailFinishStep";
import CheckDataStep from "../components/registration/CheckDataStep";
import CheckDataFinishStep from "../components/registration/CheckDataFinishStep";
import AddCardStep from "../components/registration/AddCardStep";
import AddCardFinishStep from "../components/registration/AddCardFinishStep";
import AddCardConfirmStep from "../components/registration/AddCardConfirmStep";
import Preloader from "../components/Preloader";

export default {
  name: "Registration",
  components: {
    Preloader,
    Breadcrumbs,
    CardPopUp,

    FirstStep,
    SecondStep,
    ThirdStep,
    ConfirmPhoneStep,
    ConfirmMailStep,
    ConfirmMailFinishStep,
    CheckDataStep,
    CheckDataFinishStep,
    AddCardStep,
    AddCardFinishStep,
    AddCardConfirmStep,
  },
  data() {
    return {
      isPreloaderShow: false,
      loansLeft: 14,
      saveCardStatus: null, // ['success', 'error', null]

      preloaderTitle: 'registration.preloaderTitle',
      preloaderDescription: 'registration.preloaderDescription',

      breadcrumbsLinks: [
        {
          route: 'Home',
          label: '',
          labelCode: 'common.breadcrumbs.home',
          active: false,
        },
        {
          route: 'Registration',
          label: '',
          labelCode: 'common.breadcrumbs.registration',
          active: true,
        },
      ],
    };
  },
  methods: {
    nextStep(stepName) {
      const step = this.$store.getters['registration/stepByName'](stepName);
      if (step && step.hasOwnProperty('index')) {
        const index = step.index;
        let nextStep = this.$store.getters['registration/stepByIndex'](index + 1);

        if (nextStep && nextStep.hasOwnProperty('key')) {
          this.$store.dispatch('registration/setCurrentStep', nextStep.key);
        }
      }
    },
    loadData(lang) {
      this.$store.dispatch('registration/workPeriod', lang);
      this.$store.dispatch('registration/cities', lang);
      this.$store.dispatch('registration/employments', lang);
    },
  },
  computed: {
    ...mapGetters('registration', {
      currentStep: 'currentStep',
      stepData: 'stepData',
      progress: 'progress',
      amount: 'amount',
    }),
    component() {
      const user = this.$store.getters['auth/user'];

      if(Object.keys(user).length) {
        if(user.hasOwnProperty('phone_verified_at')) {
          if(user.phone_verified_at) {
            if('confirmPhone' === this.currentStep) {
              return 'first-step';
            } else {
              return (this.currentStep || 'first') + '-step';
            }
          }
        }
      }

      return (this.currentStep || 'confirmPhone') + '-step';
    },
    stepNumber() {
      const step = this.$store.getters['registration/stepByName'](this.currentStep);

      if(step && step.hasOwnProperty('number')) {
        return step.number;
      }

      return null;
    },
    progressColor() {
      if(this.progress >= 35 && this.progress < 50) {
        return 'linear-gradient(90deg, #FF5C00 0%, #FFF500 100%), linear-gradient(180deg, #FFB6AF 0%, #FF695B 100%)';
      } else if(this.progress >= 50 && this.progress < 70) {
        return 'linear-gradient(90deg, #FF5C00 0%, #FAFF00 43.23%, #ADFF00 100%), linear-gradient(180deg, #FFB6AF 0%, #FF695B 100%)';
      } else if(this.progress >= 70 && this.progress < 90) {
        return 'linear-gradient(90deg, #FF5C00 0%, #FFE600 39.12%, #EBFF00 61.2%, #8FFF00 100%), linear-gradient(180deg, #FFB6AF 0%, #FF695B 100%)';
      } else if(this.progress >= 90) {
        return 'linear-gradient(90deg, #FF5C00 0%, #FAFF00 48.96%, #24FF00 100%), linear-gradient(180deg, #FFB6AF 0%, #FF695B 100%)';
      } else {
        return 'linear-gradient(90deg, #FF5C00 0%, #FFEF5B 100%)';
      }
    },
    progressValueColor() {
      if(this.progress >= 34 && this.progress < 50) {
        return '#fff000';
      } else if(this.progress >= 50 && this.progress < 70) {
        return '#aefd00';
      } else if(this.progress >= 70 && this.progress < 90) {
        return '#92fb00';
      } else if(this.progress >= 90) {
        return '#29ff00';
      } else {
        return '#ff6506';
      }
    },
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
  mounted() {
    this.loadData(this.$ml.current);

    let bus = this.$ml.bus;
    let _this = this;

    bus.$on('vueml-language-changed', function (newLanguage) {
      _this.loadData(newLanguage);
    });
  },
  created() {
    this.isPreloaderShow = true;
    setTimeout(() => this.isPreloaderShow = false, 4000)
  },
}
</script>

<style lang="scss">
body {
  background: #FFFFFF url("~@/assets/img/registration-bg.svg") no-repeat top !important;
}
</style>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>
