<template>
  <div class="container">
    <div class="unsubscribe">
    <div class="unsubscribe__content">
      <div class="unsubscribe__label">{{ $ml.get('unsubscribe.label') }}</div>
      <div class="unsubscribe__sublabel">{{ $ml.get('unsubscribe.sublabel') }}</div>

      <div class="unsubscribe__form">
        <span class="label">{{ $ml.get('unsubscribe.form.label') }}</span>

        <div class="content">
          <span class="icon"></span>

          <input
              type="text"
              v-model.trim="card"
              placeholder="1234 56** **** 4567"
              v-mask="'#### ##** **** ####'"
          >
          <span class="btn" @click.prevent="unsubsribe">{{ $ml.get('unsubscribe.form.btn') }}</span>
        </div>
      </div>
    </div>

    <div class="unsubscribe__important-information">
      <div class="important-information__content">
        <Collapse
            :items="informationItems"
        />
      </div>
    </div>

    <div class="unsubscribe__consumer-information">
      <span class="title">{{ $ml.get('home.consumerInformation.title') }}</span>

      <div class="consumer-information__content">
          <span
              v-html="$ml.with('amount', settings.month_tariff).with('currency', settings.currency_name).get('home.consumerInformation.text')"></span>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import Collapse from "../components/Collapse";

export default {
  name: "Unsubscribe",
  components: {
    Collapse,
  },
  data() {
    return {
      card: null,
      questionsItems: [
        {
          key: 1,
          titleCode: 'home.questions.items.1.title',
          textCode: 'home.questions.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'home.questions.items.2.title',
          textCode: 'home.questions.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'home.questions.items.3.title',
          textCode: 'home.questions.items.3.text',
          title: '',
          text: '',
        },
        {
          key: 4,
          titleCode: 'home.questions.items.4.title',
          textCode: 'home.questions.items.4.text',
          title: '',
          text: '',
        },
        {
          key: 5,
          titleCode: 'home.questions.items.5.title',
          textCode: 'home.questions.items.5.text',
          title: '',
          text: '',
        },
        {
          key: 6,
          titleCode: 'home.questions.items.6.title',
          textCode: 'home.questions.items.6.text',
          title: '',
          text: '',
        },
      ],
      informationItems: [
        {
          key: 1,
          titleCode: 'home.importantInformation.items.1.title',
          textCode: 'home.importantInformation.items.1.text',
          title: '',
          text: '',
        },
        {
          key: 2,
          titleCode: 'home.importantInformation.items.2.title',
          textCode: 'home.importantInformation.items.2.text',
          title: '',
          text: '',
        },
        {
          key: 3,
          titleCode: 'home.importantInformation.items.3.title',
          textCode: 'home.importantInformation.items.3.text',
          title: '',
          text: '',
        },
      ],
    };
  },
  methods: {
    unsubsribe() {
      this.$confirm(this.$ml.get('unsubscribe.modal.title'), this.$ml.get('unsubscribe.modal.label'), 'warning', {
        confirmButtonText: this.$ml.get('unsubscribe.modal.btn.confirm'),
        cancelButtonText: this.$ml.get('unsubscribe.modal.btn.cancel'),
        confirmButtonColor: 'red',
      }).then(() => {
        const response = this.$store.dispatch('profile/deleteCard', this.card.replace(/\*/g, '').replace(/\s/g, ''));

        response.then((resp) => {
          if (resp.data.status) {
            //alert
          }
        });
      }).catch(error => console.log(error));
    },
  },
  computed: {
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
}
</script>


<style scoped lang="scss">
  @import "~@/assets/style/unsubscribe";
</style>