<!--
    Links example:
    [
      {
        route: 'Home',
        label: '',
        labelCode: 'common.breadcrumbs.home',
      },
    ],
 -->
<template>
    <div class="breadcrumbs" v-if="links.length">
      <div class="container">
        <div class="breadcrumbs__items">
          <router-link
              v-for="link in links"
              :key="link.route"
              :to="{name: link.route}"
              tag="a"
              class="breadcrumbs__item"
              :class="{'breadcrumbs__item-home': 'Home' === link.route}"
          >
            {{ link.label }}
          </router-link>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        props: {
            links: {
                type: Array,
                default: [],
            }
        },
        methods: {
            formatItems() {
                for(let i = 0; i < this.links.length; i++) {
                    if(this.links[i].labelCode) {
                        this.links[i].label = this.$ml.get(this.links[i].labelCode);
                    }
                }
            },
        },
        mounted() {
            this.formatItems();

            let bus = this.$ml.bus;
            let _this = this;

            bus.$on('vueml-language-changed', function (newLanguage) {
                _this.formatItems();
            });
        },
    }
</script>

<style scoped lang="scss">
    @import "~@/assets/style/breadcrumbs";
</style>
