<template>
    <div class="collapse">
        <div
                class="collapse__items"
                v-if="items"
        >
            <div
                    class="collapse__item"
                    v-for="(item, key) in items"
                    :key="key"
                    :ref="`item-${key}`"
                    @click="showHide(`item-${key}`)"
            >
                <div class="collapse__label">
                    <span class="collapse__title">{{ item.title }}</span>
                    <span class="collapse__caret"></span>
                </div>
                <div class="collapse__text">{{ item.text }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            items: {
                type: Array,
            },
        },
        methods: {
            showHide(ref) {
                if(this.$refs[ref][0]) {
                    this.$refs[ref][0].classList.contains('open') ? this.$refs[ref][0].classList.remove('open') : this.$refs[ref][0].classList.add('open');
                }
            },
            formatItems() {
                for(let i = 0; i < this.items.length; i++) {
                    if(this.items[i].titleCode) {
                        this.items[i].title = this.$ml.get(this.items[i].titleCode);
                    }

                    if(this.items[i].textCode) {
                        this.items[i].text = this.$ml.get(this.items[i].textCode);
                    }
                }
            },
        },
        mounted() {
            this.formatItems();

            let bus = this.$ml.bus;
            let _this = this;

            bus.$on('vueml-language-changed', function (newLanguage) {
                _this.formatItems();
            });
        },
    }
</script>

<style scoped lang="scss">
    @import "~@/assets/style/collapse";
</style>
