<template>
  <div class="filter">
    <div class="filter__content">
      <div class="filter__control">
        <div class="sliders">
          <div class="sliders__sum">
            <div class="sum">
              <span class="filter__label">{{ $ml.get('home.tabs.filter.desiredAmount') }}</span>
              <span class="filter__label-result">{{ desiredAmount | divide }} {{ settings.currency_symbol || $ml.get('common.currency') }}</span>
            </div>

            <div class="slider">
              <input
                  type="range"
                  class="range"
                  v-model="desiredAmount"
                  :min="minAmount" :max="maxAmount"
                  :step="amountStep"
                  @change="filterLoan"
              />
            </div>

            <div class="value">
              <span class="min">{{ minAmount | divide }} {{ settings.currency_symbol || $ml.get('common.currency') }}</span>
              <span class="max">{{ maxAmount | divide }} {{ settings.currency_symbol || $ml.get('common.currency') }}</span>
            </div>
          </div>
          <div class="sliders__sum">
            <div class="sum">
              <span class="filter__label">{{ $ml.get('home.tabs.filter.term') }}</span>
              <span class="filter__label-result">{{ term }} {{ term | plural([$ml.get('common.oneDay'), $ml.get('common.days'), $ml.get('common.severalDays')]) }}</span>
            </div>

            <div class="slider">
              <input
                  type="range"
                  class="range"
                  v-model="term"
                  :min="minTerm" :max="maxTerm"
                  @change="filterLoan"
              />
            </div>

            <div class="value">
              <span class="min">{{ minTerm }} {{ minTerm| plural([$ml.get('common.oneDay'), $ml.get('common.days'), $ml.get('common.severalDays')]) }}</span>
              <span class="max">{{ maxTerm }} {{ maxTerm | plural([$ml.get('common.oneDay'), $ml.get('common.days'), $ml.get('common.severalDays')]) }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="filter__info">
        <div class="conditions">
          <span class="filter__label-result" v-if="type === 'microloan'">{{ $ml.get('home.tabs.filter.loanConditions') }}</span>
          <span class="filter__label-result" v-else>{{ $ml.get('home.tabs.filter.creditConditions') }}</span>

          <div class="result">
            <span>{{ $ml.get('home.tabs.filter.loanAmount') }}</span>
            <span class="text-green-1">{{ desiredAmount | divide }} {{ settings.currency_symbol || $ml.get('common.currency') }}</span>
          </div>

          <div class="result" v-if="type === 'microloan'">
            <span>{{ $ml.get('home.tabs.filter.returnTo') }}</span>
            <span class="text-green-1">{{ returnTo }}</span>
          </div>

          <div class="result" v-if="type !== 'microloan' && rate">
            <span>{{ $ml.get('home.tabs.filter.rate') }}</span>
            <span class="text-green-1">{{ rate }}%</span>
          </div>
        </div>

        <div class="btn__main filter__btn " @click="getMoney">
          <span v-if="isHome">{{ $ml.get('common.btn.getMoney') }}</span>
          <span class="results-btn" v-else>{{ $ml.get('common.btn.showResults') }}</span>
          <span class="count" v-if="!isHome">
            <span class="value">{{ count }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      required: true,
      type: String,
      default: 'microloan',
    },
    amountStep: {
      type: [String, Number],
      default: 0,
    },
  },
  data: () => {
    return {
      term: 3,
      desiredAmount: 1000,
      returnTo: null,

      minAmount: 1,
      maxAmount: 10000,
      minTerm: 1,
      maxTerm: 30,
      rate: 0,

      isHome: true,
    };
  },
  methods: {
    getTabData() {
      switch (this.type) {
        case 'credit':
          return {
            name: 'Cashloan',
            category: 'bank',
          };
        case 'credit-card':
          return {
            name: 'Creditcard',
            category: 'bank',
          };
        default:
        case 'microloan':
          return {
            name: 'Microloan',
            category: 'mfo',
          };
      }
    },
    setReturnTo(term) {
      this.returnTo = new Date();
      this.returnTo.setDate(this.returnTo.getDate() + parseInt(term));
      this.returnTo = this.$options.filters.date(this.returnTo);
    },
    getMoney() {
      if('Home' === this.$route.name) {
          if(Object.keys(this.user).length) {
              this.$router.push({name: 'Microloan'});
          } else {
              // this.$router.push({
              //     name: this.getTabData().name,
              // });
            this.$store.dispatch('registration/setAmount', this.desiredAmount);
            this.$router.push({name: 'Registration'});
          }
      } else {
        this.$emit('preloaderShow');
        this.$store.dispatch(`offers/offers${this.getTabData().name}`);

        let _this = this;
        setTimeout(() =>  {
          _this.$emit('preloaderHide');
        }, 2000);
      }
    },
    filterLoan() {
      const data = {
        type: this.getTabData().name,
        data: {
          term: this.term,
          amount: this.desiredAmount,
        }
      };
      this.$store.dispatch('offers/setFiltered', data);
    },
    setFilteredData() {
      this.term = this.filteredData.term || this.term;
      this.desiredAmount = this.filteredData.amount || this.desiredAmount;
    },
  },
  watch: {
    term(newTerm) {
      this.setReturnTo(newTerm);
    },
  },
  computed: {
    filters() {
      return this.$store.getters['offers/filters'];
    },
    filteredData() {
      return this.$store.getters['offers/filteredData'](this.getTabData().name);
    },
    count() {
      if('Home' === this.$route.name) {
        return null;
      } else {
        return this.$store.getters[`offers/count${this.getTabData().name}`];
      }
    },
    user() {
      return this.$store.getters['auth/user'];
    },
    settings() {
      return this.$store.getters['settings/settings'];
    },
  },
  mounted() {
    this.setReturnTo(this.term);
    if('Home' !== this.$route.name) {
      this.$store.dispatch('offers/offers');
      this.$store.dispatch('offers/filters', this.getTabData());
    }

    if(typeof this.filters[this.getTabData().name] !== 'undefined') {
      this.minAmount = this.filters[this.getTabData().name].minAmount || 1;
      this.maxAmount = this.filters[this.getTabData().name].maxAmount || 1000;
      this.minTerm = this.filters[this.getTabData().name].minTerm || 1;
      this.maxTerm = this.filters[this.getTabData().name].maxTerm || 30;
      this.rate = this.filters[this.getTabData().name].rate || 0;
    } else {
      this.minAmount = 1;
      this.maxAmount = 1000;
      this.minTerm =  1;
      this.maxTerm =  30;
      this.rate = 0;
    }

    if(this.term < this.minTerm) {
      this.term = this.minTerm;
    }

    if(this.desiredAmount < this.minAmount) {
      this.desiredAmount = this.minAmount;
    }

    this.isHome = 'Home' === this.$route.name;
  },
  created() {
    this.setFilteredData();
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/filter";
</style>


