<template>
  <div :class="['info__block', type]">
    <span class="info__icon"></span>
    <span
        class="info__label"
        v-if="('timer' === type && Object.keys(label).length)"
    >
      {{ label.minutes }}:{{ label.seconds }}
    </span>
    <span
        class="info__label"
        v-else
        v-html="label"
    ></span>
    <div class="info__description" v-html="description"></div>

    <router-link
        :to="{'name': route}"
        tag="div"
        class="btn__main info__btn"
        v-if="showButton"
    >
      <span v-html="buttonLabel"></span>
    </router-link>

    <span
        class="info__description-btn"
        v-if="showButton"
        v-html="buttonDescription"
    ></span>
  </div>
</template>

<script>

export default {
  name: "InfoBlock",
  props: {
    type: {
      type: String,
      default: 'premium',
    },
    label: {
      type: [String, Object],
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    showButton: {
      type: Boolean,
      default: false,
    },
    route: {
      type: String,
      default: '',
    },
    buttonLabel: {
      type: String,
      default: '',
    },
    buttonDescription: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      availableTypes: ['premium', 'timer', 'warning'],
    };
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/infoBlock";
</style>