<template>
    <div class="lang">
        <div
                class="lang__backdrop"
                v-if="open"
                @click="open = false"
        ></div>
        <div
                class="lang__select"
                @click="open = !open"
        >
            <span class="lang__icon"></span>
            <div class="lang__content">
                <span class="lang__value">{{ selectedLanguage.shortLabel }}</span>
                <span class="arrow-reverse" v-if="open"></span>
                <span class="arrow" v-else></span>
            </div>
            <div class="lang__items" v-if="open">
                <div
                        class="lang__item"
                        v-for="language in languages"
                        :key="language.code"
                        v-if="$ml.list.includes(language.code) && language.code !== $ml.current"
                        @click="select(language)"
                >
                    <img :src="language.flag" class="lang__flag">
                    <span class="lang__name">{{ language.label }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                selectedLanguage: {},
                open: false,
                languages: [
                    {
                        code: 'en',
                        label: 'English',
                        shortLabel: 'Eng',
                        flag: 'https://image.flaticon.com/icons/svg/555/555417.svg',
                    },
                    {
                        code: 'ru',
                        label: 'Русский',
                        shortLabel: 'Рус',
                        flag: 'https://image.flaticon.com/icons/svg/555/555451.svg',
                    },
                    {
                        code: 'ua',
                        label: 'Українська',
                        shortLabel: 'Укр',
                        flag: 'https://image.flaticon.com/icons/svg/555/555614.svg',
                    },
                ],
            };
        },
        methods: {
            select(language) {
                this.selectedLanguage = language;
                this.$ml.change(language.code)
            },
        },
        mounted() {
            this.selectedLanguage = this.languages.find(language => language.code === this.$ml.current);
        },
    }
</script>

<style scoped lang="scss">
    @import "~@/assets/style/lang-select";
</style>
