<template>
	<div></div>
</template>

<script>
export default {
	created() {
		const response = this.$store.dispatch('auth/logout');
		response.then(() => {
			this.$router.push('Login');
		})
	}
}
</script>