<template>
  <div class="offer">

    <Desktop
        v-if="!isMobile"
        :data="data"
    />

    <Mobile
        v-if="isMobile"
        :data="data"
    />
  </div>
</template>

<script>
import Desktop from "./partial/offer/Desktop";
import Mobile from "./partial/offer/Mobile";

export default {
  name: "Offer",
  components: {
    Mobile,
    Desktop,
  },
  props: {
    data: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      isMobile: window.innerWidth < 1240,
    };
  },
  created(){
    addEventListener('resize', () => {
      this.isMobile = innerWidth < 1240
    })
  },
}
</script>


<style scoped lang="scss">
  @import "~@/assets/style/offer";
</style>