<template>
  <div :class="['preloader', {type}]">
    <div class="preloader__content">
      <span class="icon preloader__icon"></span>
      <div class="preloader__title" v-html="$ml.get(title) || title"></div>
      <div class="preloader__description" v-html="$ml.get(description) || description"></div>

      <div :class="`preloader__microloan`" v-if="'microloan' === type">
        <router-link
            to="/"
            tag="div"
            class="btn__main microloan__btn"
        >
          <span>Получить премиум</span>
        </router-link>


        <span class="microloan__description">
           <span class="icon"></span>
          <span class="text">   Увеличенная вероятность одобрения по Вашей заявке по каждому предложению</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Preloader",
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
  }
}
</script>

<style lang="scss">
  body {
    background: #FFFFFF url("~@/assets/img/preloader-mob-bg.svg") no-repeat top !important;
  }
</style>

<style scoped lang="scss">
  @import "~@/assets/style/preloader";
</style>