<template>
  <div :class="['select', ...customClasses, {'open': isActive}, {'invalid': isInvalid}]" v-click-outside="onClickOutside">
    <div class="select__backdrop" @click="isActive = false"></div>
    <div :class="['select__input']">
      <input
          :class="['select', 'select__value']"
          v-model="selectedItem.label"
          @focus="isActive = true"
          :placeholder="placeholder"
          readonly
      >
      <div class="select__arrow" @click.prevent="isActive = !isActive">
        <span :class="['icon', {'icon-up': isActive, 'icon-down': !isActive}]"></span>
      </div>
    </div>
    <div class="select__dropdown">
      <ul class="select__list">
        <li
            v-for="(item, key) in items"
            :key="item.value"
            :class="['select__item', {'selected': item.value === selectedItem.value}]"
            @click.prevent="selectItem(item)"
        >{{ item.label }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Select",
  props: {
    defaultItem: [String, Number],
    items: {
      type: [Array, Object],
      default() {
        return []
      }
    },
    placeholder: {
      type: String,
      default: '',
    },
    isInvalid: {
      type: Boolean,
      default: false,
    },
    customClasses: {
      type: [Array, String],
      default: '',
    }
  },
  data() {
    return {
      selectedItem: {
        value: null,
        label: null,
      },
      isActive: false,
    };
  },
  methods: {
    selectItem(item) {
      this.isActive = false;
      this.selectedItem = item;

      this.$emit('selected', this.selectedItem);
    },
    onClickOutside() {
      this.isActive = false;
    },
    formatItems() {
      for(let i = 0; i < this.items.length; i++) {
        if(this.items[i].labelCode) {
          this.items[i].label = this.$ml.get(this.items[i].labelCode);
        }
      }
    },
  },
  mounted() {
    this.formatItems();

    let bus = this.$ml.bus;
    let _this = this;

    bus.$on('vueml-language-changed', function (newLanguage) {
      _this.formatItems();
    });

    if (this.defaultItem) {
      let item = this.items.find(item => item.value === this.defaultItem);
      if (item) {
        this.selectedItem = item;
      }
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/select";
</style>
