<template>
    <div v-show="isActive">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                required: true,
            },
            selected: {
                default: false,
            },
            tabClass: '',
            label: '',
            code: {
              type: String,
              default: 'microloan',
            }
        },
        data: () => {
            return {
                isActive: false,
            };
        },
        mounted() {
            this.isActive = this.selected;
        }

    }
</script>

<style scoped lang="scss">
    @import "~@/assets/style/tabs";
</style>
