<template>
  <div>
    <div class="tabs">
      <div
          v-for="tab in tabs"
          v-if="tab.isActive && isHome"
          class="tab__label"
      >
        <span v-if="tab.isActive">{{ tab.label }}</span>
      </div>
      <ul class="tabs__labels">
        <li
            v-for="tab in tabs"
            :class="['tabs__item', tab.tabClass, {'active': tab.isActive}]"
            @click="selectTab(tab)"
        >
          <span class="tabs__label">{{ tab.name }}</span>
        </li>
      </ul>
    </div>

    <div class="tabs-details">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      tabs: [],
      isHome: true,
    };
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name === selectedTab.name);
      });

      this.$emit('changeTab', selectedTab.code);
    }
  },
  mounted() {
    this.isHome = 'Home' === this.$route.name;
  },
  created() {
    this.tabs = this.$children;
  },

}
</script>

<style scoped lang="scss">
@import "~@/assets/style/tabs";
</style>
