@import '../colors';

.offer {
  &__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0 3px 25px rgba(159, 169, 188, 0.24);
    border-radius: 12px;

    padding: 15px 25px;
  }

  &__logo {
    width: 160px;
    height: 56px;
    max-width: 160px;
    max-height: 56px;
    margin: 24px 0 22px 0;

    img {
      max-width: 160px;
      max-height: 56px;
    }
  }

  &__calc {
    margin: 12px 32px 0 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      border-bottom: 1px solid #D7D7D7;
      border-radius: 5px;
      width: 100%;
      top: 48%;
      max-width: 452px;
    }
  }

  &__old-commission {
    font-family: Inter-ExtraBold, sans-serif;
    font-weight: 800;
    font-size: 13px;
    line-height: 17px;
    text-decoration-line: line-through;
    margin-right: 5px;
  }

  &__apply {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-btn {
      font-family: Inter-SemiBold, sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;

      padding: 18px 37px 17px 37px;
      margin-left: 4px;
    }
  }
}

.info {
  &__label {
    font-size: 12px;
    line-height: 15px;
    color: $offerChanceLabel;
    margin-right: 5px;
  }

  &__value {
    color: $offerChanceValue;
    font-size: 10px;
    line-height: 12px;
    text-decoration-line: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.calc {
  &__column {
    display: flex;
    flex-direction: column;
    &-first {
      width: 138px;
    }

    &-second {
      margin-left: 32px;
      width: 112px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        left: -36px;
        top: 23px;
        display: block;
        background-image: url("~@/assets/img/plus.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 30px;
      }
    }

    &-third {
      margin-left: 57px;
      width: 107px;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        left: -36px;
        top: 23px;
        display: block;
        background-image: url("~@/assets/img/equal.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 30px;
      }
    }
  }
}

.column {
  &__label {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 17px;

    color: $main;
    opacity: 0.67;
  }

  &__description {
    font-family: Inter-ExtraBold, sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
    margin-top: 5px;

    color: $main;

    .value {
      margin-right: 5px;
    }
  }

  &__top {
    margin-bottom: 22px;
  }

  &__bottom {
    .column__description {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
