<template>
  <div class="container">
    <div :class="['card__content', `card__${status}`]">
      <span class="card__icon"></span>
      <div class="card__description">
        <span class="main">{{ $ml.get(`registration.cardPopUp.${status}.description.main`) }}</span>
        <span class="sub" v-if="showSubDescription">{{ $ml.get(`registration.cardPopUp.${status}.description.sub`) }}</span>
      </div>

      <div class="btn__next card__btn">
        <span>{{ $ml.get(`registration.cardPopUp.${status}.btn`) }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Success",
  props: {
    status: {
      type: String,
      default: 'success',
    },
    showSubDescription: {
      type: Boolean,
      default: false,
    },
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/cardPopUp";
</style>