<template>
  <div id="app">
    <component
        :is="component"
        :user="user"
    />
      <div class="wrapper">
        <router-view />
      </div>
    <Footer />
  </div>
</template>

<script>
  import Header from '@/components/partial/Header.vue'
  import HeaderAuth from '@/components/partial/auth/Header.vue'
  import Footer from '@/components/partial/Footer.vue'

  export default {
    name: 'App',
    components: {
      Header,
      HeaderAuth,
      Footer,
    },
    computed: {
	    token() {
		    return this.$store.getters['auth/token'];
	    },
      user() {
        return this.$store.getters['auth/user'];
      },
      component() {
        if (Object.keys(this.user).length > 0) {
          return 'HeaderAuth'
        }

        return 'Header'
      },
    },
    watch: {
      user() {
        if (Object.keys(this.token).length > 0 && !Object.keys(this.user).length > 0) {
            this.$store.dispatch('auth/getUser');
        }
      }
    },
    created() {
      this.$store.dispatch('settings/getSettings');
    }
  }
</script>
