<template>
  <div class="addCardFinish">
    <div class="addCardFinish__main">
      <div class="addCardFinish__form-group">
        <div class="addCardFinish__label">
          <span class="top" v-html="$ml.get('registration.addCardFinishStep.label.top')"></span>
          <span class="bottom" v-html="$ml.get('registration.addCardFinishStep.label.bottom')"></span>
        </div>

        <div class="addCardFinish__form">
          <input
              :class="['card-form__number']"
              type="text"
              name="card-number"
              v-mask="'####-####-####-####'"
              :placeholder="$ml.get('registration.addCardFinishStep.placeholders.card.number')"
              v-model="number"
          >
          <input
              :class="['card-form__valid']"
              type="text"
              name="card-valid"
              v-mask="'## / ##'"
              :placeholder="$ml.get('registration.addCardFinishStep.placeholders.card.valid')"
              v-model="valid"
          >

          <div class="card__valid-group">
            <VSelect
                :customClasses="['addCardFinish']"
                id="validMonth"
                :placeholder="$ml.get('registration.addCardFinishStep.placeholders.card.month')"
                :items="monthItems()"
                :defaultItem="validMonth"
                @selected="setMonth"
            />
            <VSelect
                :customClasses="['addCardFinish']"
                id="validYear"
                :placeholder="$ml.get('registration.addCardFinishStep.placeholders.card.year')"
                :items="yearItems()"
                :defaultItem="validYear"
                @selected="setYear"
            />
          </div>

          <span class="card-form__line-valid"></span>
          <span class="card-form__line-valid-text" v-html="$ml.get('registration.addCardFinishStep.description.date')"></span>

          <input
              :class="['card-form__cvv']"
              autocomplete="off"
              type="password"
              name="card-cvv"
              v-mask="'###'"
              :placeholder="$ml.get('registration.addCardFinishStep.placeholders.card.cvv')"
              v-model="cvv"
          >

          <span class="card-form__line-cvv"></span>
          <span class="card-form__line-cvv-text" v-html="$ml.get('registration.addCardFinishStep.description.cvv')"></span>
        </div>
      </div>
      <div class="addCardFinish__info">
        <span class="info__logo"></span>
        <span class="info__text" v-html="$ml.get('registration.addCardFinishStep.info')"></span>
      </div>
    </div>


    <div class="btn__next addCardFinish__btn" @click.prevent="nextStep">
      <span v-html="$ml.get('common.btn.activate')"></span>
    </div>
  </div>
</template>

<script>
import VSelect from "../../components/Select";
import {required, requiredIf} from "vuelidate/lib/validators";
import {getMonthItems, getYearItems} from "../../utils/DateUtils";

export default {
  name: "addCardFinishStep",
  components: {
    VSelect,
  },
  validations: {
    number: {
      required,
    },
    valid: {
      required,
    },
    cvv: {
      required: requiredIf(() => {
        return window.innerWidth >= 1240
      }),
    },
    validMonth: {
      required: requiredIf(() => {
        return window.innerWidth < 1240
      }),
    },
    validYear: {
      required: requiredIf(() => {
        return window.innerWidth < 1240
      }),
    },
  },
  data() {
    return {
      stepName: 'addCardFinish',

      number: null,
      valid: null,
      validMonth: null,
      validYear: null,
      cvv: null,
    };
  },
  methods: {
    nextStep() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      this.$emit('nextStep', this.stepName);
    },
    monthItems() {
      return getMonthItems();
    },
    yearItems() {
      let year = new Date().getFullYear();
      return getYearItems(new Date().getFullYear(), (parseInt(year) + parseInt(10)));
    },
    setMonth(month) {
      this.validMonth = month.value;
    },
    setYear(year) {
      this.validYear = year.value;
    },
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>