<template>
  <div class="addCard">
    <div class="addCard__label">
      <span class="top" v-html="$ml.get('registration.addCardStep.label.top')"></span>
      <span class="bottom" v-html="$ml.get('registration.addCardStep.label.bottom')"></span>
    </div>


    <div class="addCard__description" v-html="$ml.get('registration.addCardStep.description')"></div>

    <span class="icon icon-card addCard__icon"></span>

    <div class="btn__next registration__btn addCard__btn" @click.prevent="nextStep">
      <span v-html="$ml.get('common.btn.continue')"></span>
    </div>

    <div class="addCard__policy">
      <input type="checkbox" id="remember-me" name="remember-me" tabindex="1" checked>
      <label class="checkbox__checkmark" for="remember-me">
        <span class="checkbox__confirm-mob" v-html="$ml.get('registration.addCardStep.agreement')"></span>
        <div class="checkbox__title">
          <span class="checkbox__confirm" v-html="$ml.get('registration.addCardStep.agreement')"></span>
          <span class="text-medium-bold text-blue" v-html="$ml.get('registration.addCardStep.agreementPolicy')"></span>
          <span v-html="$ml.get('registration.addCardStep.agreementNotifed')"></span>
        </div>
      </label>
    </div>

    <div class="addCard__safety">
      <span class="label" v-html="$ml.get('registration.addCardStep.safety.label')"></span>

      <div class="content">
        <div class="top" v-html="$ml.get('registration.addCardStep.safety.content.top')"></div>
        <div class="bottom" v-html="$ml.get('registration.addCardStep.safety.content.bottom')"></div>
      </div>
    </div>

    <div class="btn__next removeCard__btn" @click.prevent="removeCard">
      <span v-html="$ml.get('common.btn.removeCard')"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "addCardStep",
  data() {
    return {
      stepName: 'addCard',
    };
  },
  methods: {
    nextStep() {
      const response = this.$store.dispatch('registration/addCard');
      response.then(resp => {
        // this.$router.push({name: 'Profile'})
      }).catch(err => console.log(err))
    },
    removeCard() {
      this.$router.push({name: 'Unsubscribe'})
    },
  }
}
</script>

<style scoped lang="scss">
 @import "~@/assets/style/registration";
</style>
