<template>
  <div class="addCardConfirm">
    <div class="addCardConfirm__content" :style="`background-image: url('/img/confirm-card-bg-alfa.svg')`">
      <div class="addCardConfirm__label" v-html="$ml.with('bankName', bankName).get('registration.addCardConfirm.label')"></div>
      <div class="addCardConfirm__description" v-html="$ml.with('bankName', bankName).get('registration.addCardConfirm.description')"></div>

      <span class="icon addCardConfirm__icon"></span>

      <div class="addCardConfirm__input">
        <input
            type="text"
            :placeholder="$ml.get('registration.addCardConfirm.placeholders.code')">
        <span class="icon"></span>
      </div>

      <div class="addCardConfirm__buttons">
        <div class="btn__next addCardConfirm__send-btn">
          <span>{{ $ml.get('common.btn.send') }}</span>
        </div>
        <div class="btn__next addCardConfirm__cancel-btn">
          <span>{{ $ml.get('common.btn.later') }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "addCardConfirmStep",
  data() {
    return {
      stepName: 'addCardConfirm',
      bankName: 'Альфа Банк',
    };
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>