<template>
  <div class="checkData">
    <span class="checkData__label" v-html="$ml.with('name', name).with('comma', name === ' ' ? '' : ',').get('registration.checkDataStep.title')"></span>

    <div class="checkData__content">
      <div class="checkData__progress">
        <div class="checkData__total-verified">
          <div class="checkData__items">
            <div class="checkData__item">
              <span
                  ref="check-first"
                  v-text="firstItem.length > 0 ? $ml.get(firstItem) : ''"
              ></span>
              <span
                  class="icon icon-success checkData__icon"
                  v-if="firstItem"
              ></span>
            </div>
            <div class="checkData__item">
              <span
                  class="active"
                  ref="check-second"
                  v-text="secondItem.length > 0 ? $ml.get(secondItem) : ''"
              ></span>
              <span
                  class="icon icon-check checkData__icon checkData__icon-check"
                  v-if="secondItem"
              ></span>
            </div>
          </div>
        </div>


        <div class="checkData__loader">
          <radial-progress-bar
              :diameter="189"
              :completed-steps="progress"
              :total-steps="totalProgress"
              :innerStrokeColor="'#F9FFFB'"
              :startColor="'#3DCC79'"
              :stopColor="'#3DCC79'"
          >
            <span>{{ progress }}%</span>
          </radial-progress-bar>

          <div class="checkData__items mobile">
            <div class="checkData__item">
              <span
                  ref="check-first"
                  v-text="firstItem.length > 0 ? $ml.get(firstItem) : ''"
              ></span>
              <span
                  class="icon icon-success checkData__icon"
                  v-if="firstItem"
              ></span>
            </div>
            <div class="checkData__item">
              <span
                  class="active"
                  ref="check-second"
                  v-text="secondItem.length > 0 ? $ml.get(secondItem) : ''"
              ></span>
              <span
                  class="icon icon-check checkData__icon checkData__icon-check"
                  v-if="secondItem"
              ></span>
            </div>
          </div>
        </div>

        <div class="checkData__description">
          <span class="top" v-html="$ml.get('registration.checkDataStep.description.top')"></span>
          <span class="bottom" v-html="$ml.get('registration.checkDataStep.description.bottom')"></span>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress'

export default {
  name: "CheckDataStep",
  components: {
    RadialProgressBar,
  },
  data() {
    return {
      stepName: 'checkData',
      progress: 0,
      totalProgress: 100,
      totalCheck: 0,

      firstItem: '',
      secondItem: '',

      checkIndex: {
        first: null,
        second: 0,
      },
      checkDataInterval: null,
    };
  },
  methods: {
    checkData() {
      if(this.progress + this.step >= 100) {
        clearInterval(this.checkDataInterval);
        this.nextStep();
        return;
      }
      if(!this.checkDataItems.length > 0) {
        clearInterval(this.checkDataInterval);
      }

      if(null === this.checkIndex.first) {
        this.checkIndex.first = 0;
      } else {
        this.checkIndex.first++;
      }
      this.checkIndex.second++;

      this.firstItem = this.checkDataItems[this.checkIndex.first];
      this.secondItem = this.checkDataItems[this.checkIndex.second];

      if(typeof this.firstItem === 'undefined') {
        this.firstItem = '';
      }
      if(typeof this.secondItem === 'undefined') {
        this.secondItem = '';
      }

      this.progress += Math.ceil(this.step);
      if(this.progress > 100) {
        this.progress = 100;
      }
      this.totalCheck = parseInt(Math.random() * (999 - (21 + this.totalCheck)) + (21 + this.totalCheck));
    },
    nextStep() {
      this.$store.dispatch('registration/totalCheck', this.totalCheck)
      this.$emit('nextStep', this.stepName);
    },
  },
  computed: {
    name() {
      return this.$store.getters['registration/name'];
    },
    checkDataItems() {
      return this.$store.getters['registration/checkDataItems'];
    },
    timeOut() {
      return Math.abs(60000 / this.checkDataItems.length);
    },
    step() {
      return Math.abs(100 / this.checkDataItems.length);
    },
  },
  created() {
    if(this.checkDataItems.length && typeof this.checkDataItems[0] !== 'undefined') {
      this.secondItem = this.checkDataItems[0];
    }

    if(this.timeOut > 0) {
      this.checkDataInterval = setInterval(() => this.checkData(), this.timeOut);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>