<template>
  <div class="checkDataFinish">
    <div class="checkDataFinish__label">
      <span class="top" v-html="$ml.with('name', name).with('comma', name === ' ' ? '' : ',').get('registration.checkDataFinishStep.label.top')"></span>
      <span class="bottom" v-html="$ml.get('registration.checkDataFinishStep.label.bottom')"></span>
    </div>


    <div class="checkData__content checkDataFinish__content">
      <div class="checkData__progress">
<!--        <div class="checkDataFinish__total-verified">-->
<!--          <span class="text-semi-bold">{{ $ml.get('registration.checkDataStep.dataVerified') }} </span>-->
<!--          <span class="text-green text-semi-bold value">{{ totalCheck }}</span>-->
<!--        </div>-->


        <div class="checkData__loader checkDataFinish__loader">
          <radial-progress-bar
              :diameter="189"
              :completed-steps="progress"
              :total-steps="totalProgress"
              :innerStrokeColor="'#F9FFFB'"
              :startColor="'#3DCC79'"
              :stopColor="'#3DCC79'"
          >
            <span>OK</span>
          </radial-progress-bar>
        </div>

        <div class="checkData__description checkDataFinish__description" v-html="$ml.get('registration.checkDataFinishStep.description')"></div>
      </div>
    </div>

    <div class="btn__next registration__btn checkDataFinish__btn" @click.prevent="nextStep">
      <span v-html="$ml.get('common.btn.continue')"></span>
    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress'

export default {
  name: "CheckDataFinishStep",
  components: {
    RadialProgressBar,
  },
  data() {
    return {
      stepName: 'checkDataFinish',
      progress: 100,
      totalProgress: 100
    };
  },
  methods: {
    nextStep() {
      this.$emit('nextStep', this.stepName);
    },
  },
  computed: {
    name() {
      return this.$store.getters['registration/name'];
    },
    totalCheck() {
      return this.$store.getters['registration/totalCheck'];
    },
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>
