<template>
  <div class="registration__step">
    <div class="registration__mail">
      <div class="form-group form-group__registration-email">
        <label for="email" v-html="$ml.get('registration.confirmMailStep.email')"></label>

        <div class="registration__mail-group">
          <div class="input__group">
            <input
                :class="['input', {'invalid': this.$v.$invalid}]"
                type="text"
                id="email"
                :placeholder="$ml.get('registration.confirmMailStep.placeholders.email')"
                v-model.trim="email"
                :readonly="!isChange"
                @blur="saveMail"
                @change="saveMail"
                ref="mail"
            >
            <span
                class="email-step__btn-change-mob"
                @click.prevent="changeMail"
            >
           {{ $ml.get('common.btn.change') }}
        </span>
          </div>

          <div
              :class="['btn__next btn__confirm-email', 'email-step__btn', {'disabled': this.$v.$invalid}]"
              @click.prevent="sendMail"
          >
            <span>{{ $ml.get('common.btn.confirmMail') }}</span>
          </div>
        </div>

        <span
            class="btn__change-email email-step__btn-change text-bittersweet"
            @click.prevent="changeMail"
        >
           {{ $ml.get('common.btn.changeMail') }}
        </span>

        <span class="description text-grey-1" v-html="$ml.get('registration.confirmMailStep.info')"></span>
      </div>

      <div class="form-group form-group__registration-email" v-if="codeShow">
        <label for="code" v-html="$ml.get('registration.confirmMailStep.code')"></label>

        <div class="registration__mail-group">
          <div class="input__group code">
            <input
                :class="['input', {'invalid': this.$v.$invalid}]"
                type="text"
                id="code"
                :placeholder="$ml.get('registration.confirmMailStep.placeholders.code')"
                v-model.trim="code"
            >
      </div>
        </div>
      </div>

    </div>

    <div class="btn__next registration__btn email-step__btn-register" @click.prevent="nextStep">
      <span>{{ $ml.get('common.btn.registration') }}</span>
    </div>
  </div>
</template>

<script>
import {email, minLength, maxLength} from "vuelidate/lib/validators";

export default {
  name: "ConfirmMailStep",
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  validations: {
    email: {
      email,
    },
    code: {
      minLength: minLength(4),
      maxLength: maxLength(4),
    },
  },
  data() {
    return {
      stepName: 'confirmMail',
      isChange: false,
      email: null,
      code: null,
      codeShow: true,
    };
  },
  methods: {
    changeMail() {
      this.isChange = true;
      this.$refs['mail'].focus();
      this.codeShow = false;
    },
    saveMail() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      this.isChange = false;
      this.$store.dispatch('registration/saveData', {
        email: this.email,
      });

      this.$v.$touch();
    },
    sendMail() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const response = this.$store.dispatch('registration/sendMail');

      response.then(resp => {
        if(resp.status) {
          this.codeShow = true;
        }
      }).catch(err => console.log(err));
    },
    nextStep() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const response = this.$store.dispatch('registration/checkMail', {code: this.code});

      response.then(resp => {
        if(resp.status) {
          this.$emit('nextStep', this.stepName);
        }
      }).catch(err => console.log(err));
    },
    setDataFromState() {
      this.email = this.data.email || this.$store.getters['registration/email'] || null;
    },
  },
  created() {
    this.setDataFromState();
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>