<template>
  <div class="registration__step">
    <div class="registration__mail-success">
      <span class="icon icon-email-success email-success-step__icon"></span>

      <div class="description" v-html="$ml.with('email', email).get('registration.confirmMailFinishStep.description')"></div>
    </div>

    <div class="btn__next registration__btn email-step__btn-register" @click.prevent="nextStep">
      <span>{{ $ml.get('common.btn.registration') }}</span>
    </div>
  </div>
</template>

<script>

export default {
 name: "ConfirmMailFinishStep",
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      stepName: 'confirmMailFinish',
    };
  },
  methods: {
    nextStep() {
      this.$emit('nextStep', this.stepName);
    },
  },
  computed: {
    email() {
      return this.$store.getters['registration/email'];
    },
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>