<template>
  <div class="registration__step">
    <div class="registration__phone">
      <div class="form-group form-group__registration">
        <label for="phone">{{ $ml.get('registration.confirmPhoneStep.phone') }}: <span
            class="require">*</span></label>
        <masked-input
            id="phone"
            :class="['input', {'invalid': ($v.phone.$dirty && !$v.phone.required) || ($v.phone.$dirty && !$v.phone.minLength) || ($v.phone.$dirty && !$v.phone.maxLength)}]"
            mask="\+\38 (111) 111 11 11"
            type="tel"
            :placeholder="$ml.get('registration.confirmPhoneStep.placeholders.phone')"
            v-model.trim="phone"
            @blur="saveToState('phone')"
            @input="saveToState('phone')"
        />
      </div>

      <div class="form-group form-group__registration" v-if="codeShow">
        <label for="code">{{ $ml.get('registration.confirmPhoneStep.code') }}: <span
            class="require">*</span></label>
        <input
            ref="code"
            :class="['input', {'invalid': ($v.code.$dirty && !$v.code.required) || ($v.code.$dirty && !$v.code.minLength) || ($v.code.$dirty && !$v.code.maxLength)}]"
            type="text"
            id="code"
            :placeholder="$ml.get('registration.confirmPhoneStep.placeholders.code')"
            v-model.trim="code"
            @change="changeCode"
        >
      </div>
    </div>

    <div
        class="btn__next registration__btn mt-1"
        @click.prevent="sendCode"
        v-if="!codeShow"
    >
      <span>{{ $ml.get('common.btn.sendCode') }}</span>
    </div>

    <div
        class="phone__control"
    >
      <div
          class="btn__next registration__btn mt-1"
          @click.prevent="nextStep"
          v-if="codeShow"
      >
        <span>{{ $ml.get('common.btn.confirmCode') }}</span>
      </div>

      <div
          class="btn__next registration__btn mt-1 ml-20"
          @click.prevent="sendCode"
          v-if="codeShow && sendAccess"
      >
        <span>{{ $ml.get('common.btn.reSendCode') }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import maskedInput from "vue-masked-input";
import {minLength, maxLength, required} from "vuelidate/lib/validators";

export default {
  name: "ConfirmPhoneStep",
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  components: {
    maskedInput,
  },
  validations: {
    phone: {
      required,
      minLength: minLength(19),
      maxLength: maxLength(19),
    },
    code: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(4),
    },
  },
  data() {
    return {
      stepName: 'confirmPhone',
      phone: false,
      code: null,
      codeShow: false,
      sendAccess: true,
    };
  },
  methods: {
    saveToState(field) {
      const data = {
        field: field,
        data: this[field],
      };
      this.$store.dispatch('registration/saveField', data);
    },
    sendCode() {
      if ((this.$v.phone.$dirty && !this.$v.phone.required) || (this.$v.phone.$dirty && !this.$v.phone.minLength) || (this.$v.phone.$dirty && !this.$v.phone.maxLength).$invalid) {
        this.$v.$touch();
        return;
      }

      const response = this.$store.dispatch('registration/sendPhoneCheckCode');

      response.then(resp => {
        if(resp.status) {
          this.codeShow = true;
          this.sendAccess = false;

          setTimeout(() => {
            this.sendAccess = true;
          }, 30000);
        }
      }).catch(err => console.log(err));
    },
    nextStep() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const response = this.$store.dispatch('registration/checkPhone', this.code);

      response.then(resp => {
        if(resp.data.status) {
          this.$store.dispatch('auth/setAuthToken', resp.data.token);
          this.$store.dispatch('registration/setRegistrationStatus', true);
          this.$emit('nextStep', this.stepName);
        }
      }).catch(err => {
        this.$refs['code'].classList.add('invalid');
      });
    },
    setDataFromState() {
      this.phone = this.data.phone || this.$store.getters['registration/phone'] || null;
    },
    changeCode() {
      if(this.$refs['code'].classList.contains('invalid')) {
        this.$refs['code'].classList.remove('invalid');
      }
    },
  },
  created() {
    this.setDataFromState();
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>