<template>
  <div class="registration__step">
    <div class="registration__main">
      <div class="form-group form-group__registration">
        <label for="last_name">{{ $ml.get('registration.firstStep.lastName') }}: <span class="require">*</span></label>
        <input
            :class="['input', {'invalid': $v.lastName.$dirty && !$v.lastName.required}]"
            type="text"
            id="last_name"
            :placeholder="$ml.get('registration.firstStep.placeholders.lastName')"
            v-model.trim="lastName"
            @blur="saveToState('lastName')"
        >
      </div>

      <div class="form-group form-group__registration">
        <label for="first_name">{{ $ml.get('registration.firstStep.firstName') }}: <span
            class="require">*</span></label>
        <input
            :class="['input', {'invalid': $v.firstName.$dirty && !$v.firstName.required}]"
            type="text"
            id="first_name"
            :placeholder="$ml.get('registration.firstStep.placeholders.firstName')"
            v-model.trim="firstName"
            @blur="saveToState('firstName')"
        >
      </div>

      <div class="form-group form-group__registration">
        <label for="middle_name">{{ $ml.get('registration.firstStep.middleName') }}: <span
            class="require">*</span></label>
        <input
            :class="['input', {'invalid': $v.middleName.$dirty && !$v.middleName.required}]"
            type="text"
            id="middle_name"
            :placeholder="$ml.get('registration.firstStep.placeholders.middleName')"
            v-model.trim="middleName"
            @blur="saveToState('middleName')"
        >
      </div>

      <div class="form-group form-group__registration">
        <label for="gender">{{ $ml.get('registration.firstStep.gender') }}: <span class="require">*</span></label>
        <VSelect
            :isInvalid="$v.gender.$dirty && !$v.gender.required"
            id="gender"
            :placeholder="$ml.get('registration.firstStep.placeholders.gender')"
            :items="genderItems"
            :defaultItem="gender"
            @selected="setGender"
        />
      </div>

      <div class="form-group form-group__registration">
        <label for="birthday">{{ $ml.get('registration.firstStep.birthday') }}: <span class="require">*</span></label>
        <date-picker
          :class="[{'invalid': $v.birthday.$dirty && !$v.birthday.required}]"
          id="birthday"
          v-model="birthday"
          format="DD/MM/YYYY"
          valueType="DD/MM/YYYY"
          v-mask="'##/##/####'"
          prefix-class="xmx"
          :placeholder="$ml.get('registration.firstStep.placeholders.birthday')"
          @pick="saveToState('birthday')"
          @clear="saveToState('birthday')"
        />
      </div>

      <div class="form-group form-group__registration">
        <label for="city">{{ $ml.get('registration.firstStep.city') }}: <span class="require">*</span></label>
        <VSelect
            :isInvalid="$v.city.$dirty && !$v.city.required"
            id="city"
            :placeholder="$ml.get('registration.firstStep.placeholders.city')"
            :items="cityItems"
            :defaultItem="city"
            @selected="setCity"
        />
      </div>
    </div>

    <div class="btn__next registration__btn mt-1" @click.prevent="nextStep">
      <span>{{ $ml.get('common.btn.next') }}</span>
    </div>
  </div>
</template>

<script>
import {required} from 'vuelidate/lib/validators'
import VSelect from "../../components/Select";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from 'moment';


export default {
  name: "FirstStep",
  components: {
    VSelect,
      DatePicker,
  },
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    },
  },
  validations: {
    lastName: {
      required,
    },
    firstName: {
      required,
    },
    middleName: {
      required,
    },
    birthday: {
      required,
    },
    gender: {
      required,
    },
    city: {
      required,
    },
  },
  data() {
    return {
      stepName: 'first',
      genderItems: [
        {
          value: 'male',
          label: '',
          labelCode: 'common.genders.male',
        },
        {
          value: 'female',
          label: '',
          labelCode: 'common.genders.female',
        },
      ],
      isBirthdayOpen: false,


      lastName: null,
      firstName: null,
      middleName: null,
      birthday: null,
      gender: 'male',
      city: null,
    };
  },
  methods: {
    saveToState(field) {
        const data = {
          field: field,
          data: this[field],
        };
        this.$store.dispatch('registration/saveField', data);
    },
    setGender(gender) {
      this.gender = gender.value;
      this.saveToState('gender');
    },
    setCity(city) {
      this.city = city.value;
      this.saveToState('city');
    },
    nextStep() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const data = {
        lastName: this.lastName,
        firstName: this.firstName,
        middleName: this.middleName,
        birthday: this.birthday,
        gender: this.gender,
        city: this.city,
      };

      this.$store.dispatch('registration/saveData', data);
      this.$emit('nextStep', this.stepName);
    },
    setDataFromState() {
      this.lastName = this.data.lastName || null;
      this.firstName = this.data.firstName || null;
      this.middleName = this.data.middleName || null;
      this.birthday = this.data.birthday || null;
      this.gender = this.data.gender || null;
      this.city = this.data.city || null;
    },
    openBirthdayPicker() {
      this.$refs.birthday.showCalendar();
      this.$refs.birthday.$el.querySelector('input').focus();
    },
    birthdayPickerSelected(birthday) {
      this.birthday = this.$dateUtils.formatDate(birthday, 'dd/MM/yyyy', 'ua');
      this.saveToState('birthday');
    },
  },
  computed: {
    cityItems() {
      return this.$store.getters['registration/cities'];
    },
  },
  created() {
    this.setDataFromState();
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";
</style>
