<template>
  <div class="registration__step">
    <div class="registration__main">
      <div class="form-group form-group__registration">
        <label for="email">{{ $ml.get('registration.secondStep.email') }}:</label>
        <input
            :class="['input', {'invalid': $v.email.$dirty && !$v.email.email}]"
            type="text"
            id="email"
            :placeholder="$ml.get('registration.secondStep.placeholders.email')"
            v-model.trim="email"
            @blur="saveToState('email')"
        >
        <span class="registration__probability" v-html="$ml.with('probability', 12).get('registration.secondStep.probability')"></span>
      </div>

<!--      <div class="form-group form-group__registration">-->
<!--        <label for="email">{{ $ml.get('registration.secondStep.phone') }}:</label>-->
<!--        <masked-input-->
<!--            id="phone"-->
<!--            :class="['input', {'invalid': ($v.phone.$dirty && !$v.phone.required) || ($v.phone.$dirty && !$v.phone.minLength) || ($v.phone.$dirty && !$v.phone.maxLength)}]"-->
<!--            mask="\+\38 (111) 111 11 11"-->
<!--            type="tel"-->
<!--            :placeholder="$ml.get('registration.secondStep.placeholders.phone')"-->
<!--            v-model.trim="phone"-->
<!--            @blur="saveToState('phone')"-->
<!--        />-->
<!--      </div>-->


      <div class="form-group form-group__registration employment">
        <label for="employment">{{ $ml.get('registration.secondStep.employment') }}:</label>
        <VSelect
            id="employment"
            :placeholder="$ml.get('registration.secondStep.placeholders.employment')"
            :items="employmentItems"
            :defaultItem="employment"
            @selected="setEmployment"
        />
        <span class="registration__probability" v-html="$ml.with('probability', 12).get('registration.secondStep.probability')"></span>
      </div>

      <div class="form-group form-group__registration workPeroid">
        <label for="workPeriod">{{ $ml.get('registration.secondStep.workPeriod') }}:</label>
        <VSelect
            id="workPeriod"
            :placeholder="$ml.get('registration.secondStep.placeholders.workPeriod')"
            :items="workPeriodItems"
            :defaultItem="workPeriod"
            @selected="setWorkPeriod"
        />
        <span class="registration__probability" v-html="$ml.with('probability', 4).get('registration.secondStep.probability')"></span>
      </div>

    </div>

    <div class="btn__next registration__btn second-step__btn" @click.prevent="nextStep">
      <span>{{ $ml.get('common.btn.next') }}</span>
    </div>
  </div>
</template>

<script>
import VSelect from "../Select";
import maskedInput from "vue-masked-input";
import {required, email, minLength, maxLength} from "vuelidate/lib/validators";

export default {
  name: "SecondStep",
  components: {
    VSelect,
    maskedInput,
  },
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  validations: {
    email: {
      email,
    },
    // phone: {
    //   required,
    //   minLength: minLength(19),
    //   maxLength: maxLength(19),
    // },
  },
  data() {
    return {
      stepName: 'second',

      email: null,
      // phone: null,
      employment: null,
      workPeriod: null,
    };
  },
  methods: {
    setEmployment(employment) {
      this.employment = employment.value;
      this.saveToState('employment');
    },
    setWorkPeriod(workPeriod) {
      this.workPeriod = workPeriod.value;
      this.saveToState('workPeriod');
    },
    setDataFromState() {
      this.email = this.data.email || null;
      this.employment = this.data.employment || null;
      this.workPeriod = this.data.workPeriod || null;
    },
    nextStep() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const data = {
        email: this.email,
        // phone: this.phone,
        employment: this.employment,
        workPeriod: this.workPeriod,
      };

      this.$store.dispatch('registration/saveData', data);
      this.$emit('nextStep', this.stepName);
    },
    saveToState(field) {
      const data = {
        field: field,
        data: this[field],
      };
      this.$store.dispatch('registration/saveField', data);
    },
  },
  computed: {
    workPeriodItems() {
      return this.$store.getters['registration/workPeriod'];
    },
    employmentItems() {
      return this.$store.getters['registration/employments'];
    },
  },
  created() {
    this.setDataFromState();
  },
}
</script>

<style scoped lang="scss">
  @import "~@/assets/style/registration";

  .workPeroid {
    z-index: 1 !important;
  }

  .employment {
    z-index: 2 !important;
  }
</style>
