<template>
  <div class="registration__step">
    <div class="registration__main">

      <div class="form-group form-group__registration">
        <label for="password">{{ $ml.get('registration.thirdStep.password') }}:</label>
        <input
            :class="['input', {'invalid': ($v.password.$dirty && !$v.password.required || $v.password.$dirty && !$v.password.minLength )}]"
            :type="inputType"
            id="password"
            :placeholder="$ml.get('registration.thirdStep.placeholders.password')"
            v-model.trim="password"
        >
      </div>

      <div class="form-group form-group__registration">
        <label for="password-repeat">{{ $ml.get('registration.thirdStep.repeatPassword') }}:</label>
        <input
            :class="['input', {'invalid': ($v.repeatPassword.$dirty && !$v.repeatPassword.required || $v.repeatPassword.$dirty && !$v.repeatPassword.minLength)}]"
            :type="inputType"
            id="password-repeat"
            :placeholder="$ml.get('registration.thirdStep.placeholders.repeatPassword')"
            v-model.trim="repeatPassword"
        >
      </div>

      <div class="form-group form-group__registration">
        <div class="registration__generate-btn" @click.prevent="generatePassword">
          <span>{{ $ml.get('common.btn.generatePassword') }}</span>
        </div>
      </div>


    </div>

    <div class="btn__next registration__btn third-step__btn" @click.prevent="nextStep">
      <span>{{ $ml.get('common.btn.registration') }}</span>
    </div>
  </div>
</template>

<script>
import {required, minLength, sameAs} from "vuelidate/lib/validators";

export default {
  name: "ThirdStep",
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  validations: {

    password: {
      required,
      minLength: minLength(6)
    },
    repeatPassword: {
      sameAsPassword: sameAs('password')
    },
  },
  data() {
    return {
      stepName: 'third',
      passwordMinLength: 6,
      inputType: 'text',

      password: null,
      repeatPassword: null,
    };
  },
  methods: {
    nextStep() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const response = this.$store.dispatch('registration/registration', {
        password: this.password,
      });

      response
          .then(resp => {
            if (resp.status) {
              this.$emit('nextStep', this.stepName);
            }
          })
          .catch(err => console.log(err))
      ;
    },
    generatePassword() {
      this.password = this.repeatPassword = Math.random().toString(36).slice((-1) * this.passwordMinLength);
    },
  },
}
</script>


<style scoped lang="scss">
@import "~@/assets/style/registration";
</style>